@import (reference) "src/_variables";

.grading-question {
	padding-left: 0.2em;
	padding-right: 0.2em;

	.around-heading {
		padding-bottom: 2em;
	}
	.add-answer {
		padding-left: 4em;
	}
	.add-answer-title {
		padding-bottom: 1em;
	}
	.around-question {

	}
	.around-answers {
		padding-top: 1em;
	}
	.correct-answers {
		padding-left: 0em;
		border: 2px solid @gray-lighter;
		background: @gray-lighter;
	}
	.correct-answer-title {
		padding-bottom: 1em;
	}
	.student-answer {

	}
	.dropdown-selection {
		position: relative;
	}
	.completed {
		color: green;
	}
	.points-for-answer {
		padding-bottom: 1em;
		padding-top: 1em;
	}
	input-box-field {
		
	}
}