<div class="row grading-question">
	<div class="col-xs-12" ng-show="loadingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-12" ng-show="!loadingData">

		<div class="row">
			<div class="col-xs-12 around-heading">

				<div class="pull-right">
					<div uib-dropdown
						ng-if="studentanswers.Question.Type === 1 || studentanswers.Question.Type === 2">
						<button class="btn btn-primary"
							uib-dropdown-toggle
							type="button"
							id="dropdownMenu1"
							data-toggle="dropdown">
							<span translate="questionGrading.GiveCorrectFor" ></span>
							<span class="caret"></span>
						</button>
						<ul class="uib-dropdown-menu">
							<li ng-repeat="selans in studentanswers.Question.AnswerOptions">
								<a ng-click="submitMultiple(selans)">
									<i class="fa fa-fw fa-check" ng-show="selans.IsCorrect"></i>
									<i class="fa fa-fw" ng-hide="selans.IsCorrect"></i>
									{{selans.Text}}
								</a>
							</li>
							<li role="separator" 
								class="divider">
							</li>
							<li>
								<a ng-click="submitMultiple(selans)">
									<i class="fa fa-fw"></i>
									{{'questionGrading.GiveAllCorrect' | translate}}
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-6 around-question">
						<strong translate="questionGrading.QuestionName"></strong>
						<div ng-bind-html="studentanswers.Question.Text"></div>
					</div>
					<div class="col-xs-6 around-answers" 
						ng-if="studentanswers.Question.Type === 1 || studentanswers.Question.Type === 2">
						<div class="correct-answer-title">
							<strong>{{'questionGrading.QuestionAnswer' | translate}}</strong>
						</div>
						<div class="correct-answers">
							<div ng-repeat="ans in studentanswers.Question.AnswerOptions" >
								<span ng-if="ans.IsCorrect">
									<ol style="list-style-type:none">
										<li class="question-answer">
											{{ans.Text}}
										</li>
									</ol>
								</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<uib-accordion close-others="true">
			<div ng-repeat="answer in studentanswers.StudentAnswers">
				<uib-accordion-group
					is-open="$first">
					<uib-accordion-heading>
						{{answer.Student.Name}} 
						<span ng-if="answer.Answer.StudentGrade !== null">
							<i class="fa fa-check pull-right completed"></i>
						</span>
					</uib-accordion-heading>
					<!-- If QuestionType is 1 or 2, then display multichoice option -->
					<div ng-if="studentanswers.Question.Type === 1 || studentanswers.Question.Type === 2">
						<ol type="A">
							<div ng-repeat="selected in studentanswers.Question.AnswerOptions">
								<li class="question-answer">
									{{selected.Text}}
									<span ng-if="answer.Answer.SelectedOptions[0] == selected.ID && answer.IsCorrectAnswer"> 
										<i class="your-correct-answer">
											{{'questionGrading.YourAnswerIsCorrect' | translate}}
										</i>
									</span>
									<span ng-if="answer.Answer.SelectedOptions[0] == selected.ID && !answer.IsCorrectAnswer"> 
										<i class="student-answer">
											{{'questionGrading.StudentAnswer' | translate}}
										</i>
									</span>
									<span ng-if="selected.IsCorrect && !answer.IsCorrectAnswer"> 
										<i class="correct-answer">
											{{'questionGrading.CorrectAnswer' | translate}}
										</i>
									</span>
								</li>
							</div>
						</ol>

						<teacher-grading obj="answer"
							weight="studentanswers.Question.Ratio"
							on-save="submitText(obj)">
						</teacher-grading>

					</div>
					<!-- If QuestionType is 3 or 4, then display multiline option -->
					<div ng-if="studentanswers.Question.Type === 3 || studentanswers.Question.Type === 4">
						<div ng-bind-html="answer.Answer.Text"></div>

						<teacher-grading obj="answer"
							weight="studentanswers.Question.Ratio"
							on-save="submitText(obj)">
						</teacher-grading>

					</div>
				</uib-accordion-group>
			</div>
		</uib-accordion>
	</div>
</div>
