<div class="row input-file-row">

	<!-- This might be used later for indication main content -->
	<div class="col-md-1 radio-btn">
		<input type="radio"
			ng-model="content.isMain"
			name="isMain"
			id="isMain"
			ng-value="true">
	</div>

	<div class="col-md-5">
		<input class="form-control"
			type="text"
			ng-model="content.title"
			ng-class="(!content.title && model.showErrors) ? 'error-input' : ''"
			placeholder="{{'topics.Modal_Files_Name_Placeh' | translate}}">
	</div>

	<div class="col-md-1">
		<img ng-src="styles/img/{{item}}-icon.png"
			 uib-tooltip="{{item}}"
			 class="link-icon"/>
	</div>

	<div class="col-md-3 file-name zero-padding"
			uib-tooltip="{{content.file.name}}">
			<span>{{content.file.name | limitTo:15}}</span>
			<span ng-show="content.file.name.length > 15">...</span>
	</div>

	<div class="col-md-1">
		<a class="fa fa-trash-o delete-button"
			ng-click="model.editOutFile(index)">
		</a>
	</div>

</div>