<centris-dialog-header
	titlecode="topics.Modal_Header">
</centris-dialog-header>

<div class="modal-body">
	<form name="topicForm" novalidate>
		<div class="container-fluid">

			<div class="topic-inputs row"> <!-- Topic title -->
				<div class="col-sm-3 input-lable">
					<label class="control-label"
						for="TopicTitle">
						<span translate="topics.Modal_Lect_Title"></span>
					</label>
				</div>

				<div class="col-sm-9 input-lable"
					ng-class="{ 'has-error' :  model.showErrors && topicForm.topicName.$invalid }">
					<input class="form-control"
						type="text"
						id="TopicTitle"
						name="topicName"
						ng-model="model.topicName"
						placeholder="{{'topics.Modal_Lect_Title_Placeh' | translate}}"
						autofocus
						required
						centris-validate="Validation.Title"
						validate-condition="model.showErrors && topicForm.topicName.$invalid" />
				</div>
			</div> <!-- END Topic title -->

			<div class="topic-inputs row"> <!-- Topic datePublished -->
				<div class="col-sm-3 input-lable">
					<label class="control-label"
						for="TopicTitle">
						<span translate="topics.Modal_Date"></span>
					</label>
				</div>

				<div class="col-sm-9 input-lable"
				ng-class="{ 'has-error' : !model.isValidDate && model.showErrors }">
					<centris-date-picker
						ng-model="model.datePublished"
						ng-change="chD()"
						centris-validate="topics.Modal_Bad_Date"
						validate-condition="!model.isValidDate && model.showErrors" />
				</div>
			</div> <!-- END Topic datePublished -->

			<div class="topic-inputs row"> <!-- Topic HasDiscussionBoard -->
				<div class="col-sm-3 input-lable">
					<label class="control-label"
						for="topicHasDiscussionBoard">
						<span translate="topics.Modal_HasDiscussionBoard"></span>
					</label>
				</div>

				<div class="col-sm-9 input-lable">
					<input type="checkbox"
						id="TopicHasDiscussionBoard"
						name="topicHasDiscussionBoard"
						ng-model="model.hasDiscussionBoard"
						ng-disabled="model.discussionBoardCheckDisabled">
				</div>
			</div>

			<div> <!-- Link/File tabs -->
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation"
						ng-class="!hideFiles ? 'active' : ''"
						ng-click="hideFiles = !hideFiles">
						<a href
						translate="topics.Modal_Add_Files"></a>
					</li>

					<li role="presentation"
						ng-class="hideFiles ? 'active' : ''"
						ng-click="hideFiles = !hideFiles">
						<a href
						translate="topics.Modal_Add_Links"></a>
					</li>
				</ul>
			</div> <!-- END Link/File tabs -->

			<div class="hidden-input-elements"> <!-- File input -->
				<div ng-show="!hideFiles">
					<div ngf-drop
						ngf-select
						ng-model="files"
						ng-model-rejected="rejFiles"
						ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
						class="col-md-12 drop-box"
						ngf-multiple="true"
						ngf-allow-dir="true"
						ngf-drop-available="dropAvailable"
						ngf-max-size='500000000'>
						<div ng-show="!dropAvailable"
							translate="topics.Modal_Drop_Not_Availible">
						</div>
						<div ng-show="dropAvailable"
							translate="topics.Modal_Drop_Availible">
						</div>
						<div translate="topics.Modal_Drop_Click"></div>
					</div>
				</div> <!-- END File input -->

				<div ng-show="hideFiles"> <!-- Link input -->
					<div class="topic-link col-md-12">
						<div class="topic-inputs row">
							<div class="col-sm-3 input-lable">
								<label class="control-label"
									translate="topics.Modal_Link_Title">
								</label>
							</div>
							<div class="col-sm-9 input-lable">
								<input class="form-control"
								ng-model="model.newLinkName"
								ng-keypress="enterInLink($event)"
								type="text"
								ng-class="(!model.newLinkName && showLinkErrors) ? 'error-input' : '' "
								placeholder="{{'topics.Modal_Link_Title_Placeh' | translate}}">
							</div>
						</div>
						<div class="topic-inputs row">
							<div class="col-sm-3 input-lable">
								<label class="control-label"
									translate="topics.Modal_Link_Url">
								</label>
							</div>
							<div class="col-sm-9 input-lable">
								<input class="form-control link-ip"
								ng-model="model.newLinkLink"
								type="link"
								ng-class="(!model.newLinkLink && showLinkErrors) ? 'error-input' : '' "
								placeholder="{{'topics.Modal_Link_Url_Placeh' | translate}}">
							</div>
						</div>
						<div class="topic-link-btn row">
							<button class="btn btn-success pull-right"
							ng-click="saveLink();">
							<span class="glyphicon glyphicon-plus pull-left"></span>
							<span translate="topics.Modal_Add"></span>
							</button>
						</div>
					</div>
				</div> <!-- END Links input -->
			</div>
			<div class="topic-content">

				<div class="file-insert-label"
					ng-show="model.topicContent.length"
					translate="topics.Modal_Files_Valid">
				</div>

				<div class="modal-file-container good-file"
					ng-show="model.topicContent.length">  <!-- Selected files/links -->
					<div ng-repeat="f in model.topicContent">
						<create-new-topic-content
							content="f"
							index="$index"
							model="model">
						</create-new-topic-content>
					</div>
				</div>  <!-- END Selected files/links -->

				<div ng-show="!model.topicContent.length && model.showErrors"
					class="error-text"
					translate="topics.Modal_No_Content">
				</div>

				<div class="file-insert-label"
					ng-show="rejFiles.length"
					translate="topics.Modal_Files_Invalid">
				</div>
				<div class="modal-file-container bad-file" ng-show="rejFiles.length">
					<div ng-repeat="r in rejFiles">
						<div class="topic-content-info">
							<div class="col-md-1">
								<img ng-src="styles/img/png-icon.png"
								alt="error"
								class="link-icon"/>
							</div>
							<div class="col-md-11 file-name">
								<span>{{r.name | limitTo:40}}</span>
								<span ng-show="r.name.length > 40">...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<centris-dialog-footer
	on-submit="saveTopic()"
	submit="Save"
	cancel="Cancel">
</centris-dialog-footer>
