@import (reference) "src/_variables";

.teachereval {
	.multiQuestion {
		background-color: @centris-red;
		color: white;
	}
	td {
		text-align: center;
	}

	.textQuestion {
		background-color: @centris-red;
		padding: 8px;
		color: white;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.tablerows {
		text-align: center;
	}

	.txtQ {
		margin-bottom: 20px;
	}

	.textAnswers {
		padding-left: 10px;
		list-style: none;
		border-bottom: solid 2px;
		border-color: blue;
		padding-top: 5px;
	}
}