<centris-page-header title="teacherEval.EvaluationResults">
</centris-page-header>
<div ng-intro-options="IntroOptions"
	ng-intro-method="ShowTeacherEvalIntro"
	ng-intro-autostart="false">
</div>
<div class="teachereval col-lg-12">
	<div ng-repeat="r in evaluation.Course.Questions">
		<!-- Krossaspurningar -->
		<div ng-if="r.Type === 'multiple' && r.OptionsResults != null">
			<div>
				<b ng-if="r.TeacherSSN" class="teacherQuestion">{{getTeacherName(r.TeacherSSN)}}</b>
				<b ng-if="!r.TeacherSSN" class="courseQuestion">Course Question</b>
			</div>
			<table class="table table-hover">
				<thead class="multiQuestion">
					<tr table-sort="" class="tablerows">
						<th data-columnName="question" 
						translate="teacherEval.Question"> </th>
						<th ng-repeat="result in r.OptionsResults track by $index">
							<div>{{result | centrisTranslate: "AnswerText" : "AnswerTextEN"}}</div>
						</th>
						<th data-columnName="avg"
							class="tablerows">Average</th>
						<th data-columnName="count"
							class="tablerows">Count</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-lg-4"> {{ r | centrisTranslate: "Text" : "TextEN" }} </td>
						<td ng-repeat="a in r.OptionsResults"
							class="col-lg-1 tablerows">
							{{a.Count}}
						</td>
						<td>{{calculateAverage(r.OptionsResults)}}</td>
						<td>{{numberOfAnswers(r.OptionsResults)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-if="r.Type === 'single' && r.OptionsResults != null">
			<div>
				<b ng-if="r.TeacherSSN">{{getTeacherName(r.TeacherSSN)}}</b>
				<b ng-if="!r.TeacherSSN">Course Question</b>
			</div>
			<table class="table table-hover">
				<thead class="multiQuestion">
					<tr table-sort="" class="tablerows">
						<th data-columnName="question" 
						translate="teacherEval.Question"> </th>
						<th ng-repeat="result in r.OptionsResults track by $index">
							<div>{{result | centrisTranslate: "AnswerText" : "AnswerTextEN"}}</div>
							<p>Þyngd {{result.Weight}}</p>
						</th>
						<th data-columnName="avg"
							class="tablerows">Average</th>
						<th data-columnName="count"
							class="tablerows">Count</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-lg-4"> {{ r | centrisTranslate: "Text" : "TextEN" }} </td>
						<td ng-repeat="result in r.OptionsResults track by $index">
								<span>{{result.Count}}</span>
						</td>
						<td>{{calculateAverage(r.OptionsResults)}}</td>
						<td>{{numberOfAnswers(r.OptionsResults)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Texta spurningar -->
		<div ng-if="r.Type === 'text' && r.TextResults.length != 0" 
			class="txtQ">
			<div>
				<b ng-if="r.TeacherSSN">{{getTeacherName(r.TeacherSSN)}}</b>
				<b ng-if="!r.TeacherSSN">Course Question</b>
			</div>
			<div class="textQuestion">
				{{ r | centrisTranslate: "Text" : "TextEN" }}
			</div>
			<div ng-repeat="a in r.TextResults">
				<li class="textAnswers" 
				ta-bind="text"
				ng-model="a.Value">
			</li>
			</div>
			
		</div>
	</div>
	<div>
		<button class="submit btn btn-primary col-lg-2 pull-right"
		ng-click="goBack()"
		translate="teacherEval.Back"> Tilbaka </button>
	</div>
</div>
