
<div class="col-md-12 columns" ng-if="threads.length > 0">
	<h3 class="threadTitle" ng-if="threads[ti].Thread.Title && forms.editThread === 0">{{threads[ti].Thread.Title}}</h3>
	<h3 class="threadTitle" ng-show="forms.editThread !== 0">{{ formData.updatedThread.Title }}</h3>
	<div class="userImg col-md-2 columns">
		<centris-person-image
			name="User image"
			ssn="threads[ti].Thread.Author.SSN"
			ng-if="threads[ti].Thread.IsAnonymous === false">
		</centris-person-image>
		<!-- Kannski
		<div ng-if="threads[ti].Thread.IsAnonymous === true">
			<img src="https://myschool.ru.is/myschool/?Page=Photos&User=9">
		</div>-->
		<div class="likes">
			<span>{{ threads[ti].Likes.Count }}</span>
			<a
				name="Thread like"
				tooltip-placement="right"
				uip-tooltip="{{'discussions.Like' | translate}}"
				ng-if="threads[ti].Likes.Liked === false"
				ng-click="like(threads[ti], false)">
				<i class="likeButton fa fa-plus"></i>
			</a>
			<a
				name="Thread unlike"
				tooltip-placement="right"
				uip-tooltip="{{'discussions.Unlike' | translate}}"
				ng-if="threads[ti].Likes.Liked === true"
				ng-click="like(threads[ti], false)">
				<i class="likeButton fa fa-minus"></i>
			</a>
		</div>
	</div>
	<div class="col-md-10 columns">
		<p>
			<strong
				name="Anonymous"
				ng-if="threads[ti].Thread.IsAnonymous === true && board.IsInstructor ===	false">
				{{'discussions.AnonymousAuthor' | translate}}
			</strong>
			<strong
				name="Anonymous, but not to the instructors"
				ng-if="threads[ti].Thread.IsAnonymous === true && board.IsInstructor ===true	">
				{{'discussions.AnonymousAuthor' | translate}} ({{threads[ti].Thread.Author.Name}})
			</strong>
			<strong
				name="Authors name"
				ng-if="threads[ti].Thread.IsAnonymous === false">
				{{threads[ti].Thread.Author.Name}}
			</strong>
			<span
				name="Date posted"
				tooltip-placement="top"
				uip-tooltip="{{threads[ti].Thread.DatePosted | centrisDate:'HH:mm - DD. MMMM YYYY'}}">
				- {{threads[ti].Thread.DatePosted | centrisFromNow }}
			</span>
		</p>
		<div class="options pull-right" uip-dropdown>
			<a
				ng-hide="forms.editThread !== 0"
				uip-dropdown-toggle
				tooltip-placement="top"
				uip-tooltip="{{'discussions.Actions' | translate}}">
				<i class="fa fa-angle-down fa-2x"></i>
			</a>
			<ul class="uib-dropdown-menu" role="menu">
				<li ng-if="threads[ti].IsAuthor === true || board.IsInstructor === true">
					<a ng-click="switchEditThreadForm(threads[ti].Thread); focusThread=true">
						{{'discussions.Edit' | translate}}
					</a>
				</li>
				<li ng-if="threads[ti].Replies.length === 0 && (threads[ti].IsAuthor === true || board.IsInstructor === true)">
					<a ng-click="deleteThread(ti)"
						ng-disabled="deletingThread === ti">
						 {{'discussions.Delete' | translate}}
					</a>
				</li>
				<li ng-if="threads[ti].IsSubscribed === false">
					<a ng-click="subscribeToThread(ti)">
						{{'discussions.SubscribeThread' | translate}}
					</a>
				</li>
				<li ng-if="threads[ti].IsSubscribed === true">
					<a ng-click="unsubscribeFromThread(ti)">
						{{'discussions.UnsubscribeThread' | translate}}
					</a>
				</li>
			</ul>
		</div>
		<markdown
			name="Thread main text"
			bind-from="threads[ti].Thread.Text"
			ng-model="threads[ti].Thread.Text"
			ng-show="forms.editThread === 0">
		</markdown>
		<div class="attachments" ng-show="forms.editThread === 0">
			<span ng-if="threads[ti].Attachments.length > 0">{{'discussions.Attachments' | translate}}</span><br />
			<table>
				<tr ng-repeat="a in threads[ti].Attachments track by $index">
					<td><a target="_blank" ng-href="{{a.URL}}">{{a.FriendlyFilename}}</a></td>
				</tr>
			</table>
		</div>
		<div ng-show="forms.editThread !== 0">
			<input
				name="Edit title"
				ng-show="forms.editThread === -1"
				maxlength="64"
				type="text"
				class="textTitle form-control"
				ng-model="formData.updatedThread.Title" />
			<textarea
				name="Edit thread textbox"
				ng-show="forms.editThread === 1"
				class="textArea msd-elastic form-control"
				ng-model="formData.updatedThread.Text"
				ng-model="autoexpand"
				focus-me="focusThread"/>
			<div class="editor" ng-show="forms.editThread === -1">
				<textarea
					name="Markdown Editor"
					ng-model='formData.updatedThread.Text'
					focus-me="focusThread"
					markdownedit>
				</textarea>
				<div class="md-thread-preview"><h3>{{'discussions.Preview' | translate}}</h3>
					<hr />
					<markdown bind-from='formData.updatedThread.Text'></markdown>
				</div>
			</div>
			<div class="btn-group" uib-dropdown>
				<button
					type="button"
					class="btn btn-default"
					uib-dropdown-toggle>
					<span class="glyphicon glyphicon-cog"></span>
				</button>
				<ul class="uib-dropdown-menu" role="menu">
					<li>
						<a
							name="Be anonymous"
							class="dropdownAnon"
							ng-model="formData.updatedThread.IsAnonymous"
							btn-checkbox>
							{{'discussions.Anonymous' | translate}}
						</a>
					</li>
					<li>
						<a ng-click="switchForms('editThread'); focusThread=true">{{'discussions.MdEditor' 	| translate}}</a>
					</li>
				</ul>
				<button
					name="Edit thread"
					type="button"
					class="btn btn-default"
					ng-click="editThread(threads[ti])"
					ng-disabled="editThreadPostButton === 'discussions.PostActive'">
					{{editThreadPostButton | translate}}
				</button>
				<button
					name="Cancel edit"
					type="button"
					class="btn btn-default"
					ng-click="forms.editThread = 0"
					ng-disabled="editThreadPostButton === 'discussions.PostActive'">
					{{'discussions.Cancel'| translate}}
				</button>
			</div>
				<span class="anonText" ng-if="formData.updatedThread.IsAnonymous === true"> {{'discussions.IsAnonymous' | translate}} </span>

		</div>

		<footer ng-if="threads[ti].Likes.InstructorCount === 1">
			{{'discussions.RecommendedOne' | translate}}
		</footer>
		<footer ng-if="threads[ti].Likes.InstructorCount > 1">
			{{'discussions.RecommendedMany' | translate : '{count: threads[ti].Likes.InstructorCount}'}}
		</footer>
		<br />
	</div>
</div>
