
<h2>Til hamingju!</h3>

Þar sem merkiskafla í lífi þínu hefur nú verið náð má ekki bjóða þér að gera hann ennþá merkilegri?
<a href="http://www.ru.is/td/">Hérna</a> geturðu fundið upplýsingar um master nám í Háskólanum í Reykjavík.

<div class="container-fluid"> <!-- container -->
	<h2>Til hamingju með áfangann!</h2>
	<p>Við hjá HR viljum þakka þér samfylgdina síðustu árin og hvetjum þig eindregið til að kynna þér fjölbreytt úrval mastersáfanga <a rel="stylesheet" type="text/css" target="_blank" href="http://www.ru.is/meistaranam/">hér</a>.</p>
</div> <!-- end container -->
