<uib-alert type="info nomarginbottom"
	ng-show="gettingStudents">
	<i class="fa fa-spinner fa-spin"></i>
	{{'assignments.FetchStudents' | translate}}
</uib-alert>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<input class="form-control" type="text" name="filter" ng-model="filterText" ng-change="filterHandins(filterText)" placeholder="{{'assignments.SearchTempText' | translate}}"/>
		</div>
		<div class="col-md-2">
			<div class="row container-fluid action-buttons">
				<!-- Dropdown button -->
				<div uib-dropdown class="pull-right">
					<button class="btn btn-default options-button"
						uib-dropdown-toggle
						type          = "button"
						id            = "dropdownMenu1"
						data-toggle   = "dropdown"
						aria-expanded = "true">
						{{'assignments.Actions'| translate}}
						<span class="caret"></span>
					</button>
					<ul role="menu" aria-labelledby="dropdownMenu1" class="uib-dropdown-menu">
						<li>
							<a role="menuitem"
								tabindex  = "-1"
								ng-click  = "publishAllGrades()"
								translate = "assignments.PublishAllGrades"></a>
						</li>
						<li>
							<a role="menuitem"
								tabindex  = "-1"
								ng-click  = "retractAllGrades()"
								translate = "assignments.HideAllGrades"></a>
						</li>
						<li>
							<a role="menuitem"
								tabindex  = "-1"
								ng-href   = "{{ZipUrl}}">
								<span class="fa fa-file-zip-o"></span>
								<span translate = "assignments.DownloadAllSolutions"></span></a>
						</li>
						<li class="divider"></li>
						<li ng-repeat="column in table.columns">
							<a ng-click="toggleColumn(column)">
								<i class="fa fa-fw"
									ng-hide="column.visible"/>
								<i class="fa fa-fw fa-check"
									ng-show="column.visible"/>
								<span>
									{{ column.name | translate }}
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<table class="table table-hover table-condensed"
	ng-hide="gettingStudents">
	<thead>
		<tr table-sort="StudentName">

			<th data-columnName="SSN"
			 ng-show="table.columns[0].visible">
				{{'SSN' | translate }}
			</th>

			<th data-columnName="Name">
				{{'Name' | translate }}
			</th>

			<th data-columnName="Email"
				ng-show="table.columns[1].visible">
				{{'Email' | translate }}
			</th>

			<th data-columnName="AssignmentSolutionGroupID"
			 ng-show="table.columns[2].visible">
				{{'assignments.AssignmentGroup' | translate}}
			</th>

			<th data-columnName="CourseGroupName"
			 ng-show="table.columns[3].visible">
				{{'Group' | translate}}
			</th>

			<th data-columnName="HandinDate"
			 ng-show="table.columns[4].visible">
				{{'assignments.DueDate' | translate}}
			</th>

			<th data-columnName="Rank"
			 ng-show="table.columns[5].visible">
				{{'assignments.Rank' | translate }}
			</th>

			<th data-columnName = "Grade"
			 class = "small-col"
			 ng-show="table.columns[6].visible">
				{{'assignments.Grade' | translate }}
			</th>

			<th data-columnName="TeacherMemo"
			 ng-show="table.columns[7].visible">
				{{'assignments.Comments' | translate}}
			</th>

			<th	translate="Details"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="s in handins | orderByLocale:predicate:reverse">
			<td ng-show="table.columns[0].visible"> {{s.SSN}} </td>
			<td><a ui-sref="persondetails({ssn: s.SSN})">{{s.Name}}</a></td>
			<td ng-show="table.columns[1].visible">{{s.Email}}</td>
			<td ng-show="table.columns[2].visible"> {{s.AssignmentSolutionID}} </td>
			<td ng-show="table.columns[3].visible"> {{s.CourseGroupName}} </td>
			<td ng-show="table.columns[4].visible"> {{s.HandinDate | centrisDateTimeNoYear }}</td>
			<td ng-show="table.columns[5].visible"> {{s.Rank}}</td>

			<td ng-show="table.columns[6].visible">
				<input class="col-md-12 form-control table-grade-col"
					type     = "text"
					ng-model = "s.Grade"
					id ="insert-grade"/>
			</td>

			<td ng-show="table.columns[7].visible">
				<textarea class="col-md-1 form-control teacher-memo-textarea"
					rows     = "1"
					ng-model = "s.TeacherMemo"
					id="insert-comment"
					></textarea>
			</td>

			<td>
				<a class="studentDetail"
					ng-if="s.AssignmentSolutionID !== null"
					ui-sref="courseinstance.assignments.grading({assignmentID:assignment.ID, handinID: s.AssignmentSolutionID })">
					<i class="fa fa-arrow-right"/>
				</a>

				<a id="arrow-right" class="student-detail"
					ng-if="s.AssignmentSolutionID === null"
					ui-sref="courseinstance.assignments.studentgrading({assignmentID:assignment.ID, ssn: s.SSN })">
					<i class="fa fa-arrow-right" />
				</a>
			</td>
		</tr>
	</tbody>
</table>

<button type="button"
	class    = "btn btn-success pull-right"
	ng-show  = "studentList.length > 0"
	ng-click = "saveGrades()">
	{{'assignments.SaveChanges' | translate}}
</button>
