.CommentFooter {
	color: @Comments-secondaryColor;
	font-size: 12px;
	font-weight: 600;
	margin: 0;

	&-reply {
		color: inherit;
		cursor: pointer;
		font-size: inherit;

		&,
		&:hover {
			text-decoration: none;
		}

		&.is-active {
			color: @Comments-mainColor;
		}
	}
}
