<div class="row centris-page-header">
	<div class="col-xs-12">
		<h3>{{onlineExam.Title}}</h3>
	</div>
	<div class="col-xs-12" ng-show="isTeacher">
		<h4>{{onlineExam.StudentHandIn.Student.Name}}</h4>
	</div>
</div>

<div class="row examdetails">

	<div class="col-xs-12" ng-show="fetchingData">
		<uib-alert type="info">
			<i class="fa fa-spinner fa-spin"></i>
			<span translate="Loading" />
		</uib-alert>
	</div>

	<!-- This section contains various blocks which will be displayed to
	students, such as before the exam has been started, after the student has
	handed in his/her solution but the deadline hasn't passed, and what will
	be displayed after the deadline. -->
	<div class="col-xs-12" ng-show="!fetchingData">

		<!-- If the student has handed in his/her solution: -->
		<div ng-show="studentHasHandedIn" class="well well-lg">

			<!-- The grade should NOT necessarily be shown right away,
			but if it should then this block takes care of that -->
			<div ng-show="showExamGrade && autoGradableExam">
				<span translate="postStudentExam.ExamHandedIn" />
				<br />
				<span translate="postStudentExam.Grade" />
				<span> :	{{onlineExamResult.Grade}}</span>
				<div ng-show="examPartiallyGradable()">
					<span translate="postStudentExam.WhenXHasBeenGraded"
						translate-values="{ ratio: onlineExamResult.AutoGradeRatio }" />
				</div>

				<h4 ng-show="examPartiallyGradable()">
					<span translate="postStudentExam.FinalGradeWillAppear"/>
				</h4>
			</div>

			<!-- The grade should be shown, but just not quite yet... -->
			<div ng-show="!showExamGrade && autoGradableExam">
				<span translate="postStudentExam.YourGradeWillAppearAt"/>
				<span>{{examEnd | centrisDate}}</span>
			</div>

			<!-- We cannot show the grade since the system couldn't calculate
			it automatically. -->
			<div ng-show="!autoGradableExam">
				<span translate="postStudentExam.FinalGradeWillAppear"/>
			</div>
		</div>

		<!-- The deadline has passed, but the student never handed in a solution. -->
		<div ng-show="!studentHasHandedIn && examClosed() && !isTeacher"
			class="well well-lg">
			<span translate="postStudentExam.DidntHandInExam"/>
		</div>

	</div>

	<!-- In this section, we display the actual exam. -->
	<div class="col-xs-12 onlineexam"
		ng-show="!fetchingData && shouldShowExamQuestions()">
		<!-- Will be displayed if the deadline has NOT passed,
		in which case we include when it will pass. -->
		<uib-alert type="warning" ng-show="!examClosed()">
			<span translate="answerExam.ExamDeadline">ExamDeadline</span>
			<span>{{examEnd | centrisFromNow }}</span>
		</uib-alert>

		<!-- Will be displayed if the deadline has passed -->
		<uib-alert type="warning" ng-show="examClosed()" ng-hide="isTeacher">
			<span translate="answerExam.DeadlinePassed" />
		</uib-alert>

		<!-- Most exams - but not all - will have a short description -->
		<div class="name" ng-show="onlineExam.Description.length > 0">
			<p>{{onlineExam.Description}}</p>
		</div>

		<div class="well well-lg">
			<div class="allquestions">
				<div class="panel panel-default"
					ng-repeat="question in onlineExam.Questions">
					<div class="panel-heading">
						<span>({{question.Question.Ratio}} %)</span>
						<h5 ng-bind-html="question.Question.Text"></h5>
					</div>

					<div class="panel-body">
						<!-- Single choice answers -->
						<div ng-show="question.Question.Type === 1">

							<div ng-repeat="answer in question.Question.AnswerOptions">
								<div class="radio">
									<label>
										<!-- The student view --> 
										<div ng-hide="inGradingMode">
											<input ng-model="studentSolution.Answers[$parent.$index].Answers[0]"
												type="radio"
												ng-value="answer.ID"
												name="{{question.ID}}"/>
											<span ng-bind-html="answer.Text" />
										</div>
										<!-- The teachers view -->
										<div ng-show="inGradingMode">
											<input ng-model="answer.studentAnswer"
											type="radio"
											ng-value="true"/>
											<span ng-bind-html="answer.Text" />
											<span ng-if="answer.IsCorrect && isTeacher"> 
												<i class="correct-answer">
													{{'onlineExams.CorrectAnswer' | translate}}
												</i>
											</span>
										</div>
									</label>
								</div>
							</div>

							<!-- If it is a teacher, he sees the points the student got -->
							<div class="form-group" ng-show="inGradingMode">
								<teacher-grading obj="question"
									weight="question.Question.Ratio"
									on-save="submitText(obj)">
								</teacher-grading>
							</div>

						</div>

						<!-- Multiple answers -->
						<div ng-show="question.Question.Type === 2">

							<div ng-repeat="answer in question.Question.AnswerOptions">
								<div class="checkbox">
									<label>
										<!-- The student view  -->
										<div ng-hide="inGradingMode">
											<input type="checkbox"
												ng-model="studentSolution.Answers[$parent.$index].Answers[$index]"
												ng-value="answer.ID"
												ng-true-value="{{answer.ID}}"
												name="{{question.ID}}"/>
												<span ng-bind-html="answer.Text" />
											</div>
										<!-- The teachers view -->
										<div ng-show="inGradingMode">
											<input type="checkbox"
												ng-model="answer.studentAnswer"
												ng-value="true"/>
												<span ng-bind-html="answer.Text" />
											<span ng-if="answer.IsCorrect && isTeacher"> 
												<i class="correct-answer">
													{{'onlineExams.CorrectAnswer' | translate}}
												</i>
											</span>
										</div>
									</label>
								</div>
							</div>

							<!-- If it is a teacher, he sees the points the student got -->
							<div class="form-group" ng-show="inGradingMode">
								<teacher-grading obj="question"
									weight="question.Question.Ratio"
									on-save="submitText(obj)">
								</teacher-grading>
							</div>

						</div>

						<!-- Text answer -->
						<div ng-show="question.Question.Type === 3">
							<div class="textbox">
								<!-- The student view -->
								<div ng-hide="inGradingMode">
									<input type="text"
										class="form-control"
										ng-model="studentSolution.Answers[$index].Text"
										name="{{question.ID}}" />
								</div>
								<!-- The teachers view -->
								<div ng-show="inGradingMode">

									<!-- This is the students answer -->
									<div class="teachersstudentanswer">
										<label for="comment">{{'onlineExams.StudentsAnswer' | translate}}</label>
										<div>{{question.Answer.Text}}</div>
									</div>

									<teacher-grading obj="question"
										weight="question.Question.Ratio"
										on-save="submitText(obj)">
									</teacher-grading>

								</div>
							</div>
						</div>

						<!-- Essay answer -->
						<div ng-show="question.Question.Type === 4">
							<!-- The student view -->
							<div ng-hide="inGradingMode">
								<!-- Grade and comment box for the teacher-->
								<text-angular ng-model="studentSolution.Answers[$index].Text"
									ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'],
									['undo', 'redo'], ['justifyLeft', 'justifyCenter', 'justifyRight']]"
									name="{{question.ID}}">
								</text-angular>
							</div>
							<!-- The teachers view -->
							<div ng-show="inGradingMode">

								<!-- This is the students answer -->
								<label for="comment">{{'onlineExams.StudentsAnswer' | translate}}</label>
								<div ng-bind-html="question.Answer.Text" ></div>

								<teacher-grading obj="question"
									weight="question.Question.Ratio"
									on-save="submitText(obj)">
								</teacher-grading>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="!examClosed()" class="pull-right">
				<button translate="answerExam.SubmitExam"
					ng-click="submitAnswers()"
					class="submit btn btn-primary"
					focus
					form="outerFunc">
				</button>
			</div>
			<div ng-show="inGradingMode" class="pull-right">
				<a class="submit btn btn-primary"
					href="#/courses/{{courseInstanceID}}/onlineexams/{{examid}}/results/studentlist"
					translate="onlineExams.Back"
					focus>
				</a>
			</div>

			<div ng-show="!inGradingMode && isTeacher" class="pull-right">
				<a class="submit btn btn-primary"
					href="#/courses/{{courseInstanceID}}/onlineexams"
					translate="onlineExams.Back"
					focus>
				</a>
			</div>
			<!-- A dummy element to force the buttons above to be contained within the "well" -->
			<div class="clearfix" />
		</div>
	</div>
</div>
