.examdetails {
	.description {
		font-size: 12px;
		padding-left: initial;
	}

	.deadline {
		border-style: ridge;
		margin-bottom: 30px;
		margin-right: 30px;
	}

	.submit {
		float: right;
	}

	.onlineexam {
		overflow: hidden;
	}

	.singlequestion {

		margin-left: 20px;
		margin-bottom: 30px;

		.questionheader {
			margin-bottom: 30px;
		}

		.radio {
			margin-left: 20px;
		}

		.checkbox {
			margin-left: 20px;
		}
	}
	.movebox {
		padding-bottom: 1em;
	}
	.teachersstudentanswer {
		padding-top: 1em;
	}
}