<centris-page-header title="studentEval.Evaluation">
</centris-page-header>
<div
	ng-intro-options="IntroOptions"
	ng-intro-method="ShowStudentEvalIntro"
	ng-intro-autostart="false">
</div>
<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="studenteval" ng-hide="loadingData">
	<h3>
		{{ evaluation.Course | centrisTranslate: "Name" : "NameEN" }} -
		{{ evaluation | centrisTranslate: "Title" : "TitleEN" }}
	</h3>
	<form id="evaluation">
		<!-- Almennt -->
		<div>
			<div class="panel panel-default gtCollapse">
				<div class="panel-heading"
					ng-click="isCourseCollapsed = !isCourseCollapsed">
					<div translate="studentEval.General" />
				</div>
				<div uib-collapse="isCourseCollapsed">
					<div class="panel-body">
						<div ng-repeat="q in evaluation.CourseQuestions">
							<div class="evalQuestion"> 
								{{ q | centrisTranslate: "Text" : "TextEN" }}
							</div>
							<!-- Text -->
							<div ng-if="q.Type == 'text'" id="textInput">
								<text-angular
									ng-model="courseResults[$index].Value"
									ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'], ['undo', 'redo']]">
								</text-angular>
							</div>
							<!-- Single choice -->
							<div ng-if="q.Type == 'single'" id="singleInput">
								<div ng-repeat="a in q.Answers">
									<div class="radio">
										<label>
											<input type="radio"
												name="q.ID"
												ng-model="courseResults[$parent.$index].Value"
												ng-value="{{a.ID}}"
												/>
											{{ a | centrisTranslate: "Text" : "TextEN" }}
										</label>
									</div>
								</div>
							</div>
							<!--Scale choice -->
							<div ng-if="q.Type == 'multiple'" id="multipleInput">
								<div ng-repeat="a in q.Answers">
									<div class="radio">
										<label>
											<input type="radio"
												name="q.ID"
												ng-model="courseResults[$parent.$index].Value"
												ng-value="{{a.ID}}"
												/>
											{{ a | centrisTranslate: "Text" : "TextEN" }}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="courseTeachers.length > 1">
			<uib-alert type="info">
				<span translate="studentEval.InstructionsForTeachersEval" />
			</uib-alert>
		</div>

		<!-- Kennarar -->
		<div>
			<div class="panel panel-default gtCollapse"
				ng-repeat="ct in courseTeachers">
				<div class="panel-heading"
					ng-click="isTeachersCollapsed = !isTeachersCollapsed">
					{{ct.FullName}}
				</div>

				<div uib-collapse="isTeachersCollapsed">
					<div class="panel-body">
						<div class="container-fluid">
							<div class="teacherPicture">
								<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 thumb">
									<centris-person-image class="imgFix"
										ssn="ct.SSN">
									</centris-person-image>
								</div>
							</div>
						</div>
						<div ng-repeat="q in evaluation.TeacherQuestions">
							<div class="evalQuestion">
								{{ q | centrisTranslate: "Text" : "TextEN" }}
							</div>
							<!-- Text -->
							<div ng-if="q.Type == 'text'">
								<text-angular
									ng-model="teacherResults[ct.SSN][$index].Value"
									ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'], ['undo', 'redo']]">
								</text-angular>
							</div>
							<!-- Single choice -->
							<div ng-if="q.Type == 'single'">
								<div ng-repeat="a in q.Answers">
									<div class="radio">
										<label>
											<input type="radio"
												ng-value="{{a.ID}}"
												ng-model="teacherResults[ct.SSN][$parent.$index].Value"
												name="{{ct.SSN}}{{q.ID}}"/>
											{{ a | centrisTranslate: "Text" : "TextEN" }}
										</label>
									</div>
								</div>
							</div>
							<!-- Scale choice -->
							<div ng-if="q.Type == 'multiple'">
								<div ng-repeat="a in q.Answers">
									<div class="radio">
										<label>
											<input type="radio"
												ng-value="{{a.ID}}"
												ng-model="teacherResults[ct.SSN][$parent.$index].Value"
												name="{{ct.SSN}}{{q.ID}}"/>
											{{ a | centrisTranslate: "Text" : "TextEN" }}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="pull-right">
					<button class="submit btn btn-primary" id="saveButton"
						ng-click="saveEvaluation()">
						<span translate="Save" />
					</button>
					<button class="submit btn btn-default"
						ng-click="cancelEvaluation()">
						<span translate="Cancel" />
					</button>
				</div>
			</div>
		</div>
	</form>
</div>