<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowScheduleIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="PersonSchedule.Schedule">
	<h5>
		<a href="http://www.ru.is/almanak" id="schoolcalendar"
			target="_blank"
			translate="PersonSchedule.SchoolCalendar">
		</a>
	</h5>
</centris-page-header>
<div id="abouttheschedule">
	<centris-calendar ng-model="events"
	view-changed="onViewChanged(start,end)"
	allow-edit="false">
	</centris-calendar>
</div>
