.all-assignments-container {

	.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.assignment-handed-in {
		color: green;
	}

	.assignment-handed-in-tab {
		background-color: #E7F1E8;
		color: green;
		&:hover {
			background-color: #ddebdf;
		}
	}

	.assignment-past-deadline-tab {
		background-color: #F2DAD5;
		color: red;
		&:hover {
			background-color: #FFCCCC;
		}
	}

	.fa-check:before {
		margin-right: 3px;
	}

	.fa-circle {
		margin-right: 5px;
	}

	.fa-exclamation-triangle {
		margin-right: 3px;
	}

	.assignment-past-deadline {
		color: rgb(255, 0, 0);
	}

	.assignment-danger {
		background-color: #f9f8df;
		color: #ff8000;

		&:hover {
			background-color: #F9F8CF;
		}
	}

	.atoolTip {
		display: inline;
		position: relative;
	}

	.assignment-danger-level-0 {
		color: #ff8000;
	}

	.commnet-bg {
		background-color: green;
	}

	.assingm-comment {
		padding: 0.5em 6em 0.5em 1em;
	}

	.table {
		margin: 0;
	}

	.clickable {
		&:hover {
			cursor: pointer;
		}
	}

	.sem-drop-down {
		margin: 1em;
	}
	
}
