@import (reference) "src/_variables";

@course-grades-close-alert: #FE8484;
@course-grades-final-colum-border: #1C7EBB;
@course-grades-failed-test: #FF0000;
@course-grades-did-not-attend: #1C7EBB;

.grade-button {
	height: 15em;
	overflow: scroll;
	overflow-x:hidden;
}

input[type=number]{
	width: 70px;
}

.tab-flow {
	overflow: visible;
}

.did-not-attend-test {
	margin:  -0.3em 0 0 0;
	padding: 0.5em;
	box-shadow: inset 0.0em 0.0em 0.1em 0.1em @course-grades-did-not-attend;
}

.failed-test {
	margin:  -0.3em 0 0 0;
	padding: 0.5em;
	box-shadow: inset 0.0em 0.0em 0.1em 0.1em @course-grades-failed-test;
}

.dialog {
	padding: 4em 3em 3em 4em;
}

.obs {
	font-size: 2em;
	color: @course-grades-close-alert;
}

.final-column {
	margin: -0.1em;
	border: 0.1em solid @course-grades-final-colum-border;
}

.chart-numbers {
	padding-bottom: 1em;
	color: @centris-red;
}

.chart-list {
	padding-bottom: 0.5em;
}

.y-axis {
	transform: rotate(270deg) translateX(-10em) translateY(2em);
}

.loading {
	position: relative;
	border-radius: 50%;
	animation-name: daniel;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes daniel {
	0% {
		transform: rotateZ(0deg);
		left: 0%;
		top: 0%;
	}
	25% {
		transform: rotateZ(90deg);
		left: 50%;
		top: 0%;
	}
	50% {
		transform: rotateZ(180deg);
		left: 50%;
		top: 100%;
	}
	75% {
		transform: rotateZ(270deg);
		left: 0%;
		top: 100%;
	}
	100% {
		transform: rotateZ(360deg);
		left: 0%;
		top: 0%;
	}
}
