@import (reference) "src/_variables";
@import (reference) "src/_mixins";

.Search {
	color: #fff;
	bottom: 100%;
	font-size: 10px;
	flex: 0 1 400px;
	left: 0;
	margin-right: auto;
	padding: 0 @grid-gutter-width / 2;
	position: fixed;
	right: 44px;
	z-index: 1;

	&.is-open {
		transform: translateY(@Page-paddingTop - 12px);

		@media (min-width: @screen-sm-min) {
			transform: none;
		}
	}

	@media (min-width: @screen-sm-min) {
		bottom: auto;
		display: block;
		left: auto;
		position: relative;
		right: auto;
	}

	&-icon {
		left: 24px;
		pointer-events: none;
		position: absolute;
		top: 13px;
	}

	&-input {
		background: @centris-red-dark;
		border: none;
		border-radius: @centris-radius;
		color: #fff;
		display: block;
		font-size: 14px;
		font-weight: 100;
		padding: 10px 15px 10px 50px;
		width: 100%;

		.placeholder(fade(#fff, 80%));

	}

	&-input:focus {
		background: #fff;
		color: #000;
		outline: none;

		.placeholder(fade(#000, 890%));
	}

	&-input:focus ~ &-icon {
		color: #000;
	}
}
