<div ng-show="match.label.flag == 0" class="header-search-title">
	<span ng-show="match.label.type == 'person'">{{ 'Search_People' | translate }}</span>
	<span ng-show="match.label.type == 'room'">{{ 'Search_Rooms' | translate }}</span>
	<span ng-show="match.label.type == 'coursetemplate'">{{'Search_Coursetemplates'| translate}}</span>
	<span ng-show="match.label.type == 'courseinstance'">{{'Search_Courses'| translate}}</span>
</div>
<a class="col-xs-12 header-search-inner"
	tabindex="-1">

	<div ng-show="match.label.type == 'person'" class="row">
		<centris-person-image class="col-xs-2" ssn="match.model.ssn"></centris-person-image>
		<div class= "col-xs-6">
			<div class="row"><strong>{{match.label.name}}</strong></div>
			<div class="row">{{match.model.email}}</div>
		</div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-sm-12">
					<span ng-show="match.model.isFaculty === 1" translate="Faculty" class="Faculty" />
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span ng-show="match.model.isTeacher === 1" translate="Teacher" class="Teacher" />
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<span ng-show="match.model.isStudent === 1" translate="Student" class="Student" />
					&nbsp;
				</div>
			</div>
		</div>
	</div>

	<div ng-show="match.label.type == 'room'" class="row">
		<img class="col-xs-2" src="styles/img/logo.png" alt=""/>
		<div class="col-xs-10">
			<div class="row"><strong>{{match.label.name}}</strong> - {{match.label.location}}</div>
			<div class="row">{{match.label.desc}}</div>
		</div>
	</div>

	<div ng-show="match.label.type == 'coursetemplate'" class="row">
		<img class="col-xs-2" src="assets/img/coursetemplate.png" alt="" />
		<div class="col-xs-10">
			<div class="row"><strong>{{match.label.name}}</strong> - {{match.label.courseid}}</div>
			<div class="row">{{match.label.departmentname}}</div>
		</div>
	</div>

	<div ng-show="match.label.type == 'courseinstance'" class="row">
		<!-- A different path from SMS, needs to have shared path in the future -->
		<img class="col-xs-2" src="styles/img/coursetemplate.png" alt="" />
		<div class="col-xs-7">
			<div class="row"><strong>{{match.label.name | limitTo:32}}{{match.label.name.length > 32 ? '...' : ''}}</strong></div>
			<div class="row">{{match.label.statusName}}</div>
		</div>
		<div class="col-xs-3">
			<div class="pull-right">{{match.label.courseid}}</div>
			<h2>{{match.label.semester}}</h2>
		</div>
	</div>
</a>
