<div class="Search-wrap">
	<input id="search" class="Search-input" type="text"
		   placeholder="{{'Search_Placeholder'|translate}}"
		   ng-model="asyncSelected"
		   focus-me="isSearching"
		   typeahead-min-length="3"
		   uib-typeahead="item for item in search($viewValue) | filter:$viewValue"
		   typeahead-loading="loadingResults"
		   typeahead-template-url="home/components/search/topmenu-search-typeahead.tpl.html"
		   typeahead-on-select="onSelectRedirectLMS(asyncSelected); asyncSelected=''"/>
	<i class="Search-icon glyphicon glyphicon-search"></i>
</div>
