<centris-page-header page-title="grades.Grades">
</centris-page-header>

<div class="col-xs-12" ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="col-xs-12" ng-show="!loadingData">
	<uib-tabset class="tabs-details tab-flow"
		ng-if="!loadingData">
		<uib-tab heading="{{'grades.TabTitle' | translate}}"
			active="tab1"
			ng-click="tabSwitch(1)"
			ng-if="isTeacher">
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table">
							<colgroup>
								<col span="2">
								<col ng-repeat="assignment in assignments"
									ng-class="{'final-column' : assignment.isFinalExam }"
									ng-show="!showGradeButton">
								<col span="4">
							</colgroup>
							<thead>
								<tr table-sort="FullName">
									<th data-columnName="SSN">
										{{'grades.SSN' | translate}}
									</th>
									<th data-columnName="FullName">
										{{'grades.Name' | translate}}
									</th>
									<!-- Repeater for each assessment item.
										Note that there are several cases:
										- An assessment may not have an associated
										  assignment/online exam (i.e. it may not have
										  been published)
										- The link to the backing assignment/onlineexam is
										  different depending on if it is an assignment or
										  an online exam
										- Plus more... -->
									<th data-columnName="grades"
										ng-repeat="assignment in assignments">
										<!-- Type == 2 is online exams -->
										<div ng-if="assignment.AssessmentType !== 2"
											 ng-show="!showGradeButton">
											<a href="#/courses/{{courseInstanceID}}/assignments/{{assignment.LinkedItems[0]}}"
												uib-tooltip="{{assignment.Name}}">
												{{assignment.ID}}
											</a>
											<div>{{assignment.Weight}}%</div>
										</div>
										<div ng-if="assignment.AssessmentType === 2"
											 ng-show="!showGradeButton">
											<a href="#/courses/{{courseInstanceID}}/onlineexams/{{assignment.LinkedItems[0]}}"
												uib-tooltip="{{assignment.Name}}">
												{{assignment.ID}}
											</a>
											<div>{{assignment.Weight}}%</div>
										</div>
									</th>
									<th data-columnName="WeightedAverage"
										ng-show="!showGradeButton">
										{{'grades.WeightedMedian' | translate}}
									</th>
									<th data-columnName="RoundedWeightedAverage"
										ng-show="!showGradeButton">
										{{'grades.RoundedMedian' | translate}}
									</th>
									<th data-columnName="GivenFinalGrade">
										{{'grades.FinalGrade' | translate}}
									</th>
									<th data-columnName="GivenFinalGrade"
										ng-show="courseData.Status > 1 || showGradeButton">
										{{'grades.GivenFinalGrade' | translate}}
									</th>
									<th class="no-export">
										<div class='btn-group pull-right'
											uib-dropdown>
											<button type="button"
												class="btn btn-primary btn-sm"
												uib-dropdown-toggle>
												<span translate="grades.TableActions" />
												<span class="caret"
													style='margin-left: 5px'></span>
											</button>
											<ul class="uib-dropdown-menu"
												role="menu">
												<li>
													<a href=""
													   ng-show="courseData.Status == 1 || courseData.Status == 3"
													   ng-click="toggleShowGradeButton()">
														<span translate="grades.ChangeGrade"
															  ng-show="!showGradeButton"/>
													</a>
												</li>
												<li>
													<a href=""
													   ng-show="courseData.Status == 1 || courseData.Status == 3"
														ng-click="closeCourse()">
														<span translate="grades.Submit1"
															  ng-show="courseData.Status == 1"/>
														<span translate="grades.Submit2"
															  ng-show="courseData.Status == 3"/>
													</a>
												</li>
												<li class="divider"
													ng-show="courseData.Status == 1 || courseData.Status == 3"></li>
												<li>
													<a href=""
														field-separator=";"
														csv-header="csvHeader"
														ng-csv="csvObject"
														filename="grades.csv"
														add-bom="true">
														<i class="fa fa-file-excel-o"/>
														<span translate="grades.CSV"></span>
													</a>
												</li>
											</ul>
										</div>
									</th>
								</tr>
							</thead>
							<tbody ng-repeat="student in students | orderBy:predicate:reverse">
								<tr>
									<td> {{student.SSN}} </td>
									<td> <!-- Ath slóð á prófíl nemanda -->
										<a href="#/persons/{{student.SSN}}">
											{{student.FullName}}
										</a>
									</td>
									<td ng-repeat="assignment in assignments">
										<!--einkunn fyrir verkefni 1 osvf. -->
										<span ng-if="assignment.AssessmentType !== 2"
											  ng-show="!showGradeButton">
											<a href="/#/courses/{{courseInstanceID}}/assignments/{{assignment.LinkedItems[0]}}/grading/student/{{student.SSN}}"
												uib-tooltip="{{assignment.Name}}">
												{{grades[student.SSN][assignment.ID]}}
											</a>
										</span>
										<span ng-if="assignment.AssessmentType === 2"
											  ng-show="!showGradeButton">
											<a href="/#/courses/{{courseInstanceID}}/onlineexams/{{assignment.LinkedItems[0]}}/student/{{student.SSN}}"
												uib-tooltip="{{assignment.Name}}">
												{{grades[student.SSN][assignment.ID]}}
											</a>
										</span>
									</td>
									<td ng-show="!showGradeButton">
										{{student.WeightedAverage}}
									</td> <!-- vegið meðaltal -->
									<td ng-show="!showGradeButton">
										{{student.RoundedWeightedAverage}}
									</td> <!-- rúnað meðaltal -->
									<td ng-if="!student.hasFinalGrade">
										&nbsp;
									</td>
									<td  ng-if="student.GivenFinalGrade === 'DNQ'">
										<div uib-tooltip="{{'grades.DidNotShow' | translate}}"
											class="did-not-attend-test">
											{{'grades.FinalTest' | translate}}
										</div>
									</td> <!-- lokaeinkunn -->
									<td ng-if="student.GivenFinalGrade < 5 && student.hasFinalGrade">
										<!-- This div represents a student which passed the final grade but didnt pass the course due to
										his bad grades from assignments/online exams/essays etc.-->
										<div ng-if="student.GivenFinalGrade === student.RoundedWeightedAverage"
											uib-tooltip="{{'grades.FlunkedOnGrade' | translate}}"
											class="failed-test">
											{{student.GivenFinalGrade}}
										</div>
										<!-- This div represents a student which didnt pass the final grade -->
										<div ng-if="student.GivenFinalGrade < student.RoundedWeightedAverage || student.GivenFinalGrade > student.RoundedWeightedAverage"
											uib-tooltip="{{'grades.FlunkedOnFinal' | translate}}"
											class="failed-test">
											{{student.GivenFinalGrade}}
										</div>
									</td>
									<td ng-if="student.GivenFinalGrade >= 5">
										{{student.GivenFinalGrade}}
									</td>
									<td ng-if="student.FinalGrade === 'Finished'">
										{{'grades.Finished' | translate}}
									</td>
									<td ng-show="courseData.Status > 1 || showGradeButton" ng-switch="student.GivenFinalGrade">
										<div ng-switch-when="DNQ">
											{{'grades.DidNotShow' | translate}}
										</div>
										<div ng-switch-when="Finished">
											{{'grades.Finished' | translate}}
										</div>
										<div ng-switch-default>
											{{student.GivenFinalGrade}}
										</div>
									</td>
									<td>
										<div class='btn-group pull-right'
											ng-show="showGradeButton"
											uib-dropdown>
											<button class="btn btn-primary btn-sm"
												type="button"
												uib-dropdown-toggle>
												<span translate="grades.Button"></span>
												<span class="caret"></span>
											</button>
											<ul class="uib-dropdown-menu grade-button"
												role="menu grade-dropdown">
												<li>
													<a role="menuitem"
														tabindex="-1"
														href=""
														translate="grades.Finished"
														ng-click="changeFinalGrade(student.SSN, 'Finished')">
													</a>
												</li>
												<li>
													<a role="menuitem"
														tabindex="-1"
														href=""
														translate="grades.FinalTest"
														ng-click="changeFinalGrade(student.SSN, 'DNQ')">
													</a>
												</li>
												<li ng-repeat="n in ['10', '9.5', '9', '8.5', '8', '7.5', '7', '6.5', '6',
												 '5.5', '5', '4.5', '4', '3.5', '3', '2.5', '2', '1.5', '1', '0.5', '0']">
													<a role="menuitem"
														tabindex="-1"
														href=""
														ng-click="changeFinalGrade(student.SSN, n)">
														{{n}}
													</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab heading="{{'grades.Student.Tab' | translate}}"
			active="tab1"
			ng-click="tabSwitch(1)"
			ng-if="!isTeacher">

			<table class="table">
				<thead>
					<tr table-sort="Assignment">
						<th data-ColumnName="Name"
							class="col-sm-4">
							{{'grades.Student.Assignment' | translate}}
						</th>
						<th class="col-sm-4"> <!-- TODO: Need to find a way to sort by grade -->
							{{'grades.Student.Grade' | translate}}
						</th>
						<th data-ColumnName="Weight"
							class="col-sm-4">
							{{'grades.Student.Weight' | translate}}
						</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="assignment in assignments">
						<td class="col-sm-4">
							{{assignment.Name}}
						</td>
						<td class="col-sm-4">
							<div ng-show="!estimateGrade">
								{{grades[myInfo.SSN][assignment.ID]}}
							</div>
							<!-- max value should be dynamic depending on if teacher allows
							 higher grade than 10 -->
							<input type="number"
								   step="0.5"
								   min="0"
								   max="10"
								   ng-show="estimateGrade"
								   ng-value="{{grades[myInfo.SSN][assignment.ID]}}"
								   ng-model="calcGrades[$index].Grade"/>
						</td>
						<td class="col-sm-4">
							{{assignment.Weight}}%
						</td>
					</tr>
			</table>
			<table class="table">
				<tbody>
					<div ng-show="!estimateGrade"
						 class="pull-right">
						<button class="btn btn-primary"
								ng-click="toggleEstimateGrade(); buildExpectedGrades()">
							{{'grades.Student.EstimateGrade' | translate}}
						</button>
					</div>
					<div ng-show="estimateGrade"
						class="pull-right">
						<button class="btn btn-primary"
							ng-click="toggleEstimateGrade; revertGrades()">
							{{'grades.Student.EstimateGradeEnd' | translate}}
						</button>
					</div>
				</tbody>
					<tr ng-show="estimateGrade">
						<td class="col-sm-4">
							<strong translate="grades.Student.ExpectedGrade"></strong>
						</td>
						<td class="col-sm-4">
							{{student.FinalGrade}}
						</td>
						<td class="col-sm-4">
							<button class="btn btn-success"
							translate="grades.Student.Calculate"
							ng-click="expectedGrade()"></button>
						</td>
					</tr>
					<tr>
						<td class="col-sm-4">
							<strong translate="grades.Student.Rounded"></strong>
						</td>
						<td class="col-sm-4">
							{{student.AverageGrade}}
						</td>
						<td class="col-sm-4">
							{{student.RoundedWeightedAverage}}
							{{'grades.Student.Off' | translate}} 100%
							<!-- Needs total weight from server -->
						</td>
					</tr>
					<tr>
						<td class="col-sm-4">
							<strong translate="grades.Student.Weighted"></strong>
						</td>
						<td class="col-sm-4">
							{{student.WeightedAverage}} {{'grades.Student.Off' | translate}} 100% <!-- Needs total weight from server -->
						</td>
						<td class="col-sm-4"></td>
					</tr>
					<tr>
						<td class="col-sm-4">
							<strong translate="grades.Student.Current"></strong>
						</td>
						<td class="col-sm-4">
							{{student.FinalGrade}} {{'grades.Student.Off' | translate}} 10 <!-- Needs total grade from server -->
						</td>
						<td class="col-sm-4"></td>
					</tr>
				</tbody>
			</table>
		</uib-tab>

		<uib-tab heading="{{'grades.Chart.TabTitle' | translate}}"
			active="tab2"
			ng-click="tabSwitch(2)">
			<div class="row">
				<div class="col-md-2 y-axis hidden-sm hidden-xs">
					{{'grades.Chart.Students' | translate}}
				</div>
				<div class="col-md-9">
					<canvas canvas id="bar"
						class="chart chart-bar"
						chart-data="gradeData"
						chart-labels="labels"
						chart-series="series"
						chart-options="options"
						chart-colours="colours">
					</canvas>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7 col-md-offset-5 hidden-sm hidden-xs"
					translate="grades.Chart.Grades">
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-11 col-md-offset-1 chart-numbers">
					<strong>{{'grades.Chart.Numbers' | translate}}</strong>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 chart-list">
					<div class="row">
						<div class="col-md-6"> <!-- Fjöldi einkunna -->
							<strong>{{'grades.Chart.NoOfGrades' | translate}}</strong>
						</div>
						<div class="col-md-6">
							{{noOfGrades}}
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6"> <!-- Meðaltal einkunna -->
							<strong>{{'grades.Chart.Avg' | translate}}</strong>
						</div>
						<div class="col-md-6">
							{{avgGrade}}
						</div>
					</div>
				</div>

				<div class="col-md-6 col-md-offset-1 chart-list">
					<div class="row">
						<div class="col-md-6"> <!-- Staðalfrávik -->
							<strong>{{'grades.Chart.STD' | translate}}</strong>
						</div>
						<div class="col-md-6">
							{{stdDiv}}
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-6"> <!-- Miðgildi -->
							<strong>{{'grades.Chart.Median' | translate}}</strong>
						</div>
						<div class="col-md-6">
							{{medGrade}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 chart-list">
					<div class="row">
						<div class="col-md-6"> <!-- Algengasta einkunn -->
							<strong>{{'grades.Chart.Mode' | translate}}</strong>
						</div>
						<div class="col-md-6">
							{{mode}}
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div ng-repeat="num in studs = (students | NoTest)"></div>
						<div ng-if="studs.length > 0"
							class="col-md-6"> <!-- Mættu ekki í próf -->
							<strong>{{'grades.Chart.NoTest' | translate}}</strong>
						</div>
						<div ng-if="studs.length > 0"
							class="col-md-6">{{studs.length}}
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</div>
