<uib-alert type="info"
	ng-show="fetchingData">
	<i class="fa fa-spinner fa-spin"></i>
	{{'assignments.FetchingAssignment' | translate}}
</uib-alert>

<!-- TODO: disable handin when deadline has been reached! (Or when
deadline PLUS late handin period has been reached) -->

<div ng-hide="fetchingData">
	<accordion close-others="false">
		<accordion-group
			heading="{{'assignments.SolutionFiles' | translate }}"
			is-open="true"
			id="details-add-file">
			<table class="table">
				<thead>
					<tr>
						<th><span translate="assignments.Filename" /></th>
						<th><span translate="assignments.Filesize" /></th>
						<th class="text-right"><i class="fa fa-trash"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="f in solution.Attachments">
						<td>
							<a target="_blank" ng-href="{{f.URL}}" ng-if="!f.IsNew">
								{{f.FriendlyFilename}}
							</a>
							<!-- TODO: Use solution.Published instead of solution.Grade once that is returned from the API. -->
							<a ng-if="(f.FriendlyFilename.indexOf('.pdf') > -1) && solution.Grade !== null"
								target="_blank"
								ng-href="pdf/web/viewer.html?file={{f.URL}}&attachmentID={{f.ID}}&assignmentID={{assignmentID}}&courseID={{courseInstanceID}}&handinID={{solution.ID}}"
								ng-if="!f.IsNew"
								class="btn btn-primary pull-right"
								style="left: 17px; position: relative; padding: 3px 8px;">
								<i class="fa fa-pencil" style=""></i>
							</a>
							<a ng-if="isViewerSupport(f.FriendlyFilename)"
								target="_blank"
								ng-href="/ace/view/?courseID={{courseInstanceID}}&assignmentID={{assignmentID}}&attachmentID={{f.ID}}&handinID={{solution.ID}}"
								ng-if="!f.IsNew"
								class="btn btn-primary pull-right"
								style="left: 17px; position: relative; padding: 3px 8px;">
								<i class="fa fa-pencil" style=""></i>
							</a>
							<span ng-if="f.IsNew">
								{{f.FriendlyFilename}}
							</span>
						</td>
						<td>
							{{f.Size}}
						</td>
						<td class="text-right"
							ng-click="removeAttachment(f)">
							<i class="fa fa-times text-danger" />
						</td>
					</tr>
				</tbody>
			</table>
			<div class="form-group" ng-show="!passDeadline && solution.Attachments.length < assignment.AllowedNumberOfFiles">
				<div ngf-drop
				ngf-select
				ng-model="solution.NewFiles"
				class="drop-box"
				ngf-drag-over-class="dragover"
				ngf-multiple="true"
				ngf-allow-dir="true"
				ngf-change="onFileSelected($files, $event)">
				<i class="fa fa-files-o fa-2x"></i>
					<strong translate="assignments.DropFiles"></strong>
				</div>
				<div ngf-no-file-drop>
					<span translate="assignments.DropFilesNotSupported"></span>
				</div>
			</div>
			<div class="drop-box" ng-show="solution.Attachments.length >= assignment.AllowedNumberOfFiles">
				<i class="fa fa-files-o fa-2x"></i>
				<strong translate="assignments.FileLimitExceeded"></strong>
			</div>
		</accordion-group>

		<accordion-group
			heading="{{'assignments.StudentMemo' | translate }}"
			is-open="true">

			<div class="form-group">
				<textarea ng-model="solution.StudentMemo"
					placeholder="{{'assignments.StudentMemo' | translate }}"
					class="form-control"
					rows="4"
					id="details-add-comment">
				</textarea>
			</div>

		</accordion-group>
	</accordion>

<div ng-show="solution.HandinDate" class="clearfix">
		<uib-alert type="info">
			<span>{{'assignments.HandedIn' | translate }} {{solution.HandinDate | centrisDate }}</span>
		</uib-alert>
	</div>

	<button class="btn btn-primary pull-right"
		ng-show="!passDeadline && !solution.HandinDate"
		translate="assignments.HandInAssignment"
		ng-click="submitChanges()">
	</button>
	<button class="btn btn-primary pull-right"
		ng-show="!passDeadline && solution.HandinDate"
		translate="assignments.HandinAgain"
		ng-click="submitChanges()">
	</button>
</div>
