<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" class="container">
	<h4 translate="ProfilePage.GeneralSettings.Receive_Events_From" />
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
			<!-- Default panel contents -->
			<table class="table-condensed form-group">
				<tr>
					<td id=dashboard-table>
						<label for="studentAssociationCheckbox">
							<b>
								<span translate="ProfilePage.GeneralSettings.Student_Association" />
							</b>
						</label>
					</td>
					<td id=dashboard-table>
						<span class="material-switch pull-right">
							<input id="studentAssociationCheckbox"
								name="studentAssociationCheckBox"
								type="checkbox"
								ng-model="general.StudentAssociation"
								ng-click="updateGeneralSettings(general)" />
							<label for="studentAssociationCheckbox"
								class="label-success">
							</label>
						</span>
					</td>
				</tr>
				<tr>
					<td id=dashboard-table>
						<label for="studentUnionCheckbox">
							<b>
								<span translate="ProfilePage.GeneralSettings.Student_Union" />
							</b>
						</label>
					</td>
					<td id=dashboard-table>
						<span class="material-switch">
							<input id="studentUnionCheckbox"
								name="studentUnionCheckbox"
								type="checkbox"
								ng-model="general.StudentUnion"
								ng-click="updateGeneralSettings(general)" />
							<label for="studentUnionCheckbox"
								class="label-success">
							</label>
						</span>
					</td>
				</tr>
				<tr>
					<td id=dashboard-table>
						<label for="CafeteriaCheckBox">
							<b>
								<span translate="ProfilePage.GeneralSettings.Cafeteria" />
							</b>
						</label>
					</td>
					<td id=dashboard-table>
						<span class="material-switch">
							<input id="CafeteriaCheckBox"
								name="CafeteriaCheckBox"
								type="checkbox"
								ng-model="general.CafeteriaEvents"
								ng-click="updateGeneralSettings(general)" />
							<label for="CafeteriaCheckBox"
								class="label-success">
							</label>
						</span>
					</td>
				</tr>
				<tr>
					<td id=dashboard-table>
						<label for="organizationCheckBox">
							<b>
								<span translate="ProfilePage.GeneralSettings.Organization" />
							</b>
						</label>
					</td>
					<td id=dashboard-table>
						<span class="material-switch">
							<input id="organizationCheckBox"
								name="organizationCheckBox"
								type="checkbox"
								ng-model="general.ReceiveEventsFromOrganization"
								ng-click="updateGeneralSettings(general)" />
							<label for="organizationCheckBox"
								class="label-success">
							</label>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>