<div class="room-banner"
	centris-room-image
	ng-model="room.Name">
	<h2 style="color: white; padding: 10px">{{ room.Name }}</h2>
</div>

<uib-tabset>
	<uib-tab select="tabs.go(tabs.list[0].route)"
		active="tabs.list[0].active"
		heading="{{'rooms.Tabs.Schedule' | translate}}">

		<!-- Technically, the calendar should be displayed here.
		But there is some bug which results in the calendar not rendering
		itself inside a uib-tabset/uib-tab... -->
	</uib-tab>

	<uib-tab select="tabs.go(tabs.list[1].route)"
		active="tabs.list[1].active"
		heading="{{'rooms.Tabs.Map' | translate}}">
		<div class="col-xs-12">
			<centris-room-map room-name="room.Name" ></centris-room-map>
		</div>
	</uib-tab>

	<uib-tab select="tabs.go(tabs.list[2].route)"
			active="tabs.list[2].active"
			heading="{{'rooms.Tabs.Info' | translate}}">
		<div class="col-sm-7 col-md-7">
			<form editable-form name="roomDetailForm" onaftersave="saveRoom()">
				<dl class="dl-horizontal">

					<dt translate="rooms.Details.Name"></dt>
					<dd>
						<!-- The IS/EN properties, such as Name and Description, will
						be displayed according to the following rules:
						* If not in edit mode, then the main language will determine
						  which one will be displayed.
						* If in edit mode, both will be displayed. -->
						<span editable-text="room.Name"
							ng-show="roomDetailForm.$visible || isMainLanguage()"
							e-name="name">
							{{ room.Name || "" }}
						</span>
						<span editable-text="room.NameEN"
							ng-show="roomDetailForm.$visible || !isMainLanguage()"
							e-name="nameEN">
							{{ room.NameEN || "" }}
						</span>
					</dd>

					<dt translate="rooms.Details.RoomType"></dt>
					<dd>
						<span editable-select="room.RoomTypeID"
							e-ng-options="t.ID as t.Name for t in roomTypes"
							e-name="description">
							{{ (roomTypes | filter:{value: room.RoomtypeID})[0].Name || "Not set" }}
						</span>
					</dd>

					<dt translate="rooms.Details.Description"></dt>
					<dd>
						<span editable-text="room.Description"
								ng-show="roomDetailForm.$visible || isMainLanguage()"
								e-name="description">
							{{ room.Description || "" }}
						</span>
						<span editable-text="room.DescriptionEN"
								ng-show="roomDetailForm.$visible || !isMainLanguage()"
								e-name="descriptionEN">
							{{ room.DescriptionEN || "" }}
						</span>
					</dd>

					<dt translate="rooms.Details.Equipment"></dt>
					<dd>
						<span editable-text="room.Equipment"
								e-name="equipment">
							{{ room.Equipment || "" }}
						</span>
					</dd>

					<dt translate="rooms.Details.Seats"></dt>
					<dd>
						<span editable-text="room.SeatCount">
							{{ room.SeatCount || 0 }}
						</span>
					</dd>

					<dt translate="rooms.Details.ExamSeatCount"></dt>
					<dd>
						<span editable-text="room.ExamSeatCount">
							{{ room.ExamSeatCount || 0 }}
						</span>
					</dd>

					<dt translate="rooms.Details.SquareMeters"></dt>
					<dd>
						<span editable-text="room.SquareMeters">
							{{ room.SquareMeters || 0 }}
						</span>
					</dd>

				</dl>
			</form>
		</div>
	</uib-tab>
</uib-tabset>

<div ng-show="isCalendarTabVisible">
	<centris-calendar ng-model="events"
		room="room"
		view-changed="onViewChanged(start,end)"
		allow-edit="false">
	</centris-calendar>
</div>