<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowRegistrationIntro"
	 ng-intro-autostart="false">
</div>
<!--
TODO: Fix css and make this site look better. 
Put some spinner when the user change the department
-->
<div class="container-fluid"> <!-- container -->

	<div class="courseRegistrationeHeader""
		ng-show="registrationMessage.length !== 0">
		<div class="row" id="aboutregistration"> <!-- title -->
			<div class="col-md-12">
				<h3 ng-if="!semester.Name">{{'CourseRegistration.Title' | translate }}</h3>
				<h3 ng-if="semester.Name">{{'CourseRegistration.Title' | translate }} - {{ semester | centrisTranslate: "Name" : "NameEN" }}</h3>
			</div> 
		</div> <!-- end title -->

		<div class="row" id="registrationopenorclosed">
			<div class="col-md-12">
				<h4>{{ registrationMessage | translate }}</h4>
				<span>
					<b translate="CourseRegistration.Msg.RegistrationPeriod"></b>
					<p>{{ regStart }} - {{ regEnd}}</p>
				</span>
			</div>
		</div>

	</div>

	<div class="courseSelection" ng-show="regOpen"> <!-- courseSelection -->
		<div class="row"> <!-- department dropdown -->
			<div class="col-md-4" id="choosedepartment">
				<centris-department-dropdown 
					sub-departments='false'
					ng-model='departmentID'
					teaching-only="true"
					allow-clear='true'
					on-update-department='filterDepartment(department)'
					json-dep-placeholder='Department'
					all-departments='true'
					all-departments-placeholder='Department'>
				</centris-department-dropdown>
			</div>
		</div> <!-- end department dropdown -->

		<!-- MESSAGES -->
		<div class="row" ng-show="courseList.length === 0 && !loading"> <!-- nothing to display message -->
			<div class="col-md-12">
				<uib-alert type="info">
					<span translate="CourseRegistration.Msg.NothingToDisplay"></span>
				</uib-alert>
			</div>
		</div> <!-- end nothing to display message -->

		<div class="row" ng-show="courseList.length === 0 && loading">  <!-- loading message -->
			<div class="col-md-12">
				<uib-alert type="info">
					<span translate="Loading"></span>
				</uib-alert>
			</div>
		</div> <!-- end loading message -->
		<!-- END MESSAGES -->

		<div class="row" ng-hide="courseList.length === 0" id="listofcourses"> <!-- table and selected courses -->
			<div class="col-md-9"> <!-- table -->
				<table class="table table-hover table-condensed col-md-10">
					<thead>
						<tr>
							<th data-columnName="Course.Name"
								ng-show="table[0].visible">
								{{'Name' | translate}}
							</th>
							<th data-columnName="Course.ID"
								ng-show="table[1].visible">
								{{'CourseRegistration.Table.CourseID' | translate}}
							</th>
							<th data-columnName="Course.Credits"
								ng-show="table[2].visible">
								{{'Credits' | translate}}
							</th>
							<th data-columnName="Course.Icon"
								ng-show="table[3].visible">
							</th>
							<th data-columnName="Course.Semaster"
								ng-show="table[4].visible">
								{{'Semester' | translate}}
							</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="course in courseList">
							<td ng-show="table[0].visible">
								<span ng-if="course.Type == 'graduate'">
									{{ course.Name }}
								</span>
								<span ng-if="course.Type !== 'graduate'">
									<a ng-href="#/courses/{{course.CourseInstanceID}}/details">
										{{ course.Name }}
									</a>
								</span>
							</td>
							<td ng-show="table[1].visible">
								{{ course.CourseID }}
							</td>
							<td ng-show="table[2].visible">
								{{ course.Credits }}
							</td>
							<td id="iconinregistration">
								<i ng-if="course.Type === 'graduate'"
									class="fa fa-graduation-cap fa-2x"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.Graduation' | translate}}"></i>
								<i ng-if="course.Type === 'major'"
									class="fa fa-bullseye fa-2x"
									style="color: #2AB21C;"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.Major' | translate}}" ></i>
								<i ng-if="course.Type === 'emphasisLine'"
									class="fa fa-bullseye fa-2x"
									style="color: #FFA500;"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.EmphasisLine' | translate}}" ></i>
								<i ng-if="course.Type === 'optional'"
									style="color: #234891;"
									class="fa fa-plus-square-o fa-2x"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.Optional' | translate}}" ></i>
								<i ng-if="course.Failures.length > 0"
									class="fa fa-ban fa-2x"
									style="color: #D6222B;"
									ng-mouseover="errorCodeToText(course.Failures)"
									tooltip-placement="top"
									uib-tooltip="{{ toolTipText }}"></i>
								<i ng-if="course.Status === 'completed'"
									class="fa fa-check fa-2x"
									style="color: #2AB21C;"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.Completed' | translate}}"></i>
								<i ng-if="course.Status === 'current'"
									class="fa fa-history fa-2x"
									tooltip-placement="top"
									uib-tooltip="{{ 'CourseRegistration.Table.Current' | translate}}"></i>
							</td>
							<td ng-show="table[3].visible">
								{{ course.Semester }}
							</td>
							<td id="subscribeorunsubscribe">
								<!-- <button type="button"
									class="btn btn-default btn-block"
									ng-model="course.IsSelected"
									uib-btn-checkbox
									ng-change="onCheckCourse(course)"
									ng-hide="course.Failures.length > 0 || course.Type === 'graduate'">
										{{ course.IsSelected ? "CourseRegistration.Table.Unsubscribe" : "CourseRegistration.Table.Subscribe" | translate}}
								</button>
								<button type="button"
									class="btn btn-warning btn-block"
									ng-click="RegistrationExemption(course)"
									ng-show="course.Failures.length > 0">
									<span translate="CourseRegistration.Table.Exception"></span>
								</button> -->
								<span 
									tooltip-placement="top"
									uib-tooltip="graduate.FailureReasons">
									<button type="button"
										class="btn btn-warning btn-block"
										ng-disabled="!graduate.CanGraduate">
										{{ course.IsSelected ? "CourseRegistration.Table.Unsubscribe" : "CourseRegistration.Table.Subscribe" | translate}}
									</button>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- end table -->
			<div class="col-md-3" id="confirmregistration"> <!-- selected courses -->
				<div class="well well-sm"> <!-- selected courses - well -->
					<button type="submit" ng-hide="selectedCourses.length === 0" 
						translate="Confirm" class="btn btn-primary pull-right"
						ng-click="isGraduating()">
					</button>
					<h5 translate="CourseRegistration.SelectedCourses"></h5>
					<ul>
						<li ng-repeat="course in selectedCourses">
							<td style="border-style:none;" class="text-center">{{ course.Name }}</td>
							<td style="border-style:none;"
								class="text-center">
								<i ng-click="removeSelectedCourse(course)"
									class="fa fa-times"
									style="color:#D6222B;">
								</i>
							</td>
						</li>
					</ul>
				</div> <!-- end selected courses - well -->
			</div> <!-- end selected courses -->
		</div> <!-- end table and selected courses -->
	</div> <!-- end courseSelection -->
</div> <!-- end container -->
