@import (reference) "src/_variables" ;

.online-exam-grades {
	margin-bottom: 2em;

	.grades-display-border {
		border: 2px solid @gray-lighter;
		background: @gray-lighter;
		margin-left: 2px;
		margin-right: 2px;
	}
	.display-grades {
		padding-left: 2em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.header-column {
		padding-left: 1em;
		padding-bottom: 1em;
	}
	strong {
		line-height: 200%;
	}
}

.list-of-students {
	padding-left: 1.4em;
	padding-right: 1.4em;
}

.student-list {
	.heading-layout {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.center-grade {
		text-align: right;
		padding-left: 1em;
	}
	.center-grade-zero {
		text-align: right;
		padding-left: 1.5em;
	}
}
