<div class="row">
	<div class="col-xs-12 online-exam-grades">
		<div class="header-column">
			<h2>{{results.Name}}</h2>
		</div>
		<div ng-show="loadingData">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>
		<div class="row grades-display-border" ng-hide="loadingData">
			<div class="col-xs-12 col-md-6 display-grades">
				<div>
					<strong translate="onlineExamsResults.Mean"/>
						<span ng-if="results.Statistics.Mean === 0">
							{{results.Statistics.Mean | number : 2}}
						</span>
						<span ng-if="results.Statistics.Mean > 0">
							{{results.Statistics.Mean / 10 | number : 2}}
						</span>
				</div>
				<div>
					<strong translate="onlineExamsResults.HighestGrade"/>
						<span ng-if="results.Statistics.HighestGrade === 0">
							{{results.Statistics.HighestGrade}}
						</span>
						<span ng-if="results.Statistics.HighestGrade > 0">
							{{results.Statistics.HighestGrade / 10}}
						</span>
				</div>
				<div>
					<strong translate="onlineExamsResults.LowestGrade"/>
						<span ng-if="results.Statistics.LowestGrade === 0">
							{{results.Statistics.LowestGrade}}
						</span>
						<span ng-if="results.Statistics.LowestGrade > 0">
							{{results.Statistics.LowestGrade / 10}}
						</span>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 display-grades">
				<div>
					<strong translate="onlineExamsResults.ReturnCount"/> 
						{{results.Submissions.length}}
				</div>
				<div>
					<strong translate="onlineExamsResults.Deadline"/>
						{{results.Deadline | centrisDateTimeNoYear}}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 list-of-students" ng-hide="loadingData">
		<uib-tabset class="tabs-details">
			<uib-tab select="tabs.go(tabs.list[0].route)"
				active="tabs.list[0].active"
				heading="{{tabs.list[0].heading | translate}}">
				<onlineexams-results-studentlist
					ng-model="results.Submissions"
					examname="results.Name"
					examid="results.ID">
				</onlineexams-results-studentlist>
			</uib-tab>
			<uib-tab select="tabs.go(tabs.list[1].route)"
				active="tabs.list[1].active"
				heading="{{tabs.list[1].heading | translate}}">
				<onlineexams-Statistics
					ng-model="results.Questions">
				</onlineexams-Statistics>
			</uib-tab>
		</uib-tabset>
	</div>
</div>
