<centris-page-header page-title="finalexams.Title">
</centris-page-header>

<div ng-intro-options="MyUserIntroOptions"
	 ng-intro-method="ShowMyUserExamsIntro"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="MyAllIntroOptions"
	 ng-intro-method="ShowMyAllExamsIntro"
	 ng-intro-autostart="false">
</div>

<div class="col-sm-12"
	ng-show="loading">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<uib-tabset ng-hide="loading">
	<uib-tab select="go(tabs[0].route)"
		active="tabs[0].active"
		heading="{{'finalexams.Tabs.UserExams' | translate}}" id="finalexamsall-helper-step3">
	</uib-tab>

	<uib-tab select="go(tabs[1].route)"
		active="tabs[1].active"
		heading="{{'finalexams.Tabs.AllExams' | translate}}" id="finalexamsuser-helper-step3">
	</uib-tab>
</uib-tabset>

<div class="container-fluid final-exam-schedule"
	ng-hide="loading">

	<div class="row">
		<div class="col-sm-12"
			ng-show="exams[activeTab].length === 0">
			<uib-alert type="info">
				<span translate="finalexams.Messages.NoExamsRegistered" />
			</uib-alert>
		</div>
	</div>

	<div class="row">
		<table class="table table-hover"
			ng-hide="exams[activeTab].length === 0">
			<tr table-sort="DateScheduled">
				<th data-columnName="CourseName">
					{{'finalexams.Table.CourseName' | translate}}
				</th>
				<th data-columnName="DateScheduled" id="finalexamsuser-helper-step2">
					{{'finalexams.Table.DateScheduled' | translate}}
				</th>
				<th data-columnName="ExamTime">
					{{'finalexams.Table.ExamTime' | translate}}
				</th>
				<th data-columnName="MainRoom">
					{{'finalexams.Table.ExamRooms' | translate}}
				</th>
			</tr>
			<tr ng-repeat="exam in exams[activeTab] | orderBy:predicate:reverse"
					ng-class="{'final-exam-past-deadline-tab': daysUntilExam(exam) < 0}">
				<td>
					<a ui-sref="courseinstance({ courseInstanceID: exam.CourseInstanceID })">
						{{ exam | centrisTranslate: "CourseName" : "CourseNameEN" }}
					</a>
				</td>
				<td>
					{{ exam.DateScheduled | centrisDate }}
				</td>
				<td>
					{{ exam.ExamTime }}
				</td>
				<td>
					<div>
						<a href="#/rooms/{{exam.MainRoom.RoomID}}">
							{{ exam.MainRoom.RoomName}}
						</a>
						<span ng-show="exam.MainRoom.SeatsUsed"
							translate="finalexams.Table.NumberOfSeats">
						</span>
						<span ng-show="exam.MainRoom.SeatsUsed">
							{{ exam.MainRoom.SeatsUsed }}
						</span>
						<a class="show-hide-rooms"
							href=""
							ng-show="exam.Rooms.length"
							ng-click="exam.showAllRooms = !exam.showAllRooms">
							<span translate="finalexams.Table.ShowAll"
								ng-hide="exam.showAllRooms"></span>
							<span translate="finalexams.Table.HideAll"
								ng-show="exam.showAllRooms"></span>
						</a>
					</div>
					<div ng-repeat="room in exam.Rooms"
						ng-show="exam.showAllRooms">
						<a href="#/rooms/{{room.RoomID}}">
							{{ room.RoomName}}
						</a>
						<span ng-show="room.SeatsUsed"
							translate="finalexams.Table.NumberOfSeats">
						</span>
						<span ng-show="room.SeatsUsed">{{ room.SeatsUsed }}</span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
