<h2>{{topic.Title}}</h2>
<script src="https://www.youtube.com/iframe_api"></script>

<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="container-fluid" ng-hide="loadingData">

	<div class="row">
		<uib-accordion close-others="oneAtATime">
			<uib-accordion-group
				ng-repeat="item in topic.Items"
				ng-init="isOpen = item.IsMain ? true : false"
				is-open="isOpen"
				is-disabled="noPreview(item)">
				<uib-accordion-heading>
					<div ng-click="itemClick(item)">
						<img ng-src="styles/img/{{item.Type}}-icon.png"
							alt="{{item.Type}}"
							class="link-icon"
							uib-tooltip="{{item.TypeTip}}"/>
						{{item.Title}}
					</div>
				</uib-accordion-heading>
				<div class="embed-responsive embed-responsive-16by9 accordion-content" ng-show="embed.yt">
					<embed-video ng-href="{{theVideo}}"
						class="embed-responsive-item"
						<a ng-href="{{theVideo}}">Watch</a>
					</embed-video>
				</div>
				<div class="embed-responsive embed-responsive-16by9" ng-show="embed.videoFile">
					<video controls autostart
						class="embed-responsive-item"
						ng-src="{{videoFile}}"
						type="video/mp4">
					</video>
				</div>
			</uib-accordion-group>
		</uib-accordion>
		<!--

		<div class="col-md-8 docs-embed" ng-show="embed.gSlide">
			<iframe src="{{thePresentation}}"
				frameborder="0"
				width="1440"
				height="1109"
				allowfullscreen="true"
				mozallowfullscreen="true"
				webkitallowfullscreen="true"
				class="topic-preview"></iframe>
		</div>

		<div class="col-md-8 docs-embed" ng-show="embed.ppt">
			<iframe src="{{thePresentation}}"
				frameborder="0"
				width="1440"
				height="1109"
				allowfullscreen="true"
				mozallowfullscreen="true"
				webkitallowfullscreen="true"
				class="topic-preview"></iframe>
		</div>

		-->
	</div>
	<div class="row">
		<!-- Testing the new layout for the discussion boards.
			We should probably test which version users prefer.  -->
		<comments resourcetype="'topic'"
			resourceid="topicid"
			ng-show="hasDiscussionBoard"/>
	<!--
		<discussions-board resourcetype="'topic'"
			resourceid="topicid"
			ng-show="hasDiscussionBoard"/>
	-->
	</div>
</div>
