@import (reference) "src/_variables" ;
@import (reference) "src/_mixins" ;

/* TODO: either move those colors to src/_variables, or switch over to the
colors defined there */
@very-light-filler: #F7F7F7;
@very-dark-filler: #2F2F2F;

.topic-preview {
	min-width:500px;
	min-height:420px;
}

.content-player {
	max-width: 80%;
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	margin-top: 2em;
}

.topic {

	ul {
		list-style-type: none;
		padding: 0em;

		li {
			.topic-content {
				display: block;
				.noselect();
				text-decoration: none;
				color: @very-dark-filler;
				.darken-on-hover(@very-light-filler);
				border-radius: @centris-radius;
				margin-top: 0.5em;
				padding-bottom: 0.2em;
				transition: color 1s ease-in-out;

				&:hover {
					cursor: pointer;
					text-decoration: none;
				}
			}
		}
	}
}
