<div class="CommentBody">
	<div class="Copy">
		<h3 class="Copy-title CommentBody-title" ng-if="comment.Thread.Title">
			{{ comment.Thread.Title }}
		</h3>

		<markdown
			name="Comment text"
			class="CommentBody-text"
			bind-from="comment.Thread.Text"
			ng-model="comment.Thread.Text">
		</markdown>
	</div>

	<comment-attachments data="comment.Attachments"></comment-attachments>
</div>
