<centris-dialog-header
	titlecode="solutiongroupdlg.Title">
</centris-dialog-header>

<div class="modal-body">
	<!-- Trying to use: https://github.com/angular-ui/ui-select
	This select is using wrong .css file(select2 folder).
	It should be using the select.css and select.js files in angular-ui-select/dist folder -->
	<!-- <p>Selected: {{groupMember.selected}}</p> -->
	<ui-select ng-model="groupMember.selected"
		theme="select2"
		ng-disabled="disabled"
		centris-validate="solutiongroupdlg.Validation.NoStudentSelected"
		validate-condition="validation.noStudentSelected"
		style="min-width: 300px;">
		<ui-select-match placeholder="{{'solutiongroupdlg.ChooseGroupmember' | translate}}">
			{{$select.selected.name}}
		</ui-select-match>
		<ui-select-choices repeat="groupMember in studentsNotInGroup | propsFilter: {Name: $select.search, SSN: $select.search}">
			<div ng-bind-html="groupMember.Name | highlight: $select.search"></div>
			<small>
				{{'SSN' | translate}}: <span ng-bind-html="''+groupMember.SSN | highlight: $select.search"></span>
			</small>
		</ui-select-choices>
	</ui-select>

	<student-card allow-edit="false"
		student="groupMember.selected">
	</student-card>

</div>

<centris-dialog-footer
	submit="Add"
	on-submit="addMember()">
</centris-dialog-footer>
