.courseImport ul {
	list-style: none;
}

.courseImport .courseTemplate {
	background-color: #EEEEEE;
}

.courseTemplate:hover {
	background-color : #EEEEEE
}

.courseImport .pointer {
	cursor: pointer;
}

.courseImport .imports {
	padding: 0;
}

