
<div class="courseImport">

	<div class="col-sm-12" ng-show="fetchingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>
	<div class="col-md-6">
		<span >
			<form role="search">
				<elastic-search
					ng-model="contents"
					coursetemplates="true"
					size="5"
					templateurl="courseinstance/importcontent/components/search/import-search.tpl.html">
				</elastic-search>
			</form>
		</span>
		<h4>Veldu áfanga</h4>
		<ul class="list-group">
			<li ng-repeat="course in importableList">
				<div class="list-group-item courseTemplate pointer">
					<div ng-click="onCourseClicked(course)">
						<i ng-class="course.active ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
						<span>{{course | centrisTranslate: "Name" : "NameEN"}}</span>
					</div>
					<ui-select ng-model="course.selected" id="dropdown">
						<ui-select-match placeholder="Select or search a semester in the list...">{{$select.selected.Semester}}</ui-select-match>
						<ui-select-choices repeat ="courseInstance in course.CourseInstances">
							<div ng-click="update(course, courseInstance)">{{courseInstance.Semester}}</div>
						</ui-select-choices>
					</ui-select>
				</div>

				<ul ng-show="course.details" class="imports">
					<li ng-repeat="import in course.imports"
						class="list-group-item">
						<div class="checkbox">
							<label>
								<input type="checkbox"
								ng-model="import.radio"
								ng-change="addContent(course.selectedCourseInstance, import, import.radio)">
								<span translate="importContent.{{import.Type}}"></span> 
							</label>
						</div>
					</li>
				</ul>
			</li>
		</ul> <!--Course -->
	</div>

	<div class="col-md-6">
		<h4 translate="addedContent.AddedContent"></h4>
		<!-- Todo -->
		<p ng-show="addedContent.length === 0" translate="addedContent.NoAddedContent"></p>
		<table class="table table-striped" ng-show="addedContent.length !== 0">
			<thead>
				<th translate="addedContent.Content"></th>
				<th translate="addedContent.Course"></th>
				<th translate="addedContent.Semester"></th>
			</thead>
			<tbody>
				<tr ng-repeat="obj in addedContent">
					<td translate="importContent.{{obj.Type}}"></td>
					<td>{{obj | centrisTranslate: "Name" : "NameEN"}}</td>
					<td>{{obj.Semester}}</td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-success" 
				ng-show="addedContent.length !== 0" 
				translate="addedContent.Import"
				ng-click="importObjects()">
		</button>
	</div>
</div>