<div uib-dropdown class="pull-right">
	<a href="javascript:;"
		class="btn btn-primary"
		data-toggle="dropdown"
		uib-dropdown-toggle>
		<i class="fa fa-cog"></i>
		<span translate="Operations" />
	</a>
	<ul class="uib-dropdown-menu" role="menu">
		<li role="presentation">
			<a role="menuitem"
				tabindex="-1"
				href="/#/">
				{{'notifications.Home' | translate}}
			</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1"
				ng-click="markAllAsRead()">
					{{'notifications.MarkAllRead' | translate}}
				</a>
		</li>
	</ul>
</div>

<div style="clear:both;padding-top:1em;">
	<ul class="list-group">
		<li ng-class="{'read': n.Read, 'unread': !n.Read, 'list-group-item': true}"
			ng-repeat="n in notifications"
			ng-click="putReadNotification(n)">
			<div class="notification-menu-item clearfix"
				ng-include="getNotificationView(n)" />
		</li>
		<uib-pagination
			ng-show="pageCount > 1"
			boundary-links="true"
			first-text="&laquo;"
			last-text="&raquo;"
			previous-text="&lsaquo;"
			next-text="&rsaquo;"
			total-items="totalItems"
			items-per-page="itemsPerPage"
			ng-model="currentPage"
			ng-change="pageChanged()">
		</uib-pagination>
	</ul>
</div>
