<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowBooksIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="books.Title">
	<button class="btn btn-primary pull-right"
		ng-show="isTeacher"
		ng-click="addBook()">
		<i class="fa fa-plus"></i>
		<span translate="Add"/>
	</button>
</centris-page-header>

<div class="books" id="books">
	<div class="col-sm-12" ng-show="fetchingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>
	<div class="col-sm-12" ng-show="books.length == 0 && !fetchingData">
		<uib-alert type="info">
			<span translate="books.NoBooksRegistered" />
		</uib-alert>
	</div>

	<div class="col-sm-12">
		<uib-accordion close-others="accordionConfig.oneAtAtime">
			<uib-accordion-group class="book"
				ng-repeat="book in books">
				<uib-accordion-heading>
					<div class="row">
						<div class="col-md-12 bookTitle">
							<!-- If the book is required, we display that specifically: -->
							<i ng-show="book.Required" class="fa fa-fw fa-exclamation" title="{{'books.Required' | translate}}" />
							<i ng-hide="book.Required" class="fa fa-fw" />
							<span>{{book.Book.Title}}</span>
							<a href="#"
								ng-click="editBook(book)"
								ng-if="isTeacher">
								<i class="editbook fa fa-pencil-square-o" />
							</a>
							<a href="#"
								ng-click="deleteBook(book)"
								ng-if="isTeacher">
								<i class="removebook fa fa-trash-o" />
							</a>
						</div>
					</div>
				</uib-accordion-heading>

				<!-- Book informations -->
				<div class="col-lg-2 col-md-3 col-sm-2">
					<img ng-src="{{book.Cover}}" style="width: 100%;"/>
				</div>
				<div class="col-md-7">
					<table class="table table-hover">
						<tr>
							<td class="col-lg-1 col-md-1 col-sm-1">
								<b translate="books.Author" />
							</td>
							<td class="col-md-6">
								{{book.Book.Author}}
							</td>
						</tr>
						<tr>
							<td>
								<b translate="books.Release" />
							</td>
							<td>
								{{book.Book.Release}}
							</td>
						</tr>
						<tr>
							<td>
								<b translate="books.Published" />
							</td>
							<td>
								{{book.Book.Published}}
							</td>
						</tr>
						<tr>
							<td>
								<b translate="books.Memo" />
							</td>
							<td ng-bind-html="book.Book.Memo"></td>
						</tr>
					</table>
				</div>
			</uib-accordion-group>
		</uib-accordion>
	</div>
</div>
