<table class="table table-hover">
	<tr ng-repeat="r in threads[ti].Replies track by $index"
		id="reply{{r.Reply.ID}}">
		<td class="threadReply col-md-9 column col-md-1-offset">
			<div class="userImgReplies userImg col-md-2 columns ">
				<centris-person-image
					name="User image"
					ssn="r.Reply.Author.SSN"
					ng-if="r.Reply.IsAnonymous === false">
				</centris-person-image>
				<div class="likes">
					<span>{{ r.Likes.Count }}</span>
					<a
						tooltip-placement="right"
						uib-tooltip="{{'discussions.Like' | translate}}"
						ng-if="r.Likes.Liked === false"
						ng-click="like(r, true)">
						<i class="likeButton fa fa-plus"></i>
					</a>
					<a
						tooltip-placement="right"
						uib-tooltip="{{'discussions.Unlike' | translate}}"
						ng-if="r.Likes.Liked === true"
						ng-click="like(r, true)">
						<i class="likeButton fa fa-minus"></i>
					</a>
				</div>
			</div>
			<div class="col-md-10 columns">
				<p>
					<strong
						name="Anonymous"
						ng-if="r.Reply.IsAnonymous === true && board.IsInstructor === false">
						{{'discussions.AnonymousAuthor' | translate}}
					</strong>
					<strong
						name="Anonymous, but not to the instructors"
						ng-if="r.Reply.IsAnonymous === true && board.IsInstructor === true">
						{{'discussions.AnonymousAuthor' | translate}} ({{r.Reply.Author.Name}})
					</strong>
					<strong
						name="Authors name"
						ng-if="r.Reply.IsAnonymous === false">
						{{r.Reply.Author.Name}}
					</strong>
					<span
						name="Date posted"
						tooltip-placement="top"
						uib-tooltip="{{r.Reply.DatePosted | centrisDate:'HH:mm - DD. MMMM YYYY'}}">
						- {{r.Reply.DatePosted | centrisFromNow }}
					</span>
				</p>
				<div class="options dropdown pull-right" ng-if="showEditReplyFormId !== $index">
					<a
						ng-if="r.IsAuthor || board.IsInstructor"
						ng-hide="forms.editReply !== 0"
						class="dropdown-toggle"
						tooltip-placement="top"
						uib-tooltip="{{'discussions.Actions' | translate}}"
						data-toggle="dropdown">
						<i class="fa fa-angle-down fa-2x"></i>
					</a>
					<ul uib-dropdown-menu role="menu">
						<li>
							<a ng-click="switchEditReplyForm(r.Reply, $index); focusReply=true">{{'discussions.Edit' | translate}}</a>
							<!-- focusReply virkar ekki hér og það er mér algjör ráðgáta-->
						</li>
						<li>
							<a ng-if="r.IsAuthor === true || board.IsInstructor === true"
						 		ng-click="deleteReply(ti, $index)"
						 		ng-disabled="deletingReply === $index">
								 {{'discussions.Delete' | translate}}
							</a>
						</li>
					</ul>
				</div>
				<markdown
					name="Reply text"
					bind-from="r.Reply.Text"
					ng-model="r.Reply.Text"
					ng-if="showEditReplyFormId !== $index">
				</markdown>
				<div ng-hide="forms.editReply !== 0">
				<br />
					<span ng-if="r.Attachments.length > 0"> 	{{'discussions.Attachments' | translate}}</span>
					<table>
						<tr ng-repeat="a in r.Attachments track by $index">
							<td><a target="_blank" ng-href="{{a.URL}}">{{a.FriendlyFilename}}</a>	</td>
						</tr>
					</table>
				</div>
				<div ng-hide="forms.editReply === 0" ng-if="showEditReplyFormId === $index">
					<textarea
						name="Edit reply textbox"
						ng-show="forms.editReply === 1"
						class="textArea msd-elastic form-control"
						ng-model="formData.updatedReply.Text"
						ng-model="autoexpand"
						focus-me="focusReply"/>
					<div class="editor" ng-show="forms.editReply === -1">
						<textarea
							name="Markdown Editor"
							ng-model='formData.updatedReply.Text'
							focus-me="focusReply"
							markdownedit>
						</textarea>
						<div class="md-thread-preview"><h3>{{'discussions.Preview' | translate}}</h3>
							<hr />
							<markdown bind-from='formData.updatedReply.Text'></markdown>
						</div>
					</div>

					<div class="btn-group">
						<button
							type="button"
							class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
						<ul uib-dropdown-menu role="menu">
							<li>
								<a
									name="Be anonymous"
									class="dropdownAnon"
									ng-model="formData.updatedReply.IsAnonymous"
									btn-checkbox>
									{{'discussions.Anonymous' | translate}}
								</a>
							</li>
							<li>
								<a ng-click="switchForms('editReply'); focusReply=true">	{{'discussions.MdEditor' | translate}}</a>
							</li>
						</ul>
						<button
							name="Edit reply"
							type="button"
							class="btn btn-default"
							ng-click="editReply(r)"
							ng-disabled="editReplyPostButton === 'discussions.PostActive'">
							{{editReplyPostButton | translate}}
						</button>
						<button
							name="Cancel reply"
							type="button"
							class="btn btn-default"
							ng-click="cancelReplyEdit()"
							ng-disabled="editReplyPostButton === 'discussions.PostActive'">
							{{'discussions.Cancel' 	| translate}}
						</button>
					</div>
					<span class="anonText" ng-if="formData.updatedReply.IsAnonymous === true">{{'discussions.IsAnonymous' | translate}} </span>
				</div>

				<footer ng-if="r.Likes.InstructorCount === 1">{{'discussions.RecommendedOne' | translate}}</footer>
				<footer ng-if="r.Likes.InstructorCount > 1">{{'discussions.RecommendedMany' | translate : '{count: r.Likes.InstructorCount}'}}</footer>
			</div>
		</td>
	</tr>
	<tr ng-if="threads[ti].Replies.length === 0">
		<td>{{'discussions.NoReplies' | translate}}</td>
	</tr>
</table>

<!-- NEW REPLY -->
<div class="replies new" ng-if="threads.length > 0">
	<textarea
		name="New reply"
		class="textArea msd-elastic form-control"
		ng-hide="forms.newReply === -1"
		ng-model="formData.newReply.Text"
		ng-model="autoexpand"
		focus-me="focusNewReply"
		ng-click="forms.newReply = 1"
		placeholder="{{'discussions.NewReplyText' | translate}}" />
	<div class="editor row" ng-show="forms.newReply === -1">
		<textarea
			name="Markdown Editor"
			ng-model='formData.newReply.Text'
			focus-me="focusNewReply"
			placeholder="{{ 'discussions.NewReplyText' | translate}}"
			markdownedit>
		</textarea>
		<div class="md-thread-preview"><h3>{{'discussions.Preview' | translate}}</h3>
			<hr />
			<markdown bind-from='formData.newReply.Text'></markdown>
		</div>
	</div>
	<div class="btn-group" ng-hide="forms.newReply === 0">
		<button
			type="button"
			class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
			<span class="glyphicon glyphicon-cog"></span>
		</button>
		<ul uib-dropdown-menu role="menu">
			<li>
				<a
					name="Be anonymous"
					class="dropdownAnon"
					ng-model="formData.newReply.IsAnonymous"
					btn-checkbox>
					{{'discussions.Anonymous' | translate}}
				</a>
			</li>
			<li>
				<a ng-click="switchForms('newReply'); focusNewReply=true">{{'discussions.MdEditor' | translate}}</a>
			</li>
			<li class="divider"></li>
				<li>
					<span class="fileinputButton">
				<input type="file"
					name="Upload Files"
					file-model="formData.newReply.Files"
					multiple="multiple"/>
					<span>{{'discussions.AddFiles' | translate }} </span>
				</span>
			</li>
		</ul>
		<button
			name="New reply"
			type="button"
			class="btn btn-default"
			ng-click="postReply(ti)"
			ng-disabled="newReplyPostButton === 'discussions.PostActive'">
			{{newReplyPostButton | translate}}
		</button>
		<button
			name="Cancel reply"
			type="button"
			class="btn btn-default"
			ng-click="cancelReply()"
			ng-disabled="newReplyPostButton === 'discussions.PostActive'">
			{{'discussions.Cancel'| translate}}
		</button>
	</div>
		<span class="anonText">
		<span ng-if="formData.newReply.IsAnonymous === true"> {{'discussions.IsAnonymous' | 	translate}} </span>
		<strong ng-if="formData.newReply.Files"> | {{'discussions.Attachments' | translate}}  </strong>
		<span ng-repeat="i in formData.newReply.Files" > | {{i.name}} </span>
	</span>
</div>


