<centris-page-header page-title="exambank.Title">
	<button class="btn btn-primary pull-right"
		ng-click="addExam()">
		<i class="fa fa-plus"></i>
		<span translate="exambank.AddExam" />
	</button>
</centris-page-header>

<div class="exambank">
	<div class="col-sm-12" ng-show="fetchingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>
	<div class="col-sm-12" ng-show="examBank.length == 0 && !fetchingData">
		<uib-alert type="info">
			<span translate="exambank.NoExamsRegistered" />
		</uib-alert>
	</div>

	<table class="table table-hover" ng-show="examBank.length > 0">
		<tr table-sort="Title">
			<th data-columnName="Title">
				{{'exambank.ExamTitle' | translate}}
			</th>
			<th data-columnName="Semester">
				{{'Semester' | translate}}
			</th>
		</tr>
		<tr ng-repeat="exam in examBank | orderBy:predicate:reverse">
			<td>
				<a ng-href="{{ exam.Exam.URL }}">
					{{ exam.Title }}
				</a>
			</td>
			<td>
				{{ exam.Semester}}
			</td>
			<td>
				<a href="#"
					ng-click="deleteExam(exam)"
					ng-if="isTeacher">
					<i class="removeexam fa fa-trash-o"/>
				</a>
			</td>
		</tr>
	</table>
</div>