<centris-dialog-header titlecode="CourseRegistration.Failure.Title">
</centris-dialog-header>
	<div class="modal-body">
		<dl ng-repeat="failure in failures">
			<dt>{{ failure.CourseInstance.Name }}</dt>
			<dl><span translate="CourseRegistration.Failure.Reason"></span>: {{ failure.Reason }}</dl>
		</dl>
	<centris-dialog-footer submit="OK"></centris-dialog-footer>
</div>