<div class           = "horizontal-line"></div>
<div class="row">
	<div class="col-md-12" ng-hide="showMilestoneDetails">

		<!-- Tabs containing each milestone -->
		
		<uib-tabset class="tabs-milestones">
			<uib-tab
				ng-repeat="selectedStone in assignmentMilestones"
				active="selectedStone.active"
				disabled="selectedStone.disabled"
				ng-init="setMilestone(0)"
				ng-click="setMilestoneIndex(assignmentMilestones.indexOf(selectedStone))"
				heading="{{selectedStone.Name}}">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group col-md-6">
								<label for="selectedStoneGrades"
									translate="assignments.GradeForMilestone"></label>
								<input class="form-control"
									id         = "grade-for-milestone"
									type       = "number"
									min        = "0"
									ng-model   = "selectedStone.Grade"
									ng-keydown = "checkIfTabWasPressedBackwards($event)"
									ng-change  = "markChanged();updateGrade(selectedStone, selectedStone.Grade)"
									focus-me   = "milestoneFocus">

								<form>
									<!-- Assignment Assesment Grade\TeachersMemo -->
									<label for="studentAssignment.TeacherMemo"
										translate="assignments.CommentForMilestone"></label>

									<textarea class="form-control teacher-memo-textarea"
										id         = "memo-for-milestone"
										type       = "text"
										ng-model   = "selectedStone.Memo"
										name       = "studentAssignment.TeacherMemo"
										ng-keydown = "checkIfTabWasPressed($event)"
										ng-change  = "markChanged()"></textarea>
								</form>

								<!-- Prev/Next milestone -->
								<div>
									<button class="btn btn-default btn-sm pull-left"
										ng-click  = "setMilestone(-1)"
										tooltip   = "{{'assignments.PrevMilestone' | translate }}"
										translate = "assignments.Prev"></button>

									<button class="btn btn-default btn-sm pull-right"
										ng-click  = "setMilestone(+1)"
										tooltip   = "{{'assignments.NextMilestone' | translate }}"
										translate = "assignments.Next"></button>
								</div>
							</div>

							<div class="col-md-6">
								<h5 translate="assignments.Description"></h5>
								<div class="well well-sm">{{selectedStone.Description}}</div>
							</div>
							
							<div ng-show= "isMooshakPlugin(selectedStone.PluginData)">
								<div class="col-md-6">
										<div>
											<label>Contest:</label>
										<p>{{selectedStone.Contest}}</p>
									</div>

									<div>
										<label>Problem:</label>
										<p>{{selectedStone.Problem}}</p>
									</div>
								</div>

								<a  ng-if="codeLink" class="btn btn-default btn-sm pull-right" href="{{codeLink}}" target="_blank">
									<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
									Skoða kóða</a> 

								<button  ng-if="!codeLink" class="btn btn-default btn-sm pull-right"
											ng-click  = "getMoosahkMileStoneGrade(selectedStone)"
											tooltip   = "{{'assignments.GetMooshakMilestoneGrade' | translate }}"
											translate = "assignments.GetMooshakMilestoneGradeButton"></button>

							</div>
						</div>

						<div class="col-md-6">
							<div class="col-md-12">
								<table class="table milestones-table">
									<thead>
										<tr>
											<th translate="assignments.Title"></th>
											<th translate="assignments.Weight"></th>
											<th translate="assignments.Grade"></th>
											<th class="text-indicator-col"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="stone in assignmentMilestones"
											ng-class="{
												'selected-milestone': stone.MilestoneID === selectedStone.MilestoneID,
												'full-score': stone.Grade >= stone.Milestone.Weight,
												'ok-score': stone.Grade < stone.Milestone.Weight && stone.Grade > 0,
												'bad-score': stone.Grade <= 0
											}">

											<td>{{stone.Name}}</td>
											<td>{{stone.Weight}}</td>
											<td>{{stone.Grade}}</td>
											<td><i class="fa fa-file-text-o has-memo-icon"
												tooltip = "{{'assignments.ContainsComment' | translate}}"
												ng-show = "stone.Memo !== ''"></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td></td>
											<td>{{totalWeight}}</td>
											<td>{{studentAssignment.Grade.toFixed(1)}}</td>
											<td></td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>

			</uib-tab>

		</uib-tabset>
	</div>
</div>