<div>
	<uib-alert type="info"
		ng-show="gettingAssignmentGroups === true">
		<i class="fa fa-spinner fa-spin"></i>
		{{'assignments.FetchingGroups' | translate}}
	</uib-alert>

	<div ng-hide="gettingAssignmentGroups === true">

		<h2>{{assignment.Title}}</h2>

		<!--LeftBox, contains AssignmentDetails\Grading -->
		<!-- <div class="row">
			<div class="col-md-12">
				<h3 class="text-info-grading">
					{{'assignments.StudentGroup' | translate}} {{studentAssignment.ID}}
				</h3>
			</div>
		</div> -->

			<!-- TODO: Remove the "delete" option if studentAssignment.Members.length === 1-->
			<div class="form-group">
				<label for="studentAssignment.Group"
					translate="assignments.Group"></label>

				<div class="StudentCard-container">
					<student-card ng-repeat="m in studentAssignment.Members"
						student="m"
						on-remove="removeStudentFromGroup(member)"
						allow-edit="true">
					</student-card>
					
					<div class="student-card">
						<div class="StudentCardAdd StudentCard-border"
							ng-click="onAddGroupMember()">
							<i class="fa fa-plus fa-3x" />
						</div>
					</div>

					<!-- empty cards that keep the flow look better-->
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
					<div class="student-card"><div class="StudentCard-empty"></div></div>
				</div>
			</div>

			<!-- Teacher's memo -->
			<div class="form-group">
				<label for="studentAssignment.TeacherMemo"
					translate="assignments.TeacherMemo"></label>

				<textarea tabindex="1"
					class     = "form-control teacher-memo-textarea"
					type      = "text"
					ng-model  = "studentAssignment.TeacherMemo"
					ng-change = "markChanged()"
					id        = "studentAssignment.TeacherMemo"></textarea>
			</div>
			<div class="form-group">
				<label for="studentAssignment.Grade"
					translate="assignments.Grade"></label>
				<input tabindex="2"
					type        = "number"
					min         = "0"
					max         = "12"
					ng-readonly = "assignment.Milestones.length > 0"
					ng-model    = "studentAssignment.Grade"
					id          = "studentAssignment.Grade"
					class       = "form-control"
					ng-change   = "markChanged();deductForLateHandin(studentAssignment.Grade)"/>
				<p ng-show = "lateHandin">
					{{'assignments.LateHandinPenalty' | translate}}: {{lateHandinPenalty}}<br/>
					{{'assignments.PreviousPenalty' | translate}}: {{previousPenalty}}
				</p>
			</div>

				<!--Late handin penalty box-->
			<div class         = "form-group"
				ng-show          = "lateHandin">
				<label translate = "assignments.AutomaticDeduction"></label>
				<input type      = "number"
					max          = "0"
					class        = "form-control"
					ng-model     = "chosenPenalty"/>
			</div>

			<!-- Left file tab -->
			<div class="form-group" ng-show="hasStudentComment">
				<label for="studentAssignment.StudentMemo"
					translate="assignments.StudentMemo"></label>
				<div class="well well-sm">{{studentAssignment.StudentMemo}}</div>
			</div>

			<uib-accordion close-others="false">
				<uib-accordion-group
					heading="{{'assignments.SolutionFiles' | translate }}"
					is-open="true">

					<table class="table">
						<thead>
							<tr>
								<th><span translate="assignments.Filename" /></th>
								<th><span translate="assignments.Filesize" /></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="f in studentAssignment.Attachments">
								<td>
									<a ng-if="f.FriendlyFilename.indexOf('.pdf') > -1"
										target="_blank"
										ng-href="pdf/web/viewer.html?file={{f.URL}}&attachmentID={{f.ID}}&assignmentID={{assignmentID}}&courseID={{courseInstanceID}}&handinID={{handinID}}"
										ng-if="!f.IsNew"
										class="btn btn-primary pull-right"
										style="left: 17px; position: relative; padding: 3px 8px;">
										<i class="fa fa-pencil" style=""></i>
									</a>
									<a ng-if="isViewerSupport(f.FriendlyFilename)"
										target="_blank"
										ng-href="/ace/view/?courseID={{courseInstanceID}}&assignmentID={{assignmentID}}&attachmentID={{f.ID}}&handinID={{handinID}}"
										ng-if="!f.IsNew"
										class="btn btn-primary pull-right"
										style="left: 17px; position: relative; padding: 3px 8px;">
										<i class="fa fa-pencil" style=""></i>
									</a>
									<a target="_blank"
										ng-href="{{f.URL}}"
										ng-if="!f.IsNew">
										{{f.FriendlyFilename}}
									</a>
									<span ng-if="f.IsNew">
										{{f.FriendlyFilename}}
									</span>
								</td>
								<td>
									{{f.Size}}
								</td>
								<td class="text-right"
									ng-click="removeAttachment(f)">
									<i class="fa fa-times text-danger" />
								</td>
							</tr>
						</tbody>
					</table>

					<div class="form-group">
						<div ngf-drop
						ngf-select
						ng-model="studentAssignment.NewFiles"
						class="drop-box"
						ngf-drag-over-class="dragover"
						ngf-multiple="true"
						ngf-allow-dir="true"
						ngf-change="onFileSelected($files, $event)">
						<i class="fa fa-files-o fa-2x"></i>
							<strong translate="assignments.DropFiles"></strong>
						</div>
						<div ngf-no-file-drop>
							<span translate="assignments.DropFilesNotSupported"></span>
						</div>
					</div>
				</uib-accordion-group>
			</uib-accordion>

		<div ng-include
			ng-hide          = "mileStoneSolution"
			src              = "'courseinstance/assignments/components/grading/grading-assignment.tpl.html'"></div>

		<div ng-include
			ng-show          = "mileStoneSolution"
			src              = "'courseinstance/assignments/components/grading/grading-milestones.tpl.html'"></div>

		<div class           = "browse-solutions-buttons">
			<button tabindex = "4"
				class        = "btn btn-success pull-right"
				ng-click     = "submitChanges(studentAssignment)"
				tooltip      = "{{'assignments.SaveChanges' | translate}}"
				translate    = "Save"></button>

			<button tabindex = "4"
				class        = "btn btn-default pull-right"
				ng-click     = "setAssignment(+1)"
				tooltip      = "{{'assignments.NextGroup' | translate}}"
				translate    = "assignments.Next"></button>

			<button tabindex = "4"
				class        = "btn btn-default pull-right"
				ng-click     = "setAssignment(-1)"
				tooltip      = "{{'assignments.PrevGroup' | translate}}"
				translate    = "assignments.Prev"></button>
		</div>

</div>
