<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-lg-4">
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.Mean" />:
				</div>
				<div class="col-md-3">
					<span>
						{{statisticsData.Mean | number: 2}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.Median" />:
				</div>
				<div class="col-md-3">
					<span>
						{{statisticsData.Median | number : 2}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.StandardDeviation" />:
				</div>
				<div class="col-md-3">
					{{statisticsData.StandardDeviation | number : 2}}
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-4">
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.HighestGrade" />:
				</div>
				<div class="col-md-3">
					{{statisticsData.HighestGrade | number : 2}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.LowestGrade" />:
				</div>
				<div class="col-md-3">
					{{statisticsData.LowestGrade | number : 2}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<strong translate="assignments.CommonGrade" />:
				</div>
				<div class="col-md-3">
					<span ng-repeat="grade in statisticsData.CommonGrade">{{grade}}{{$last ? '':', '}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div>
					<canvas width="100" height="70"
						class="chart chart-bar"
						chart-data="statisticsData.values"
						chart-labels="statisticsData.labels">
					</canvas>
				</div>
			</div>
		</div>
	</div>
