<div class="row">
	<!-- NEW THREAD FORM, FULLY VISIBLE IF BOARD IS EMPTY -->
	<input 
		name="Thread Title"
		type="text"
		maxlength="64"
		class="form-control textTitle" 
		ng-show="forms.newThread === -1"
		placeholder="{{'discussions.NewThreadTitle' | translate}} ({{'discussions.Optional' | translate}})" 
		ng-model="formData.newThread.Title" />
	<textarea
		name="Thread Text"
		ng-hide="forms.newThread === -1"
		class="textArea msd-elastic form-control"
		ng-model="formData.newThread.Text" 
		ng-model="autoexpand"
		focus-me="focusNewThread"
		ng-click="forms.newThread = 1" 
		placeholder="{{'discussions.NewThreadText' | translate}}" />

	<!-- EDITOR -->
	<!--<div ng-editorTest="show" text-angular ng-model="formData.newThread.Text"></div>-->
	<div class="editor" ng-show="forms.newThread === -1">
		<textarea
			name="Markdown Editor"
			placeholder="{{'discussions.NewThreadText' | translate}}" 
			ng-model='formData.newThread.Text'
			focus-me="focusNewThread"
			markdownedit>
		</textarea>
		<div class="md-thread-preview"><h3>{{'discussions.Preview' | translate}}</h3>
			<hr />
			<markdown bind-from='formData.newThread.Text'></markdown>
		</div>
	</div>
</div>

<!-- Dropdown, Post, Cancel -->
<div ng-show="forms.newThread !== 0 || threads.length === 0"> 
	<div class="btn-group row">
		<button 
			name="Dropdown"
			tooltip-placement="top" 
			uib-tooltip="{{'discussions.Settings' | translate}}" 
			type="button"
			class="btn btn-default"
			uib-dropdown-toggle>
			<span class="glyphicon glyphicon-cog"></span>
		</button>
		<ul class="uib-dropdown-menu" role="menu">
			<li>
				<a 
					name="Anonymous Toggle"
					class="dropdownAnon" 
					ng-model="formData.newThread.IsAnonymous"
					btn-checkbox>
					{{'discussions.Anonymous' | translate}}
				</a>
			</li>
			<li><a ng-click="switchForms('newThread'); focusNewThread = true">{{'discussions.MdEditor' 	| translate}}</a></li>
			<li class="divider"></li>
			<li>
				<span class="fileinputButton">
				<input 
					name="Upload Files"
					type="file"
					file-model="formData.newThread.Files"
					multiple="multiple"/>
					<span>{{'discussions.AddFiles' | translate }} </span>
				</span>
			</li>
		</ul>
	<button 
		name="Post Thread"
		type="button"
		class="btn btn-default" 
		ng-click="postThread()" 
		ng-disabled="newThreadPostButton === 'discussions.PostActive'">
		{{newThreadPostButton | translate}}
	</button>
	
	<button 
		name="Cancel Thread"
		type="button"
		class="btn btn-default" 
		ng-click="cancelThread()"
		ng-disabled="newThreadPostButton === 'discussions.PostActive'">
		{{'discussions.Cancel' | translate}}
	</button>
	</div>
	<span class="anonText">
	<span ng-if="formData.newThread.IsAnonymous === true"> {{'discussions.IsAnonymous' | translate}} </span>

	<strong ng-if="formData.newThread.Files"> | {{'discussions.Attachments' | translate}}  </strong>
	<span ng-repeat="i in formData.newThread.Files" > | {{i.name}} </span>
	</span>
</div>
<div class="emptyThread" ng-if="threads.length === 0">
	<h3>{{'discussions.NoThreadsHeader' | translate}}</h3>
	<p>{{'discussions.NoThreadsText' | translate}}</p>
</div>