@import (reference) "src/_variables" ;

.fa-bell {
	color: white;
	font-size: 20px !important;
}

.nav-notifications {
	float: left;
	margin-top: 21px !important;
	padding: 0px !important;
	margin-right: 10px;
}

.notifications-dropdown-menu {
	border-radius: 0;
	padding: 0;
	margin-top: 13px !important;
	min-width: 320px !important;
	max-width: 100% !important;
	margin-right: -72px;

	@media (min-width: 440px) {
		margin-right: 0;
	}
}

.notifications-pill {
	margin-bottom: 0 !important;
}

.badge-warning {
	background-color: white !important;
	color: #428BCA !important;
	animation: notification-color-change 400ms 3;
	animation-delay: 2.5s;
}

@keyframes notification-color-change {
	50% {
		background-color: @centris-red;// #428BCA;
		color: white;
	}
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.notifications-dropdown-menu {
		margin-top: 19px !important;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.notifications-dropdown-menu {
		width: 100% !important;
		float: right !important;
		margin-top: 9px !important;
	}
	.nav-notifications {
		margin-top: 14px !important;
	}
}

// VERY SPECIFIC
.notifications-dropdown-menu > .list-group {
	margin-bottom: 0;
	max-height: calc(~"100vh - 130px");
	overflow-y: auto;
}

.notifications-dropdown-menu > .list-group > .list-group-item {
	border-radius: 0;
	border: none;
	border-top: 1px solid #dedede;
	border-left: solid 2px white;

	&:first-child {
		border-top: none;
	}

	&.unread {
		background-color: #f7f7f7;
		border-right: solid 2px @centris-red;
	}
}

/* Styles relating to notification menu items: */
.notification-menu-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50px;

	.notification-menu-image {
		align-items: center;
		border-radius: 50%;
		display: flex;
		height: 50px;
		justify-content: center;
		position: absolute;
		top: 10px;
		overflow: hidden;
		width: 50px;

		> img {
			height: auto;
			max-width: 100% !important;
		}
	}

	a {
		font-weight: 700;
		color: inherit;
		text-decoration: none;
	}

	.notification-entry {
		font-size: 12px;
		margin-left: 60px;/* A bit more than the width of the image - see above */
		line-height: 1.34
	}

	.notification-time {
		font-size: 12px;
		margin-left: 60px;
		color: #B7B7B7; /* TODO: use app-standard gray color? */
	}
}
