@import (reference) "src/_variables";

.courses {

	.select2-choice, .select2-default {
		height: 32px !important;
	}

	input {
		height: 32px;
		font-size: 13px;
		color: @gray-dark;
		border: 1px solid @gray-light;
		border-radius: @centris-radius;

		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;;
	}

	a {
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
}
