<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowAllCoursesIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="allcourses.Table_Container_Title">
</centris-page-header>

<div class="courses" id="aboutthelist">

	<div class="table-filters">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<form class="ng-pristine ng-valid">
					<input type="text"
						id="searchbutton"
						placeholder="{{'allcourses.Table_Search' | translate}}"
						class="form-control ng-pristine ng-valid"
						ng-model="searchKeywords">
				</form>
			</div>

			<div class="col-sm-4 col-xs-6" id="choosedepartment">
				<centris-department-dropdown
					ng-model="department"
					allow-clear="true"
					teaching-only="true"
					on-update-department="filterDepartment(department)"
					json-dep-placeholder="{{'allcourses.Table_Department' | translate}}">
				</centris-department-dropdown>
			</div>

			<div class="col-sm-4 col-xs-6" id="choosesemester">
				<centris-semester-dropdown
					ng-model="semester"
					allow-clear="true"
					multiple-select="false"
					on-update="filterSemester(semester)"
					json-sem-placeholder="{{'allcourses.Table_Semester' | translate}}">
				</centris-semester-dropdown>
			</div>
		</div>
	</div>

	<div ng-show="loadingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div ng-hide="courses.length > 0 || loadingData">
		<uib-alert type="info">
			<span translate="allcourses.Messages.NoEntries"></span>
		</uib-alert>
	</div>

	<table class="table table-responsive" ng-show="courses.length > 0 && !loadingData">
		<thead>
			<tr table-sort="Name">
				<th data-columnName="CourseID">
					{{'allcourses.CourseID' | translate }}
				</th>
				<th data-columnName="Name">
					{{'allcourses.Table_Col_Name' | translate }}
				</th>
				<th data-columnName="mainTeacher"
					 ng-show='courseColumns[0].visible'>
					{{'allcourses.Table_Col_Teachers' | translate }}
				</th>
				<th data-columnName="LanguageCode"
					 ng-show='courseColumns[1].visible'>
					{{'Language' | translate }}
				</th>
				<th data-columnName="Slot"
					 ng-show='courseColumns[2].visible'>
					{{'allcourses.CourseSlot' | translate }}
				</th>
				<th data-columnName="DateBegin"
					ng-show="courseColumns[3].visible">
					{{'allcourses.Starts' | translate }}
				</th>
				<th data-columnName="RegisteredStudents"
					 ng-show='courseColumns[4].visible'>
					{{'allcourses.Table_Col_Registered' | translate }}
				</th>
				<th data-columnName="MaxStudents"
					 ng-show='courseColumns[5].visible'>
					{{'allcourses.Table_Col_Max_Students' | translate }}
				</th>
				<th data-columnName="Credits"
					 ng-show='courseColumns[6].visible'>
					{{'allcourses.Table_Col_Credits' | translate }}
				</th>
				<th>
					<div class="btn-group pull-right" uib-dropdown>
						<button type="button" id="optionsbutton"
							class="btn btn-primary btn-sm"
							ng-click="makeCSVHeader()"
							uib-dropdown-toggle>
							<span translate="Operations" />
							<span class="caret" style="margin-left: 5px"></span>
						</button>
						<ul class="uib-dropdown-menu" role="menu">
							<li ng-repeat="column in courseColumns">
								<a ng-click="toggleColumn(column)">
									<i class="fa fa-fw"
										ng-hide="column.visible"/>
									<i class="fa fa-fw fa-check"
										ng-show="column.visible"/>
									<span>
										{{ column.name | translate }}
									</span>
								</a>
							</li>

							<li class='divider'></li>

							<li>
								<a ng-csv="csvObject"
									field-separator=","
									csv-header="csvHeader"
									charset="utf-8"
									encode="utf-8"
									filename="courses.csv"
									add-bom="true">
									<i class="fa fa-file-excel-o"/>
									<span translate="allcourses.ExportCSV"></span>
								</a>
							</li>
						</ul>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="course in courses | orderByLocale:predicate:reverse | filter:searchKeywords">
				<td class="stay-one-line">
					{{ course.CourseID }}
				</td>
				<td>
					<a ng-href="#/courses/{{course.ID}}"
						class="course-href">
						{{course | centrisTranslate: "Name" : "NameEN"}}
					</a>
				</td>
				<td ng-show="courseColumns[0].visible">
					<div ng-if="course.Teachers.length > 0">
						<a ng-href="#/persons/{{course.Teachers[0].SSN}}">
							{{course.Teachers[0].FullName}}
						</a>
						(<centris-teacher-type
							type="course.Teachers[0].Type">
						</centris-teacher-type>)
						<a class="show-hide-teachers"
							href=""
							ng-show="course.Teachers.length > 1"
							ng-click="course.showAllTeachers = !course.showAllTeachers">
							<span>
								...
							</span>
						</a>
					</div>
					<div ng-if="course.Teachers.length > 1"
						 ng-show="course.showAllTeachers">
						<div ng-repeat="t in course.Teachers">
							<a ng-href="#/persons/{{t.SSN}}"
								ng-if="$index > 0">
								{{t.FullName}}
							</a>
							<span ng-if="$index > 0">
							(<centris-teacher-type
								type="t.Type">
							</centris-teacher-type>)
							</span>
						</div>
					</div>
				</td>
				<td ng-show="courseColumns[1].visible">
					<centris-flag lang="course.LanguageCode">
					</centris-flag>
				</td>
				<td ng-show="courseColumns[2].visible">
					<span ng-if="course.Slot === 1"
						translate="CourseSlots.Weeks12" />
					<span ng-if="course.Slot === 2"
						translate="CourseSlots.Weeks3" />
					<span ng-if="course.Slot === 3"
						translate="CourseSlots.Weeks15" />
					<span ng-if="course.Slot === 4"
						translate="CourseSlots.Other" />
				</td>
				<td ng-show="courseColumns[3].visible">
					{{ course.DateBegin | centrisDate }}
				</td>
				<td ng-show="courseColumns[4].visible">
					{{ course.RegisteredStudents }}
				</td>
				<td ng-show="courseColumns[5].visible">
					{{ course.MaxStudents }}
				</td>
				<td ng-show="courseColumns[6].visible">
					{{ course.Credits }}
				</td>
				<td>
					<!-- This column intentionally left empty. -->
				</td>
			</tr>
		</tbody>
	</table>
</div>