.issues-form {
	max-width: 600px;
	margin: 0 auto;
}

.custom-panel {
	margin-top: -22px;
	margin-left: 8px;
}

.message-panel {
	max-width: 600px;
	margin: 20px auto;
}

.message {
	overflow-wrap: break-word;
}

.lefty {
	float: left;
}

.righty {
	float: right;
}

.clearb {
	clear: both;
}
