<div class="col-sm-12" ng-show="loading">
	<uib-alert type="info">
		<span translate="Loading"></span>
	</uib-alert>
</div>

<div class="panel issues-form" ng-class="stateClass[issue.state]" ng-hide="loading">
	<div>
		<button class="btn btn-danger btn-sm righty" ng-click="back('/issues')">
			<span translate="Issues.Actions.back"></span>
		</button>
	</div>

	<div class="panel-heading">
		<h3 class="panel-title">{{issue.typeName}} [{{'Issues.Common.state' | translate}}: {{'Issues.States.' +
			issue.state | translate}}]</h3>
	</div>

	<div class="panel-body">
		<section>
			<b><p translate="Issues.Common.createDate"></p></b>

			<p>{{issue.createDate | centrisDate:'DD. MMMM YYYY - HH:mm:ss'}}</p>
			<hr>
		</section>

		<section>
			<b><p><span translate="Issues.Common.assigneeName"></span></p></b>

			<p ng-show="issue.assigneeName !== null">{{issue.assigneeName}}</p>

			<p ng-show="issue.assigneeName === null">{{'Issues.Common.unassigned' | translate}}</p>
			<hr>
		</section>

		<section>
			<b><p translate="Issues.Common.description"></p></b>

			<p>{{issue.description}}</p>
		</section>

		<section ng-show="issue.resolveDate !== null">
			<hr>
			<b><p translate="Issues.Common.resolveDate"></p></b>

			<p>{{issue.resolveDate | centrisDate:'DD. MMMM YYYY - HH:mm:ss'}}</p>
		</section>
	</div>
</div>

<div class="panel panel-default message-panel" ng-hide="loading">
	<div class="panel-heading">
		<h3 class="panel-title">{{'Issues.Messages.title' | translate}}</h3>
	</div>

	<div class="panel-body">
		<section ng-show="issue.messages.length === 0">
			<p>{{'Issues.Messages.empty' | translate}}</p>
			<hr>
		</section>

		<section ng-show="issue.messages.length !== 0">
			<span ng-repeat="message in issue.messages">
				<span class="message">
					<p class="text-muted lefty">{{message.authorName}}:</p>
					<p class="text-muted righty">{{message.createDate | centrisDate:'DD. MMMM YYYY - HH:mm:ss'}}</p>
					<p class="clearb">{{message.message}}</p>
				</span>
				<hr>
			</span>
		</section>

		<section>
			<form name="msgForm" ng-submit="postMessage()">
				<div class="form-group" ng-class="{'has-error': msgForm.msgBody.$invalid}">
					<label class="control-label" for="messageBody">{{'Issues.Messages.post' | translate}}</label>
					<textarea class="form-control" id="messageBody" name="msgBody"
					          placeholder="{{'Issues.Messages.message' | translate}}" ng-model="newMessage"
					          rows="4" ng-minlength="rules.minlen"
					          ng-maxlength="rules.maxlen"></textarea>
					<span class="help-block" ng-show="msgForm.msgBody.$error.minlength"
					      translate="Issues.Errors.tooShort"></span>
					<span class="help-block" ng-show="msgForm.msgBody.$error.maxlength"
					      translate="Issues.Errors.tooLong"></span>
				</div>
				<button type="submit" ng-disabled="!newMessage || msgForm.msgBody.$invalid" class="btn btn-primary pull-right">
					{{'Issues.Messages.send' | translate}}
				</button>
			</form>
		</section>
	</div>
</div>
