@import (reference) "src/_variables";

.CommentCreate {
	&-body {
		position: relative;

		> .ta-toolbar {
			padding-right: 12px;
			position: absolute;
			right: 100%;
			top: 0;
			width: 49px;
		}

		.ta-editor {
			margin: 12px 0 !important;
		}

		.btn-group {
			display: block !important;
			float: none !important;
			margin: 0 !important;
			width: 100% !important;
		}

		.btn {
			box-sizing: border-box !important;
			border-radius: @centris-radius !important;
			display: block !important;
			float: none !important;
			margin: 0 0 4px !important;
			width: 100% !important;
		}
	}

	&-anonymous {
		padding-left: 0 !important;
	}

	&-upload {
		display: block;
		color: #333;
		cursor: pointer;
		line-height: 1.4;
		font-weight: normal;
		padding: 3px 20px;
		white-space: nowrap;
	}
}
