@import (reference) "src/_variables";

.CourseSidebar {
	display: none;
	left: 100%;
	margin-left: 15px;
	position: absolute;
	top: 0;
	width: @Page-paddingLeft - @grid-gutter-width / 2;

	@media (min-width: @screen-sm-max) {
		display: block;
	}

	&-list {
		list-style-type: none;
		padding: 0;
		width: 100%;
	}

	&-link {
		color: @text-color;
		display: block;
		padding: 4px 0;
	}
}

.medium-drop-down {
	position: absolute;
	right: 170px;
	top: 14px;
	font-size: 18px;
}
.small-drop-down {
	position: absolute;
	right:0;
	top: 5px;
	font-size: 18px;
	width: 100%;
	text-align: left;
}

.Titlebar {
	&-hide {
		transition: max-height 150ms;
		position: absolute;
		top: 38px;
		right: 0;
		max-height: 0px;
		overflow: hidden;
		width: 210px;
		border: 1px solid #F9F9F9;
		text-align: left;

		@media (max-width: @screen-xs-max) {
			top: 30px;
			right: 0px;
			width: 100%;
		}

		&-dropdown {
			transition: height .2s;
			height: 20px;
			@media (min-width: @screen-sm-max) {
				height: 0px;
				overflow: hidden;
			}
			@media (max-width: @screen-xs-max) {
				text-align: right;
			}
		}
	}

	&-show {
		border: solid 1px #B3B3B3;
		border-radius: 0 0 @centris-radius @centris-radius;
		max-height: 500px;
	}

	&-dropdown {
		max-height: 0px;
		z-index: 90;
		position: relative;
		display: inline-block;
		width:100%;
		text-align: right;

		&-currSelected {
			margin: 2px 20px;
			font-size: 14px;
			float: right;
			@media (max-width: @screen-xs-max) {
				margin: 0 20px 0 5px;
			}
			@media (min-width: @screen-sm-min) {
			}
		}

		&-selected {
			& i {
				padding: 3px;
				float:right;
			}
		}

		&-list {
			font-size: 14px;
			margin: 0px !important;
			border-top: 1px solid white;
			&:first-child {
				border-top: none;
			}
		}

		&-drop-mask {
			border: 0;
			margin: 0;
			padding: 0;
			position: fixed;
			left: 0;
			top: 0;
			min-height: 100%;
			min-width: 100%;
			height: auto;
			width: auto;
			opacity: 0;
			z-index: 90;
			max-width: 320px;
		}

		&-arrow {
			margin: 0 15px;
			transition: transform 150ms;

			&-open {
				transform: rotateZ(180deg);
			}
		}
	}
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: @screen-sm-min) {
	.show-x-small {
		display: none !important;
	}
}
@media (min-width: @screen-sm-max) {
	.show-small-down {
		display: none !important;
	}
}
@media (max-width: @screen-xs-max) {
	.show-medium-up {
		display: none !important;
	}
}
@media (max-width: @screen-xs-max) {
	.show-small-up {
		display: none !important;
	}
}
