<div class="Titlebar-show-dropdown">
	<div class="Titlebar-dropdown-drop-mask"
		ng-hide="dropdownClosed"></div>
	<div class="Titlebar-dropdown">
		&nbsp;
		<i class="fa fa-caret-down Titlebar-dropdown-arrow" ng-class="{'Titlebar-dropdown-arrow-open': !dropdownClosed}"></i>
		<div class="Titlebar-hide" ng-class="{'Titlebar-show': !dropdownClosed}">
			<a class="Pill Titlebar-dropdown-list"
				ng-repeat="link in sidebarLinks"
				ui-sref="{{link.stateName}}"
 				ng-attr-ui-sref-active-eq="{{!link.activeEq || 'is-selected'}}"
 				ng-attr-ui-sref-active="{{link.activeEq || 'is-selected'}}"
 				translate="{{link.languageKey}}"
				ng-if="link.userRole === undefined || link.userRole === userRole">
				{{link.languageKey | translate}}
			</a>
		</div>
	</div>
</div>
