<nav class="CourseSidebar" id="courseStep4">
	<ul id="nav" class="CourseSidebar-list">
		<li class="CourseSidebar-item"
			ng-repeat="link in sidebarLinks"
			ng-if="link.userRole === undefined || link.userRole === userRole">
			<a class="Pill"
				ui-sref="{{link.stateName}}"
				ng-attr-ui-sref-active-eq="{{!link.activeEq || 'is-selected'}}"
				ng-attr-ui-sref-active="{{link.activeEq || 'is-selected'}}"
				translate="{{link.languageKey}}">
				{{link.languageKey}}
			</a>
		</li>
	</ul>
</nav>
