<centris-dialog-header titlecode="CourseRegistration.ApplyForException">
</centris-dialog-header>

<div class="modal-body">
	<p translate="CourseRegistration.ReasonText" />
	<ul>
		<li ng-repeat="failure in errors">{{failure}}</li>
	</ul>
	<p translate="CourseRegistration.Explanation" />
	<div class="form-group">
		<label for="message-text"
			class="control-label">
			{{ 'CourseRegistration.Message' | translate }}
		</label>
		<text-angular
			ng-model="model.Message"
			ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'], ['undo', 'redo'], ['justifyLeft', 'justifyCenter', 'justifyRight']]">
		</text-angular> 
	</div>
</div>

<centris-dialog-footer
	submit="Confirm"
	cancel="Cancel">
</centris-dialog-footer>
