<centris-dialog-header titlecode="exambank.Header.Title"></centris-dialog-header>

<form name="addExamForm"
	class="css-form"
	novalidate>
	<div class="modal-body">
		<div class="row form-group"
			ng-class="{ 'has-error' : showError && addExamForm.title.$invalid }">
			<div class="col-sm-3">
				<span translate="exambank.Filename" />
			</div>
			<div class="col-sm-9">
				<input type="text"
					name="title"
					focus-me="defaultFocus"
					class="form-control"
					ng-model="model.Title"
					placeholder="{{ 'exambank.Filename' | translate }}"
					required
					centris-validate="exambank.Validation.FilenameError"
					validate-condition="showError && addExamForm.title.$invalid"
					/>
			</div>
		</div>

		<div class="row form-group"
			ng-class="{ 'has-error' : showError && addExamForm.semester.$invalid }">
			<div class="col-sm-3">
				<span translate="exambank.Semester" />
			</div>
			<div class="col-sm-9">

				<centris-semester-dropdown
					ng-model="model.Semester"
					centris-validate="exambank.Validation.SemesterError"
					validate-condition="showError && addExamForm.semester.$invalid"
>
				</centris-semester-dropdown>

			</div>
		</div>
		<div class="row form-group"
			ng-class="{ 'has-error' : showError && addExamForm.file.$invalid }">
			<div class="col-sm-3">
				<span translate="exambank.File" />
			</div>
			<div class="col-sm-9">
				<input type="file"
					name="file"
					file-model="model.File"
					ng-model="model.File"
					class="form-control"
					file-valid
					required
					centris-validate="exambank.Validation.FileError"
					validate-condition="showError && addExamForm.file.$invalid"
					/>
			</div>
		</div>
	</div>
	<centris-dialog-footer
		on-submit="validateSelection(addExamForm.$valid)">
	</centris-dialog-footer>
</form>
