@import (reference) "src/_variables";

.announcementHeader {
	display: inline-block;
}

.announcements-button {
	margin-top: 20px;
}

.announcements > div:first-child {
	margin-top: 20px;
}

.announcement {
	border-bottom: 1px solid black;
	padding-top:15px;
	padding-bottom:10px;

	p span {
		font-weight: bold;
	}

	p .announcementTitle {
		font-size: 17px;
		text-decoration: none;
		color: #333333;
		font-weight: bold;
		position: relative;
	}

	a {
		color: #333333;
	}

	.threadCounter {
		color: #333333;
		position: absolute;
		top: 0px;
		font-size: 9px;
		text-align: center;
		width: 100%;
	}
}

.noAnnouncements {
	padding-top:15px;
	font-size: 17px;
	font-weight: bold;
}

.inDiscussionBoard {
	margin-bottom: 25px;
}