<centris-module-header module="studyplan">
</centris-module-header>

<div ng-show="fetchingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="form-horizontal" role="form" ng-hide="fetchingData">
	<div class="row study-plan-config">
		<div class="col-xs-12 col-md-4">
			<label class="control-label">
				{{'studyplan.Columns' | translate}}
			</label>
			<div class="row form-group" style="padding-left: 25px;">
				<div class="col-xs-12" style="margin-top: 0.5em;">
					<div>
						<input type="checkbox"
						       id="lectures"
						       ng-model="StudyPlan.HasLectureColumn"
						       class="controls" 
						       centris-validate="studyplan.Validation.AtLeastOneColumnRequired"
						       validate-condition="validation.noColumnsSelected" />
						<label for="lectures" class="control-label">
						       {{'studyplan.Lectures' | translate}}
						</label>
					</div>
					<div>
						<input type="checkbox"
						       id="assignments"
						       ng-model="StudyPlan.HasAssignmentColumn"
						       class="controls" />
						<label for="assignments" class="control-label">
							{{'studyplan.Assignments' | translate}}
						</label>
					</div>
					<div>
						<input type="checkbox"
						       id="reading"
						       ng-model="StudyPlan.HasReadingMaterialColumn"
						       class="controls" />
						<label for="reading" class="control-label">
							{{'studyplan.Reading' | translate}}
						</label>
					</div>
					<div>
						<input type="checkbox"
						       id="other"
						       ng-model="StudyPlan.HasOtherColumn"
						       class="controls" />
						<label for="other" class="control-label">
							{{'studyplan.Other' | translate}}
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="row form-group">
				<div class="col-xs-4">
					<label class="control-label">
						{{'studyplan.Unit' | translate}}
					</label>
				</div>
				<div class="col-xs-8">
					<div class='btn-group pull-left' uib-dropdown>
						<button type="button"
						        class="btn btn-default btn-small dropdown-toggle"
						        uib-dropdown-toggle>
							{{StudyPlan.Unit}} <span class="caret"></span>
						</button>
						<ul uib-dropdown-menu role="menu">
							<li ng-repeat="unit in Units">
								<a href=""
									ng-click="StudyPlan.Unit = unit.Title">
									{{unit.Title}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
					<label class="control-label">
						{{'studyplan.Quantity' | translate}}
					</label>
				</div>
				<div class="col-xs-8">
					<input type="number"
						class="form-control"
						ng-model="options.Quantity" />
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-4">
					<label class="control-label">
						{{'studyplan.Begins' | translate}}
					</label>
				</div>
				<div class="col-xs-8">
					<centris-date-picker
						ng-model="options.Begins">
					</centris-date-picker>
				</div>
			</div>
		</div>
		<div class= "col-xs-12 study-plan-button">
			<button class="btn btn-primary pull-right" ng-click="saveStudyPlan()">
				<span translate="studyplan.Save" />
			</button>
		</div>
	</div>

	<div class="row" ng-show="StudyPlan.Stints.length == 0">
		<div class="col-xs-12">
			<uib-alert type="info">
				<span translate="studyplan.NoStints" />
			</uib-alert>
		</div>
	</div>

	<div class="row study-plan-editor" ng-show="StudyPlan.Stints.length > 0">
		<div class="col-sm-12">
			<div class="header-controls">
					<a href="" class="btn btn-default prev"
						ng-show="selectedWeek > 0"
						ng-click="selectedWeek = (selectedWeek - 1) % StudyPlan.Stints.length">
						<i class="fa fa-chevron-left"></i>
						{{'Prev' | translate}}
					</a>
					<div class="curr">
						{{StudyPlan.Stints[selectedWeek].Title}}
					</div>
					<a href="" class="btn btn-default next"
						ng-show="selectedWeek < (StudyPlan.Stints.length - 1)"
						ng-click="selectedWeek = (selectedWeek + 1) % StudyPlan.Stints.length">
						{{'Next' | translate}}
						<i class="fa fa-chevron-right"></i>
					</a>
			</div>
			<study-plan-stint allow-edit
				ng-model="StudyPlan.Stints[selectedWeek]"
				studyplan="StudyPlan">
			</study-plan-stint>
		</div>
	</div>
</div>
