@import (reference) "src/_variables" ;

.study-plan-editor {
	margin: 0 2 1px;

	& .header-controls {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2.5em;

		& .prev {
			float: left;
		}

		& .curr {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
		}

		& .next {
			float: right;
		}
	}
}

.study-plan-config {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid @gray-lighter;
	background: @gray-lighter;
	padding-top: 1em;

	label {
		padding: 25px;
		margin:0 0 10px;
		display: inline;
	}

	.study-plan-button {
		margin-bottom: 1em;
	}
}