@import (reference) "src/_variables";

.Coursedetails {
	&-label-strong, &-label-text {
		padding: 0.4em 0.4em  0 2em;
		color: black;
		text-align: justify;
	}

	&-label-text li {
		list-style: none;
		list-style-position: outside;
	}

	&-tabs-details {
		padding-top: 1em;
		overflow: hidden;
	}

	/* Used in all the tabs, to display command buttons available to teachers */
	&-command-area {
		margin: 15px 0px 0px 0px;
		padding: 0px;
	}

	/* To ensure the command buttons aren't glued together on their sides: */
	&-command-area button {
		margin-left: 5px;
	}

	/* Used in all the tabs, to ensure that the top of the "Loading..."
	   message is not stuck to the bottom of the tabs themselves */
	&-loading-data {
		margin-top: 15px;
	}

	/* A box used to display text blocks in most/all of the tabs. */
	&-megabox {
		margin-top: 30px;
		margin-bottom: 50px;
		padding: 20px;
		color: #555555;
		background-color: #fefefe;
		border: 1px solid #e5e5e5;
		border-radius: @centris-radius;
	}
}
