<div class="Coursedetails">
	<div class="col-xs-12 col-md-8" id="coursedetailsheader">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<centris-course-image course-id="courseInstance.CourseID">
				</centris-course-image>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-9">

				<div class="row">
					<div class="Coursedetails-label-strong col-xs-5">
						<strong translate="coursedetails.Starts"></strong>
					</div>
					<div class="Coursedetails-label-text col-xs-7">
						{{course.instance.DateBegin | centrisDate}}
					</div>
				</div>

				<div class="row">
					<div class="Coursedetails-label-strong col-xs-5">
						<strong translate="coursedetails.Ends"></strong>
					</div>
					<div class="Coursedetails-label-text col-xs-7">
						{{course.instance.DateEnd | centrisDate}}
					</div>
				</div>

				<div class="row">
					<div class="Coursedetails-label-strong col-xs-5">
						<strong translate="coursedetails.Language"></strong>
					</div>
					<div class="Coursedetails-label-text col-xs-7">
						<centris-flag lang="course.instance.LanguageCode">
						</centris-flag>
					</div>
				</div>

				<div class="row">
					<div class="Coursedetails-label-strong col-xs-5">
						<strong translate="coursedetails.Credits"></strong>
					</div>
					<div class="Coursedetails-label-text col-xs-7">
						{{course.instance.Credits}}
					</div>
				</div>

				<div class="row">
					<div class="Coursedetails-label-strong col-xs-5">
						<strong translate="coursedetails.Semester"></strong>
					</div>
					<div class="Coursedetails-label-text col-xs-7">
						<div ng-switch on="semesterNr">
							<div ng-switch-when="3">
								<span translate="coursedetails.Fall"></span>
								<span>{{semester}}</span>
							</div>
							<div ng-switch-when="2">
								<span translate="coursedetails.Summer"></span>
								<span>{{semester}}</span>
							</div>
							<div ng-switch-when="1">
								<span translate="coursedetails.Spring"></span>
								<span>{{semester}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-4" id="coursedetailsteachers">
			<div class="Coursedetails-label-strong">
				<strong ng-if="course.details.Teachers.length > 1"
					translate="coursedetails.Teachers"></strong>
				<strong ng-if="course.details.Teachers.length === 1"
					translate="coursedetails.Teacher"></strong>
			</div>
			<ul class="Coursedetails-label-text">
				<li ng-repeat="teacher in course.details.Teachers">
					<a ng-href="#/persons/{{teacher.SSN}}">{{teacher.FullName}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-xs-12">
		<uib-tabset class="Coursedetails-tabs-details">
			<uib-tab select="tabs.go(tabs.list[0].route)"
				active="tabs.list[0].active"
				heading="{{'coursedetails.Tabs.Description' | translate}}"
				id="coursedetailsdescriptiontab" >

				<course-description
					ng-model="course.details"
					loading="loadingData">
				</course-description>

			</uib-tab>

			<uib-tab select="tabs.go(tabs.list[1].route)"
				active="tabs.list[1].active"
				heading="{{'coursedetails.Tabs.Outcomes' | translate}}"
				ng-controller="LearningOutcomesDetailsController"
				id="coursedetailsoutcomestab">
				<ng-include src="'courseinstance/details/components/learningoutcomes/index.html'"></ng-include>
			</uib-tab>

			<uib-tab select="tabs.go(tabs.list[2].route)"
				active="tabs.list[2].active"
				heading="{{'coursedetails.Tabs.Assessment' | translate}}"
				ng-controller="CourseAssessmentController"
				id="coursedetailsassessmenttab">
				<ng-include src="'courseinstance/details/components/assessments/index.html'"></ng-include>
			</uib-tab>

			<uib-tab select="tabs.go(tabs.list[3].route)"
				active="tabs.list[3].active"
				heading="{{'coursedetails.Tabs.Methods' | translate}}"
				id="coursedetailsteachingmethodstab">
				<course-details-teaching-methods
					ng-model="course.details"
					loading="loadingData">
				</course-details-teaching-methods>
			</uib-tab>

		</uib-tabset>
	</div>

	<div ng-intro-options="IntroOptions"
		 ng-intro-method="ShowCourseDetailsIntro"
		 ng-intro-autostart="false">
	</div>

</div>