<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowCourseScheduleIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="Schedule.Schedule">
</centris-page-header>

<centris-calendar ng-model="events"
	course-id="courseInstanceID"
	view-changed="onViewChanged(start, end)"
	allow-edit="false"></centris-calendar>
