<centris-dialog-header class="modal-header" titlecode="studyplan.Stint">
</centris-dialog-header>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="stintForm" novalidate>
		<div class="form-group row">
			<label for="title" class="col-sm-2 control-label">
				{{'Title' | translate}}
			</label>
			<div class="col-sm-10">
				<input class="form-control"
				       type="text"
				       ng-model="model.Title"
				       autofocus
				       id="title"
				       name="title"
				       required
				       centris-validate="studyplan.MissingText"
				       validate-condition="showError && stintForm.title.$invalid"
				       />
			</div>
		</div>
		<div class="form-group row">
			<label for="desc" class="col-sm-2 control-label">
				{{'Description' | translate}}
			</label>
			<div class="col-sm-10">
				<input class="form-control"
				       type="text" 
				       ng-model="model.Description"
				       id="desc"
				       name="desc"
				       required
				       centris-validate="studyplan.MissingText"
				       validate-condition="showError && stintForm.desc.$invalid"
				       />
			</div>
		</div>
	</form>
</div>
<centris-dialog-footer class="modal-footer" on-submit="submitEvent(stintForm.$valid)">
</centris-dialog-footer>