<li class="study-plan-line"
    ng-class="line.Completed && !allowEdit ? 'viewed' : ''">
	<span id="courseStep3"
		  uib-dropdown
		  ng-if="allowEdit || line.Type === 'Reading Material'">
		<a href class="dropdown-toggle"
		   uib-dropdown-toggle>
			<i class="fa fa-angle-down corner-item"></i>
		</a>
		<ul uib-dropdown-menu ng-transclude></ul>
	</span>
	<i class="fa fa-check corner-item"
		ng-show="line.Completed && !allowEdit">
	</i>
	<div ng-if="line.Type ==='Assignment'">
		<span ng-if="line.ID">
		<a ui-sref="courseinstance.assignments.details({assignmentID: line.ID})"
			ng-if="line.AssignmentType != 'Online Exam'">
			{{line.Text}}
		</a>
		<a ui-sref="courseinstance.onlineexams.examdetails({examid: line.ID})"
			ng-if="line.AssignmentType === 'Online Exam'">
			{{line.Text}}
		</a>
		</span>
		<span ng-if="!line.ID">
			{{line.Text}}
		</span>
	</div>
	<div ng-if="line.Type === 'Lecture'">
		<span ng-if="line.ID">
			<a ui-sref="courseinstance.topics.details({topicid: line.ID})">
				{{line.Text}}
			</a>
		</span>
		<span ng-if="!line.ID">
			{{line.Text}}
		</span>
	</div>
	<div ng-if="line.Type === 'Reading Material' || line.Type === 'Other'">
		{{line.Text}}
	</div>
	<div ng-if="line.Type === 'Reading Material' || line.Type === 'Lecture'">
		<a ng-repeat="item in line.Items track by $index"
			ng-href="{{item.Url}}">
			<img ng-src="styles/img/{{item.Type}}-icon.png"
				 alt="{{item.Type}}"
				 class="link-icon"/>
		</a>
	</div>
</li>