@import (reference) "src/_variables";

.Pill {
	background: #dfdfdf;
	color: @text-color;
	display: block;
	font-weight: 400;
	margin-bottom: 1px;
	padding: 8px 10px;
	position: relative;

	&,
	&:focus,
	&:active,
	&:hover {
		text-decoration: none;
	}

	&:hover {
		background: #fff;
		color: @centris-red;
	}

	.is-selected > &,
	&.is-selected {
		background: @gray-light;
		color: #fff;
	}

	&--emphasis {
		background: #ccc;
	}
}
