@import (reference) "src/_variables";

student-card, .student-card {
	display: flex;
	flex-shrink: 0;
	margin: 2px;
	overflow: hidden;
}

.StudentCard {
	width: 10vw;
	min-width: 110px;
	max-width: 200px;

	height: ~"calc(10vw + 75px)";
	min-height: 190px;
	max-height: 275px;

	overflow: hidden;

	&-container {
		margin: 0 -2px;
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		@media only screen and (max-width: 375px) {
			justify-content: center;
		}
	}

	&-border {
		border: 1px solid #ccc;
		border-radius: @centris-radius;
	}

	&-empty {
		height: 0%;
		width: 10vw;
		min-width: 110px;
		max-width: 200px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	&-image {
		width: 10vw;
		min-width: 110px;
		max-width: 200px;

		height: 10vw;
		min-height: 110px;
		max-height: 200px;

		padding: 0px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&-ssn {
		float: left;
		margin: 0 0.5em 0.4em 0.5em !important;
		font-size: small;
	}

	& h5 {
		font-weight: bold;
		margin: 0.5em 0.4em 0 0.5em !important;
		height: 45px;
		overflow: hidden;
	}

	.fa-trash {
		float: right;
		margin: 0em 0.5em 0.5em 0em;
	}
}

/* A special class for a card that doesn't display a group member, but
displays a "plus" (or whatever) to add a new card. */
.StudentCardAdd {
	flex-shrink: 2;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10vw;
	min-width: 110px;
	max-width: 200px;

	overflow: hidden;

	&:hover {
		border: none;
		padding: 1px;
		background-color: @body-bg;
		color: white;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14) inset;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
	}
}
