<div class="StudentCard StudentCard-border" ng-if="student.SSN">

	<div class="StudentCard-image">
		<centris-person-image ssn="student.SSN"></centris-person-image>
	</div>

	<h5>{{student.Name}}</h5>
	<div class="StudentCard-ssn">{{student.SSN}}</div>

	<i ng-if="allowEdit"
		class="fa fa-trash"
		ng-click="internalOnRemove()" />

</div>
