<comment ssn="comment.Thread.Author.SSN">
	<comment-header></comment-header>

	<comment-body></comment-body>

	<comment-footer>
		<comment-likes ng-click="like(comment, true)"></comment-likes>
	</comment-footer>
</comment>
