@Comments-imageSize: 46px;
@Comments-mainColor: #3f3f3f;
@Comments-secondaryColor: #c8c6cc;

@import "attachments/_index";
@import "body/_index";
@import "comment/_index";
@import "create/_index";
@import "footer/_index";
@import "header/_index";
@import "likes/_index";
@import "upload-button/_index";
