@import (reference) "src/_variables" ;
@import (reference) "src/_mixins" ;

.study-plan-stint {
	margin-bottom: 5px;

	& .stint-header {
		background-color: #EEEEEE;
		cursor: pointer;
		overflow: hidden;
		border-radius: @centris-radius 0 0 @centris-radius;

		& .stint-header-title {
			float: left;
			width: 7em;
			padding: 1em;
			display: inline-block;
			border-radius: @centris-radius 0 0 @centris-radius;
			background-color: @centris-red;
			color: white;

			& .title {
				background-color: inherit;
				font-size: 14pt;
				float: left;
				margin: 0 auto;
			}
		}

		& .stint-header-description {
			float: left;
			padding: 0.7em 1em;
			display: inline-block;

			& .date {
				font-size: 8pt;
			}
		}

		& edit-btn {
			margin: 1em;
		}
	}

	& .study-plan-line {
		.darken-on-hover(#F7F7F7);
		border-radius: @centris-radius;
		list-style: none;
		padding: 5px;
		margin: 0;
		margin-top: 0.4em;
		transition: background-color 1s ease-in-out;
		transition: color 1s ease-in-out;

		& .corner-item {
			float: right;
			margin: 0.25em;
		}

		& .dropdown {
			float: right;

			& .dropdown-menu {
				width: 200px !important;
				margin-left: -185px;
			}
		}

		&.viewed {
			.darken-on-hover(#E7F1E8);
			color: green;
		}
	}

	& .column-title {
		font-weight: bold;
	}

	& .add-line {
		font-size: 25pt;
		width: 100%;
		text-align: center;

		& a {
			color: #B1B1B1;

			&:hover {
				color: darken(#B1B1B1, 5%);
			}
		}
	}
}
