<div class="row study-plan-stint">
	<div class="col-sm-12">
		<div class="stint-header"
			ng-click="stint.isCollapsed = !stint.isCollapsed">
			<div class="icon-bg bg-danger stint-header-title" id="courseStep2">
				<div class="title">{{stint.Title}}</div>
			</div>
			<div class="stint-header-description">
				<div class="date">
					{{stint.DateFrom | centrisDate: "D. MMM"}} - {{stint.DateTo | centrisDate: "D. MMM"}}
				</div>
				<div class="description">{{stint.Description}}</div>
			</div>
			<div class="pull-right edit-btn" ng-if="allowEdit">
				<button class="btn btn-primary" ng-click="editStint($event)">
					<i class="fa fa-pencil" />
					<span translate="Edit" />
				</button>
			</div>
		</div>
		<div uib-collapse="stint.isCollapsed">
			<div>{{stint.Summary}}</div>
			<div ng-class="stintClass"
				ng-show="studyplan.HasLectureColumn">
				<!-- If stint.Completed is true then it is Collapsed otherwise not -->
				<div ng-if="stint.Completed === true"
					ng-init="stint.isCollapsed = true">
				</div>
				<div class="column-title"
					translate="studyplan.Lectures" />
				<ul class="study-plan-column">
					<study-plan-line
						ng-repeat="line in stint.Lectures.Lines track by $index"
						ng-model="line"
						allow-edit="allowEdit">
						<!-- Dropdown for normal users -->
						<li ng-if="!line.Completed && !allowEdit">
							<a href=""
								ng-click="markAsViewed()"
								translate="studyplan.MarkViewed" />
						</li>
						<!--
						<li ng-if="line.Completed && !allowEdit">
							<a href=""
								ng-click="markAsViewed()"
								translate="studyplan.MarkNotViewed" />
						</li>
						-->
						<!-- Dropdown for teachers -->
						<li ng-if="allowEdit">
							<a href=""
								ng-click="editLine()"
								translate="Edit" />
						</li>
						<li ng-if="allowEdit">
							<a href=""
								ng-click="removeLine()"
								translate="Remove" />
						</li>
					</study-plan-line>
				</ul>
			</div>
			<div ng-class="stintClass"
				ng-show="studyplan.HasAssignmentColumn">
				<div class="column-title"
					translate="studyplan.Assignments"> Assignments </div>
				<ul class="study-plan-column">
					<study-plan-line ng-repeat="line in stint.Assignments.Lines track by $index"
					ng-model="line"
					allow-edit="allowEdit">
						<!-- Dropdown for teachers -->
						<li ng-if="allowEdit">
							<a href=""
								ng-click="editLine()"
								translate="Edit">Edit line</a>
						</li>
						<li ng-if="allowEdit">
							<a href=""
								ng-click="removeLine()"
								translate="Remove">Remove line</a>
						</li>
					</study-plan-line>
				</ul>
			</div>
			<div ng-class="stintClass"
				ng-show="studyplan.HasReadingMaterialColumn">
				<div class="column-title"
					translate="studyplan.ReadingMaterial"> Reading Material </div>
				<ul class="study-plan-column">
					<study-plan-line ng-repeat="line in stint.ReadingMaterial.Lines track by $index"
					ng-model="line"
					allow-edit="allowEdit">
						<!-- Dropdown for normal users -->
						<li ng-if="!line.Completed && !allowEdit">
							<a href=""
								ng-click="markAsViewed()"
								translate="studyplan.MarkViewed" />
						</li>
						<li ng-if="line.Completed && !allowEdit">
							<a href=""
								ng-click="markAsViewed()"
								translate="studyplan.MarkNotViewed" />
						</li>
						<!-- Dropdown for teachers -->
						<li ng-if="allowEdit">
							<a href=""
								ng-click="editLine()"
								translate="Edit">Edit line</a>
						</li>
						<li ng-if="allowEdit">
							<a href=""
								ng-click="removeLine()"
								translate="Remove">Remove line</a>
						</li>
					</study-plan-line>
				</ul>
				<div class="add-line" ng-if="allowEdit">
					<a href="" ng-click="addReading()">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
			<div ng-class="stintClass"
				ng-show="studyplan.HasOtherColumn">
				<div class="column-title"
					translate="studyplan.Other"> Other </div>
				<ul class="study-plan-column">
					<study-plan-line allow-edit="allowEdit"
						ng-repeat="line in stint.Other.Lines track by $index"
						ng-model="line">
						<!-- Dropdown for teachers -->
						<li ng-if="allowEdit">
							<a href=""
								ng-click="editLine()"
								translate="Edit">Edit line</a>
						</li>
						<li ng-if="allowEdit">
							<a href=""
								ng-click="removeLine()"
								translate="Remove">Remove line</a>
						</li>
					</study-plan-line>
				</ul>
				<div class="add-line" ng-if="allowEdit">
					<a href="" ng-click="addOther()">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>