<div ng-show="match.label.flag == 0" class="header-search-title">
	<span ng-show="match.label.type == 'coursetemplate'">{{'Search_Coursetemplates'| translate}}</span>
	<span ng-show="match.label.type == 'courseinstance'">{{'Search_Courses'| translate}}</span>
</div>
<a class="col-md-12 header-search-inner"
	tabindex="-1">

	<div ng-show="match.label.type == 'coursetemplate'" class="row">
		<img class="col-md-2" src="assets/img/coursetemplate.png" alt="" />
		<div class="col-md-10">
			<div class="row"><strong>{{match.label.name}}</strong> - {{match.label.courseid}}</div>
			<div class="row">{{match.label.departmentname}}</div>
		</div>
	</div>

	<div ng-show="match.label.type == 'courseinstance'" class="row">
		<!-- A different path from SMS, needs to have shared path in the future -->
		<img class="col-md-2" src="styles/img/coursetemplate.png" alt="" />
		<div class="col-md-7">
			<div class="row"><strong>{{match.label.name}}</strong> - {{match.label.courseid}}</div>
			<div class="row">{{match.label.statusName}}</div>
		</div>
		<div class="col-md-3">
			<h2>{{match.label.semester}}</h2>
		</div>
	</div>
</a>