<div ng-intro-options="LectureTeacherOptions"
	 ng-intro-method="ShowMyTeacherLectureIntro"
	 ng-intro-autostart="false">
</div>

<div ng-intro-options="LectureStudentOptions"
	 ng-intro-method="ShowMyStudentLectureIntro"
	 ng-intro-autostart="false">
</div>
<div ui-view>

<centris-page-header page-title="topics.Title">
	<button type="button"
		class="btn btn-primary pull-right"
		ng-click="newTopics()"
		ng-show="isTeacher"
		id="lecture-teacher-helper-step2">
		<span class="glyphicon glyphicon-plus"></span>
		<span translate="topics.Topics_New_Lect_Btn"></span>
	</button>
</centris-page-header>

<!-- Section is only visible when loading... -->
<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div ng-hide="allTopics.length > 0 || loadingData">
	<uib-alert type="info">
		<span translate="topics.NoTopics" />
	</uib-alert>
</div>
<!-- End loading section -->

<div class="total-topic" ng-hide="loadingData">
	<div class="single-topic"
		ng-repeat="lec in allTopics"
		<div class="row">

			<!-- <div class="col-md-1">
				<i class="topic-accordion-open fa fa-caret-right fa-lg pull-right"
					ng-click="lec.isCollapsed = !lec.isCollapsed"
					ng-hide="lec.isCollapsed"
					id="lecture-student-helper-step4">
				</i>
				<i class="topic-accordion-open fa fa-caret-down fa-lg pull-right"
					ng-click="lec.isCollapsed = !lec.isCollapsed"
					ng-show="lec.isCollapsed">
				</i>
			</div> -->
			<div class="col-md-4 block-header-title"
				id="lecture-teacher-helper-step3"
				ng-click="topicDetails(lec.ID)">
				{{lec.Title}}
			</div>

			<div class="col-md-8 block-header-info"
				ng-class="lec.Completed ? 'viewed' : 'not-viewed'">

				<div class="row">

					<div class="date col-xs-4">
						{{lec.DatePublished | centrisDateNoYear }}
					</div>

					<div class="pull-right"
						ng-class ="!isTeacher ? 'col-sm-8' : 'col-sm-3 col-xs 5'"
						uib-dropdown>
						<a class="col-xs-12"
							href
							ng-click="lec.isCollapsed = !lec.isCollapsed">
							<i class="fa fa-angle-down corner-item pull-right "
								ng-hide="lec.isCollapsed"
							></i>
							<i class="fa fa-angle-up corner-item pull-right "
								ng-show="lec.isCollapsed"
							></i>
						</a>
					</div>

					<div class="col-sm-5 col-xs-3 pull-right"
						ng-show="isTeacher">
						<i class="topic-delete-icon fa fa-remove fa-lg pull-right"
							ng-click="deleteTopic($index)"
							uib-tooltip="{{'topics.Topics_Delete_Lect_Btn' | translate}}">
						</i>

						<i class="topic-edit-icon fa fa-pencil-square-o fa-lg pull-right"
							ng-click="editTopic($index)"
							uib-tooltip="{{'topics.Topics_Edit_Lect_Btn' | translate}}">
						</i>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12 "
					ng-repeat="item in lec.Items"
					uib-collapse="!lec.isCollapsed">
					<!-- use this column to align to the row that is above this row -->
					<div class="col-md-1">
					</div>
					<a class="topic-content col-md-12"
						ng-href="{{item.Url}}"
						target="_blank">
						<span class="col-md-2">
							<img ng-src="styles/img/{{item.Type}}-icon.png"
								alt="{{item.Type}}"
								class="link-icon"
								uib-tooltip="{{item.TypeTip}}"/>
						</span>
						<span>{{item.Title}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
