@import (reference) "src/_variables" ;
@import (reference) "src/_mixins" ;

.total-topic {

	/* TODO: move to src/_variables or use variables already defined there */
	@hr-color: #d6222b;
	@very-light-filler: #F7F7F7;
	@light-filler: #EEE;
	@filler: #DDDDDD;
	@dark-filler: #C0C0C0;
	@very-dark-filler: #2F2F2F;

	.single-topic {

		margin: 0.5em 1em 0.5em 1em;

		.block-header-title {
			background-color: @centris-red;
			color: white;
			font-weight: bold;
			padding: 0.4em;

			&:hover {
				cursor: pointer;
				.darken-on-hover(@centris-red-dark)
			}
			.noselect();
		}

		.block-header-info {

			background-color: @light-filler;
			padding: 0.4em;

			.fa-angle-down, .fa-angle-up {
				font-size: 1.3em;
				margin: 0 1em 0 0;
			}

			&.viewed {
				background-color: @filler;
			}
		}

		.topic-edit-icon {
			margin: 0em;
			padding-right: 0.5em;

			&:hover {
				cursor: pointer;
			}
		}

		.topic-delete-icon {
			margin: 0em;

			&:hover {
				cursor: pointer;
				color: darken(@hr-color, 3%);
			}
		}

		& .topic-content {
			text-decoration: none;
			color: @very-dark-filler;
			.darken-on-hover(@very-light-filler);
			border-radius: @centris-radius;
			margin-top: 0.5em;
			padding-bottom: 0.2em;
			transition: color 1s ease-in-out;

			&:hover {
				cursor: pointer;
			}

			.add-topic-content {
				background-color: #C5EBC5 !important;
			}
		}

		& .content-title {
			font-weight: bold;
		}
	}
}

.new-topics-modal {

	margin: 0.3em;

	@hr-color: #D6222B;
	@very-light-filler: #F7F7F7;
	@light-filler: #EEE;
	@filler: #DDDDDD;
	@dark-filler: #C0C0C0;
	@very-dark-filler: #2F2F2F;

	.input-lable {
		.input-group {
			margin: 0em;
		}
	}

	.zero-padding {
		padding: 0;
	}

	.error-input {
		border: 0.1em solid red;
	}

	.error-text {
		color: #bb1f34;
		font-size: 1em;
	}

	.input-file-row {
		padding: 0 0 0.5em 0;
	}

	.file-insert-label {
		text-align: center;
		font-weight: bold;
		margin: 0 0 0.5em 0;
	}

	.control-label {
		margin: .5em 0 0 0;
	}

	.input-lable {
		padding: 0;
	}

	.topic-link {
		padding: 0;
	}

	.tooltip-inner {
		max-width: 50em;
	}

	.labels {
		font-size: 1.4em;
	}

	.topic-btn-file-selector {
		padding: 1em 0em 1em 0em;
	}

	.fa-header {
		color: @hr-color;
	}

	.input-group {
		margin: 1em;
	}

	.drop-box {
		height: 8em;
		border-style: none;
		border-radius: @centris-radius;
		margin: 0.5em 0 0 0;
		&:hover {
			background-color: @drop-box;
		}
	}

	.dragover {
		background: @drop-box;
	}

	.topic-inputs {
		padding: 0em;
		margin: 1em 0 1em 0;
	}

	.topic-content {
		margin: 1em 0 1em 0;

		.topic-content-info {
			padding: 0.4em 0 2.4em 0;
			.noselect();
		}
	}

	.topic-link-btn {
		padding: 0em;
		margin: 2.1em 0 1em 0;
	}

	.modal-file-container {
		border: solid;
		border-width: 0.1em;
		padding: 1em;
		border-radius: 0.3em;
		background-color: @very-light-filler;
		margin: 0em 0 1em 0;
		overflow:auto;
		border-color: @dark-filler;
	}

	.hidden-input-elements {
		height: 12em;
	}

	.good-file {
		max-height: 22em;
	}

	.bad-file {
		max-height: 5em;
		margin: 1em 0 0 0;
	}

	.file-name {
		font-weight: bold;
	}

	.delete-button {
		font-size: 1.5em;
		color: black;
		text-decoration: none;
		&:hover {
			cursor: pointer;
			color: darken(@hr-color, 3%);
		}
	}

	.new-link {
		padding: 1em;
		height: 8em;
	}
}
