<div ng-controller="StudentListController">
	<div class="student-list">

		<div ng-hide="submissions.length > 0" style="margin-top: 1em;">
			<uib-alert type="info">
				<span translate="onlineExamsResults.NoHandins" />
			</uib-alert>
		</div>

		<div class="table-responsive" ng-show="submissions.length > 0">
			<table class="table table-hover">
				<thead>
					<tr class="mouseHover"
						table-sort="Student.Name">
						<th></th>
						<th data-columnName="Student.Name">
							{{'onlineExamsResults.Name' | translate}}
						</th>
						<th data-columnName="Student.SSN">
							{{'onlineExamsResults.SSN' | translate}}
						</th>
						<th data-columnName="Grade">
							{{'onlineExamsResults.Grade' | translate}}
						</th>
						<th data-columnName="Handin">
							{{'onlineExamsResults.Handin' | translate}}
						</th>
						<th data-columnName="Actions">
							{{'onlineExamsResults.Actions' | translate}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="s in submissions | orderBy:predicate:reverse">
						<th></th>
						<td>
							<a href="#/persons/{{s.Student.SSN}}">
								{{s.Student.Name}}
							</a>
						</td>
						<td>
							<a href="#/persons/{{s.Student.SSN}}">
								{{s.Student.SSN}}
							</a>
						</td>
						<td >
							<span ng-if="s.Grade > 0" class="center-grade">
							{{s.Grade / 10}}
							</span>
							<span ng-if="s.Grade === 0" class="center-grade-zero">
							{{s.Grade}}
							</span>
						</td>
						<td>{{s.HandinDate | centrisDateTimeNoYear}}</td>
				<!--TODO: enable again once we can review a single submission from a student!-->
						<td>
							<a href="#/courses/{{courseInstanceID}}/onlineexams/{{examid}}/examanswers/{{s.Student.SSN}}">
								{{'onlineExamsResults.GradeExam' | translate}}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
