<div>
	<centris-dialog-header
		titlecode=""
		titletext="{{dialogTitle | translate}}">
	</centris-dialog-header>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="form-group has-feedback">
				<label class="col-sm-2" 
						for="isbn">ISBN</label>
				<div class="col-sm-10">
					<input type="text"
							class="form-control"
							id="isbn"
							ng-model="book.ISBN"
							ng-disabled="isISBNDisabled"
							maxlength="20"
							placeholder="ISBN"
							ng-blur="lookUp()"
							autofocus>
					<i ng-if="spinner"
						class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"/>
				</div>
			</div>
			<!--Fieldset is used to allow/disallow editing of information
				depending on if the book exists or is being added to the databse-->
			<fieldset id="bookInformation" ng-disabled="editDisabled">
				<div class="form-group">
					<label class="col-sm-2"
							for="title"
							translate="bookincourse.Title">Title</label>
					<div class="col-sm-10">
						<input type="text"
								class="form-control"
								id="title"
								ng-model="book.Title"
								maxlength="255"
								placeholder="{{'bookincourse.Title' | translate}}"
								required
								centris-validate="MissingTitle"
								validate-condition="missingTitle"
								>
				 </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2" 
							for="published"
							translate="bookincourse.Published">Published</label>
					<div class="col-sm-10">
						<input type="text"
								pattern="[0-9]{1,4}"
								class="form-control"
								id="published"
								ng-model="book.Published"
								min="0"
								max="{{maxYear}}"
								placeholder="{{'bookincourse.Published' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2" 
							for="release"
							translate="bookincourse.Release">Release</label>
					<div class="col-sm-10">
						<input type="text"
								class="form-control"
								ng-model="book.Release"
								id="release"
								maxlength="50"
								placeholder="{{'bookincourse.Release' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2"
							for="publisher"
							translate="bookincourse.Publisher">Publisher</label>
					<div class="col-sm-10">
						<input type="text"
								class="form-control"
								id="publisher"
								ng-model="book.Publisher"
								maxlength="100"
								placeholder="{{'bookincourse.Publisher' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2"
							for="author"
							translate="bookincourse.Authors">Authors</label>
					<div class="col-sm-10">
						<input type="text"
								class="form-control"
								id="author"
								ng-model="book.Author"
								maxlength="255"
								placeholder="{{'bookincourse.Authors' | translate}}">
				 </div>
				</div>
			</fieldset>

			<div class="form-group">
				<label class="col-sm-2"
						for="required"
						translate="bookincourse.Required">Required</label>
				<div class="col-sm-10">
					<input id="required"
							type="checkbox"
							ng-model="book.Required">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2"
						for="memo"
						translate="bookincourse.Memo">Memo</label>
				<div class="col-sm-10">
					<text-angular
						ng-model="book.Memo"
						ondrop="return false;"
						maxheight="100px"
						ta-toolbar="[
							['h1', 'h2', 'h3', 'p'],
							['bold', 'italics', 'underline'],
							['ul', 'ol'],
							['justifyLeft', 'justifyCenter', 'justifyRight'],
							['insertImage', 'insertLink', 'insertVideo', 'html']
						]"
						ta-toolbar-group-class="btn-group btn-group-xs">
					</text-angular>
					<span>{{'bookincourse.Input' | translate}}: {{500 - book.CourseMemo.length}}</span>
				</div>
			</div>
		</form>

		<centris-dialog-footer
			submit="bookincourse.Add"
			ng-if="isEditing===false"
			on-submit="closeDialog()">
		</centris-dialog-footer>
		<centris-dialog-footer
			submit="bookincourse.Edit"
			ng-if="isEditing===true"
			on-submit="closeDialog()">
		</centris-dialog-footer>
	</div>
</div>
