<body ng-controller="BoardController">
	<div id="discussionBoard" class="row clearfix" ng-if="loadingBoard === false">
		<!-- ALL THREADS LIST -->
		<div class="allThreads col-md-3 column" ng-include src="'discussions/components/allthreads/board-allthreads.html'"></div>
		<!-- MAIN BOARD -->
		<div class="threadContent col-md-9 column">
				<!-- NEW THREAD FORM -->
			<div class="newThread col-md-12 column" ng-include src="'discussions/components/newthread/board-newthread.html'"></div>
				<!-- THREAD BODY -->
			<div class="thisThread col-md-12 column" ng-include src="'discussions/components/thread/board-thread.html'"></div>
			<!-- REPLIES -->
			<div class="replies col-md-12 column" ng-include src="'discussions/components/reply/board-reply.html'">	</div>
		</div>
	</div>
</body>
