@import (reference) "src/_variables" ;

.online-statistics {
	.column-header {
		padding-top: 2em;
	}
	.accordion-body {
	padding-right: 1.5em;
	}
	.exam-question {
		padding-top: 0.3em;
		padding-bottom: 1.5em;
	}
	.question-options {
		padding-left: 0em;
	}
	.question-answer {
		padding-bottom: 0.5em;
	}
	.fa-check {
		padding-left: 3em;
	}
}

