<div class="row online-statistics">
	<div class="col-xs-12 col-sm-6 col-md-12">
		<div class="column-header">
			<uib-accordion close-others="true">
				<div ng-repeat="answer in answers">
					<uib-accordion-group
						is-open="$first">
						<uib-accordion-heading>
							<div class="row">
								<div class="col-xs-12 col-md-3">
									<strong>
										{{'onlineexamStatistics.QuestionNr' | translate}}
									</strong> {{$index + 1}}
									({{answer.Weight}}%)
								</div>
								<div class="col-xs-12 col-md-3">
									<strong>{{'onlineexamStatistics.HighestGrade' | translate}} </strong> {{answer.HighestGrade / 10}}
								</div>
								<div class="col-xs-12 col-md-3">
									<strong>{{'onlineexamStatistics.LowestGrade' | translate}} </strong> {{answer.LowestGrade / 10}} 
								</div>
								<div class="col-xs-12 col-md-3">
									<strong>{{'onlineexamStatistics.Mean' | translate}} </strong> {{answer.AverageGrade / 10 | number:2}}
								</div>
							</div>
						</uib-accordion-heading>
						<div class="row accordion-body">
							<div class="col-xs-12">
								<a href="#/courses/{{courseInstanceID}}/onlineexams/{{examid}}/questiongrading/{{answer.QuestionID}}"
									class="btn btn-primary pull-right">
									<span translate="onlineexamStatistics.GradeQuestion" />
								</a>
							</div>
							<div class="col-xs-12 col-sm-6">
								<div class="col-md-12 exam-question">
									<h5 ng-bind-html="answer.Text"></h5>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-10 question-options">
									<ol type="A">
										<div ng-repeat="ans in answer.Answers">
											<li class="question-answer">
												{{ans.Text}}
												<span ng-if="ans.Correct"> <i class="fa fa-check"></i></span>
											</li>
										</div>
									</ol>
								</div>
							</div>
							<!-- Eru ritgerðaspurningarnar nr 3? -->
							<div class="col-xs-12 col-sm-6 chart-field pull-right"
								ng-if="answer.QuestionType === 1 || answer.QuestionType === 2">
									<canvas width="100" height="70"
										class="chart chart-bar"
										chart-data="answer.values"
										chart-labels="answer.labels">
									</canvas>
							</div>
						</div>
					</uib-accordion-group>
				</div>
			</uib-accordion>
		</div>
	</div>
</div>