<div class="postOnlineExam">
	<centris-dialog-header 
		titlecode=""
		titletext="{{'postOnlineExam.ServeExamHeader' | translate }}">
	</centris-dialog-header>
	<div class="modal-body">
		<form class="form-horizontal" 
			role="form">
			<div class="form-group">
				<label class="control-label col-sm-3" 
					for="onlineExamName"
					translate="postOnlineExam.ExamName"/>
				<div class="col-sm-9 controls">
					<input type="text"
						class="form-control"
						ng-model="template.Title">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" 
					for="examDescription"
					translate="postOnlineExam.TeacherNote">
					Description
				</label>
				<div class="col-sm-9 controls">
					<textarea
						class="form-control"
						ng-model="template.Description">
						{{template.Description}}
					</textarea> 
				</div>
			</div>
			<hr>
			<div class="form-group">
				<label class="col-sm-3 control-label" 
					for="inputDateStarts"
					translate="postOnlineExam.ExamStart">
					Opens
				</label>
				<div class="col-sm-9 controls">
					<centris-date-picker
						class="col-sm-6 controls"
						id="inputDateStarts"
						ng-model="template.StartDate"
						centris-validate="postOnlineExam.NoStartDate"
						validate-condition="showError && template.StartDate === undefined">
					</centris-date-picker>
					<div class="col-sm-6">
						<input type="text"
							id="fromTime"
							class="form-control"
							ng-model="template.fromTime"
							centris-time-picker
							period="start"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" 
					for="inputDateEnds"
					translate="postOnlineExam.ExamEnd">
					Closes
				</label>
				<div class="col-sm-9 controls">
					<centris-date-picker
						class="col-sm-6 controls"
						id="inputDateEnds"
						ng-model="template.EndDate"
						centris-validate="postOnlineExam.NoEndDate"
						validate-condition="showError && template.EndDate === undefined">
					</centris-date-picker>
					<div class="col-sm-6">
						<input type="text"
							id="toTime"
							class="form-control"
							ng-model="template.toTime"
							min-time="template.fromTime"
							centris-time-picker
							period="stop" />
					</div>
				</div>
			</div>
				<div>
					<label class="col-sm-3 control-label labelLeft"
						for="TimeLimit"
						translate="postOnlineExam.TimeLimit">
						Time Limit
					</label>
					<div class="col-sm-9 controls">
						<div class="input-group timeLimitInput">
							<input type="number" 
								class="form-control" 
								id="coursePercentage"
								ng-model="template.MinutesAllowed"
								step="5"
								min="0"
								placeholder="{{ 'postOnlineExam.CheckToLimitTime' | translate }}"
								ng-disabled="!template.timeLimited">
							<div class="input-group-addon">
								<input type="checkbox" 
									ng-model="template.timeLimited"
									value="timeLimited"/>
							</div>
						</div>
					</div>
				</div>
				<div>
					<label class="col-sm-3 control-label labelLeft"
						for="percentageOfCourse"
						translate="postOnlineExam.PercFinalGrade">
						Percentage of final grade
					</label>
					<div class="col-sm-9 controls">
						<div class="input-group percentage-input">

						<assessment-dropdown
							course-instance-id="courseInstanceID"
							assessment-type="'onlineexams'"
							ng-model="template.AssessmentID"
							on-update-assessment="onChangeAssessment()">
						</assessment-dropdown>

						</div>
					</div>
				</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" 
					for="showGrade"
					translate="postOnlineExam.ShowGrade">
					Show grade
				</label>
				<div class="col-sm-9 controls ">
					<label class="radio-inline col-sm-4 radioBox">
						<input type="radio" 
							id="showGrade"
							value="0"
							ng-model="template.GradePublishType">
						{{ 'postOnlineExam.Never' | translate }}
					</label>
					<label class="radio-inline col-sm-4 radioBox">
						<input type="radio" 
							id="showGrade"
							value="1"
							ng-model="template.GradePublishType"
							checked>
						{{ 'postOnlineExam.OnSubmit' | translate }}
					</label>
					<label class="radio-inline col-sm-4 radioBox">
						<input type="radio" 
							id="showGrade"
							value="2"
							ng-model="template.GradePublishType">
						{{ 'postOnlineExam.PostExam' | translate }}
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" 
					for="showSolution"
					translate="postOnlineExam.ShowSolutions">
					Show solution
				</label>
				<div class="col-sm-9 controls">
					<label class="radio-inline col-sm-4 radioBox">
						<input type="radio"
							name="grade"
							id="showGrade"
							value="0"
							ng-model="template.SolutionPublishType">
						{{ 'postOnlineExam.Never' | translate }}
					</label>
					<label class="radio-inline col-sm-4 radioBox">
						<input type="radio"
						name="grade" 
						id="showGrade"
						value="1"
						ng-model="template.SolutionPublishType">
						{{ 'postOnlineExam.OnSubmit' | translate }}
					</label>
					<label class="radio-inline col-sm-4 radioBox">
						<input ng-checked="template.SolutionPublishType"
							name="grade" 
							type="radio" 
							id="showGrade"
							ng-value="2"
							ng-model="template.SolutionPublishType">
							{{ 'postOnlineExam.PostExam' | translate }}
					</label>
				</div>
			</div>
		</form>
	</div>
	<centris-dialog-footer
		submit="postOnlineExam.ServeExam"
		on-submit="serveExam()">
	</centris-dialog-footer>
</div>