@import (reference) "src/_variables";

.postOnlineExam {

	#examDuration {
		margin-top: 5%;
	}

	#percFinalGrade, #minuteInput {
		width: 100%;
		text-align: center;
	}

	.percentage-input {
		padding: 10px 0px 15px 0px;
	}

	.percentage-input input {
		border-radius: @centris-radius 0px 0px @centris-radius !important;
	}

	.timeLimitInput {
		padding: 10px 0px;
	}

	.radioBox {
		margin: 0px;
		text-align: center;
	}

	.labelLeft {
		padding-right: 22px;
	}
}
