@import "src/vendor/bootstrap/less/variables.less";

.CommentAttachments {
	&-list {
		padding: 4px 0 8px;
		list-style-type: none;
	}

	&-item::before {
		content: "- ";
	}

	&-link,
	&-link:hover,
	&-link:focus,
	&-link:active {
		font-size: 12px;
		font-weight: 600;
		color: @gray;
	}
}
