<body>
	<div class="CommentAttachments" ng-if="attachments.length">
		<p class="label label-default">{{'discussions.Attachments' | translate}}</p>

		<ul class="CommentAttachments-list">
			<li class="CommentAttachments-item" ng-repeat="attachment in attachments">
				<a class="CommentAttachments-link" target="_blank" ng-href="{{ attachment.URL }}">
					{{ attachment.FriendlyFilename || attachment.name }}
				</a>
			</li>
		</ul>
	</div>
</body>
