<centris-dialog-header class="modal-header" titlecode="studyplan.Other">
</centris-dialog-header>
<div class="modal-body">
	<form class="form-horizontal" role="form" name="otherForm" novalidation>
		<div class="form-group row">
			<label class="col-sm-2 control-label" for="text">
				{{'studyplan.Text' | translate}}
			</label>
			<div class="col-sm-10">
				<input class="form-control"
				       type="text" 
				       ng-model="model.Text" 
				       autofocus="defaultFocus"
				       id="text"
				       name="text"
				       required
				       centris-validate="studyplan.MissingText"
				       validate-condition="showError && otherForm.text.$invalid">
			</div>
		</div>
	</form>
</div>
<centris-dialog-footer class="modal-footer" on-submit="submitEvent(otherForm.$valid)">
</centris-dialog-footer>