@import (reference) "src/_variables";

.Comment {
	display: table;
	margin-bottom: 18px;
	min-height: @Comments-imageSize;
	width: 100%;

	&-content,
	&-figure {
		display: table-cell;
		vertical-align: top;
	}

	&-content {
		padding-left: 12px;
	}

	&-figure {
		width: @Comments-imageSize;
	}

	&-figure img {
		display: block;
		height: auto;
		width: 100%;
	}

	&-profilePicture {
		background: @Comments-secondaryColor;
		border-radius: @centris-radius;
		height: @Comments-imageSize;
		overflow: hidden;
		width: @Comments-imageSize;
	}

	&-separator {
		color: @Comments-secondaryColor;
		margin: 0 4px;
	}

	&-replies {
		margin: 12px 0;
	}
}
