<div class="Comment">
	<div class="Comment-figure cf">
		<div class="Comment-profilePicture">
			<centris-person-image name="User image" ssn="ssn"></centris-person-image>
		</div>
	</div>
	<div class="Comment-content" ng-transclude></div>
</div>
