<div class="col-sm-12" ng-show="loading">
	<uib-alert type="info">
		<span translate="Loading"></span>
	</uib-alert>
</div>

<div class="panel panel-default" ng-hide="loading">
	<div class="panel-heading custom-panel-heading">
		<h3 class="panel-title pull-left" translate="Issues.Common.title"></h3>

		<submit-issue class="pull-right">
			<span translate="Issues.Actions.create"></span>
		</submit-issue>

		<div class="clearfix"></div>
	</div>

	<div class="panel-body">
		<div ng-show="issues.length === 0">
			<h2 translate="Issues.Common.empty"></h2>
		</div>

		<div ng-show="issues.length !== 0">
			<table class="table table-hover">
				<thead>
				<tr table-sort="-createDate">
					<th>
						{{'Issues.Common.type'| translate}}
					</th>
					<th data-columnName="createDate">
						{{'Issues.Common.createDate'| translate}}
					</th>
					<th>
						{{'Issues.Common.assigneeName'| translate}}
					</th>
					<th data-columnName="state">
						{{'Issues.Common.state'| translate}}
					</th>
					<th data-columnName="resolveDate">
						{{'Issues.Common.resolveDate'| translate}}
					</th>
					<th>
						{{'Issues.Messages.message'| translate}}
					</th>
				</tr>
				</thead>
				<tbody>
				<tr class="table-clickable" ng-click="viewIssue(issue._id)"
					ng-repeat="issue in issues | orderBy:predicate:reverse">

					<td>
						<span>{{issue.typeName}}</span>
					</td>
					<td>
						<span>{{issue.createDate | centrisDate}}</span>
					</td>
					<td>
						<span>{{issue.assigneeName }}</span>
					</td>
					<td>
						<span>{{'Issues.States.' + issue.state | translate}}</span>
					</td>
					<td>
						<span>{{issue.resolveDate | centrisDate }}</span>
					</td>
					<td>
						<span>{{issue.messages.length}}</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
