<div ng-if="!isInvalid"
	class="container-fluid megabox-assignment-detail assignment-info">

	<div class="details-container">
			<div class="details-item">
				<div>
					<strong translate="assignments.PublishDate" />:
				</div>
				<div>
					<span title="{{assignment.DatePublished | centrisDateTime }}">
						{{assignment.DatePublished | centrisFromNow }}
					</span>
				</div>
			</div>

				<div class="details-item">
				<div>
					<strong translate="assignments.DueDate" />:
				</div>
				<div>
					<!-- TODO: change color based on current date proximity with deadline! -->
					<span title="{{assignment.DateClosed | centrisDateTime }}">
						{{assignment.DateClosed | centrisFromNow }}
					</span>
				</div>
			</div>

				<div class="details-item">
				<div>
					<strong translate="assignments.Weight" />:
				</div>
				<div>
					{{assignment.Weight}} %
				</div>
			</div>

			<div class="details-item">
				<div>
					<strong translate="assignments.Anon" />:
				</div>
				<div>
					<span ng-show="assignment.Anonymity"
						class="label label-success"
						translate="assignments.Active" />
					<span ng-hide="assignment.Anonymity"
						class="label label-primary"
						translate="assignments.Inactive" />
				</div>
			</div>

				<div class="details-item">
				<div>
					<strong translate="assignments.LateHandin" />:
				</div>
				<div>
					<span ng-show="assignment.AllowLateHandin"
						class="label label-success"
						translate="assignments.Allowed" />
					<span ng-hide="assignment.AllowLateHandin"
						class="label label-primary"
						translate="assignments.NotAllowed" />
				</div>
			</div>

			<div class="details-item">
				<div>
					<span ng-if="assignment.AllowLateHandin">
						<strong translate="assignments.LateHandinGradePenalty" />:
					</span>
				</div>
				<div>
					<span ng-if="assignment.AllowLateHandin">
						-{{assignment.LateHandinGradeDecrease}}
						<span ng-switch on="assignment.LateHandinDurationType">
							<span ng-switch-when="1" translate="assignments.ForEachDay" />
							<span ng-switch-when="2" translate="assignments.ForEachHour" />
							<span ng-switch-when="3" translate="assignments.ForEachMinute" />&nbsp;
						</span>
					</span>
				</div>
			</div>

			<div class="details-item">
				<div>
					<strong translate="assignments.AllowedFiles" />:
				</div>
				<div>
					<span ng-repeat="extension in assignment.AllowedFileExtensions">
						<span class="label label-default label-sm">{{extension}}</span>&nbsp;
					</span>
					<span ng-if="assignment.AllowedFileExtensions.length === 0"
						class="label label-primary"
						translate="assignments.None" />
				</div>
			</div>

			<div class="details-item">
				<div>
					<strong translate="assignments.NumFiles" />:
				</div>
				<div>
					{{assignment.AllowedNumberOfFiles}}
				</div>
			</div>

				<div class="details-item" ng-show="assignment.MaxStudentsInGroup > 1">
				<div>
					<strong translate="assignments.NumGroupMembers" />:
				</div>
				<div>
					{{assignment.MaxStudentsInGroup}}
				</div>
			</div>

			<div class="details-item" ng-show="assignment.Categories.length >= 1">
				<div>
					<strong translate="assignments.Category" />:
				</div>
				<div ng-repeat="category in assignment.Categories">
					<span class="label label-default label-sm">{{category}}</span>
				</div>
			</div>

	</div>
</div>
