<!-- Description -->
<div ng-intro-options="IntroOptionsAllDesc"
	 ng-intro-method="ShowMyOptionsAllDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpStatsDesc"
	 ng-intro-method="ShowMyOptionsGrpStatsDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpDiscDesc"
	 ng-intro-method="ShowMyOptionsGrpDiscDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpDesc"
	 ng-intro-method="ShowMyOptionsGrpDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsDiscDesc"
	 ng-intro-method="ShowMyOptionsStatsDiscDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscDesc"
	 ng-intro-method="ShowMyOptionsDiscDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsDesc"
	 ng-intro-method="ShowMyOptionsStatsDesc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewDesc"
	 ng-intro-method="ShowMyOptionsNewDesc"
	 ng-intro-autostart="false">
</div>

<!-- Discuss -->
<div ng-intro-options="IntroOptionsAllDisc"
	 ng-intro-method="ShowMyOptionsAllDisc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpDisc"
	 ng-intro-method="ShowMyOptionsGrpDisc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsDisc"
	 ng-intro-method="ShowMyOptionsStatsDisc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewDisc"
	 ng-intro-method="ShowMyOptionsNewDisc"
	 ng-intro-autostart="false">
</div>

<!-- Group -->
<div ng-intro-options="IntroOptionsAllGrp"
	 ng-intro-method="ShowMyOptionsAllGrp"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsGrp"
	 ng-intro-method="ShowMyOptionsStatsGrp"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscGrp"
	 ng-intro-method="ShowMyOptionsDiscGrp"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewGrp"
	 ng-intro-method="ShowMyOptionsNewGrp"
	 ng-intro-autostart="false">
</div>

<!-- Handin -->
<div ng-intro-options="IntroOptionsAllHandin"
	 ng-intro-method="ShowMyOptionsAllHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpDiscHandin"
	 ng-intro-method="ShowMyOptionsGrpDiscHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsDiscHandin"
	 ng-intro-method="ShowMyOptionsStatsDiscHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpStatsHandin"
	 ng-intro-method="ShowMyOptionsGrpStatsHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscHandin"
	 ng-intro-method="ShowMyOptionsDiscHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpHandin"
	 ng-intro-method="ShowMyOptionsGrpHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsHandin"
	 ng-intro-method="ShowMyOptionsStatsHandin"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewHandin"
	 ng-intro-method="ShowMyOptionsNewHandin"
	 ng-intro-autostart="false">
</div>

<!-- Grade -->
<div ng-intro-options="IntroOptionsAllGrade"
	 ng-intro-method="ShowMyOptionsAllGrade"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpGrade"
	 ng-intro-method="ShowMyOptionsGroupGrade"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscGrade"
	 ng-intro-method="ShowMyOptionsDiscGrade"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewGrade"
	 ng-intro-method="ShowMyOptionsNewGrade"
	 ng-intro-autostart="false">
</div>

<!-- Stats -->
<div ng-intro-options="IntroOptionsAllStats"
	 ng-intro-method="ShowMyOptionsAllStats"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGrpStats"
	 ng-intro-method="ShowMyOptionsGrpStats"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscStats"
	 ng-intro-method="ShowMyOptionsDiscStats"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsNewStats"
	 ng-intro-method="ShowMyOptionsNewStats"
	 ng-intro-autostart="false">
</div>

<!-- Teacher Descr-->
<div ng-intro-options="OptionsDescTeachAll"
	 ng-intro-method="ShowMyOptionsDescTeachAll"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDescTeachDisc"
	 ng-intro-method="ShowMyOptionsDescTeachDisc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDescTeachStats"
	 ng-intro-method="ShowMyOptionsDescTeachStats"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDescTeach"
	 ng-intro-method="ShowMyOptionsDescTeach"
	 ng-intro-autostart="false">
</div>

<div ng-intro-options="OptionsGradeTeachAll"
	 ng-intro-method="ShowMyOptionsGradeTeachAll"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGradeTeachDisc"
	 ng-intro-method="ShowMyOptionsGradeTeachDisc"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGradeTeachStats"
	 ng-intro-method="ShowMyOptionsGradeTeachStats"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsGradeTeach"
	 ng-intro-method="ShowMyOptionsGradeTeach"
	 ng-intro-autostart="false">
</div>

<div ng-intro-options="IntroOptionsStatsTeachAll"
	 ng-intro-method="ShowMyOptionsStatsTeachAll"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsStatsTeach"
	 ng-intro-method="ShowMyOptionsStatsTeach"
	 ng-intro-autostart="false">
</div>

<div ng-intro-options="IntroOptionsDiscTeachAll"
	 ng-intro-method="ShowMyOptionsDiscTeachAll"
	 ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroOptionsDiscTeach"
	 ng-intro-method="ShowMyOptionsDiscTeach"
	 ng-intro-autostart="false">
</div>

<div class="row">
</div>

<div <div ng-if="!isInvalid"
	class="row assignment-details">
	<div class="col-xs-12" ng-show="gettingAssignment">
		<div class="alert alert-info">
			<i class="fa fa-spinner fa-spin"></i>
			{{'assignments.FetchingAssignment'| translate}}
		</div>
	</div>

	<div ng-hide="gettingAssignment">

		<div class="col-sm-12">
			<h2>
				<button type="button"
					ng-show="isTeacher"
					class="btn btn-primary pull-right"
					uib-tooltip="{{ 'assignments.EditAssignment' | translate }}"
					ui-sref="courseinstance.assignments.edit({assignmentID:assignment.ID})"
					id="details-edit">
					<span translate="Edit"></span>
					<i class="fa fa-pencil"></i>
				</button>
				{{assignment.Title}}
			</h2>
		</div>

		<div class="col-sm-12">
			<ng-include
				src="'courseinstance/assignments/components/details/assignment-details-header.html'" >
			</ng-include>
		</div>

		<div class="col-sm-12">
			<uib-tabset class="tabs-details">

				<!-- FIRST TAB: ASSIGNMENT DESCRIPTION (both teachers and students) -->
				<uib-tab select="tabs.go(tabs.list[0].route)"
					active="tabs.list[0].active"
					heading="{{'assignments.Description' | translate}}"
					id="details-desc">
					<!-- There is no real logic involved in displaying the assignment description,
						so it won't get its own controller. -->
					<ng-include
						src="'courseinstance/assignments/components/details/description/description.html'">
					</ng-include>
				</uib-tab>

				<!-- SECOND TAB: ASSIGNMENT DISCUSSIONS (both teachers and students) -->
				<uib-tab select="tabs.go(tabs.list[1].route)"
					active="tabs.list[1].active"
					heading="{{'assignments.Discussions' | translate}}"
					ng-if="assignment.HasDiscussionBoard"
					id="details-discuss">
					<!-- The discussions don't require a controller/include either,
					since the discussions directive takes care of that. -->
					<comments resourcetype="restype" resourceid="resid" />
				</uib-tab>

				<!-- THIRD TAB: ASSIGNMENT GROUP (students only) -->
				<uib-tab select="tabs.go(tabs.list[2].route)"
					active="tabs.list[2].active"
					heading="{{'assignments.AssignmentGroup' | translate}}"
					ng-if="assignment.MaxStudentsInGroup > 1 && !isTeacher"
					id="details-group">

					<assignment-solution-group
						assignment="assignment">
					</assignment-solution-group>

				</uib-tab>

				<!-- FOURTH TAB: ASSIGNMENT HANDIN (students only) -->
				<uib-tab select="tabs.go(tabs.list[3].route)"
					active="tabs.list[3].active"
					heading="{{'assignments.Handin' | translate}}"
					ng-controller="AssignmentStudentHandinController"
					ng-if="!isTeacher"
					id="details-handin">
					<ng-include
						src="'courseinstance/assignments/components/details/handin/handin.html'">
					</ng-include>
				</uib-tab>

				<!-- FIFTH TAB: ASSIGNMENT GRADE (students only) -->
				<uib-tab select="tabs.go(tabs.list[4].route)"
					active="tabs.list[4].active"
					heading="{{'assignments.Grade' | translate}}"
					ng-controller="AssignmentStudentGradeController"
					ng-if="!isTeacher && assignment.Statistics"
					id="details-grade-student">
					<ng-include
						src="'courseinstance/assignments/components/details/grade/grade.html'">
					</ng-include>
				</uib-tab>

				<!-- SIXTH TAB: ASSIGNMENT GRADING (teacher only) -->
				<uib-tab select="tabs.go(tabs.list[5].route)"
					active="tabs.list[5].active"
					heading="{{'assignments.Grading' | translate}}"
					ng-controller="AssignmentsListGradingController"
					ng-if="isTeacher"
					id="details-grade-teacher">
					<ng-include
						src="'courseinstance/assignments/components/details/grading/list-grading.html'">
					</ng-include>
				</uib-tab>

				<!-- SEVEN AND THE RAGGED TIGER TAB: ASSIGNMENT STATISTICS
				(teachers and students) -->
				<uib-tab select="tabs.go(tabs.list[6].route)"
					active="tabs.list[6].active"
					heading="{{'assignments.Statistics' | translate}}"
					ng-if="assignment.Statistics"
					id="details-stats">
					<assignment-statistics api-data="assignment.Statistics"></assignment-statistics>
				</uib-tab>

			</uib-tabset>
		</div>
	</div>
</div>
<div ng-if="isInvalid"
	class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title"
			translate="assignments.Attention">ATH</h3>
	</div>
	<div class="panel-body">
		<div translate="assignments.NotFound">
			Ekki tókst að hlaða inn verkefni
		</div>
	</div>
</div>
