@import (reference) "src/_variables" ;

.details {
	&-container {
		display: flex;
		flex-flow: column wrap;
		height: 200px;
		@media only screen and (min-width: 1125px) {
			height: 100px;
		}
		@media only screen and (min-width: 2000px) {
			height: 50px;
		}
	}
	&-item {
		flex: 2 0 auto;
		div {
			display: inline-block;
		}
		div:first-child {
			@media only screen and (max-width: 1999px) {
				width: 135px;
			}
		}
	}
}

.drop-box {
	min-height: 80px;
	border-radius: @centris-radius;
	padding: 10px;
	&:hover {
		background-color: @drop-box;
	}
}
.dragover {
	background-color: @drop-box;
}
