<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowOnlineExamIntro"
	 ng-intro-autostart="false">
</div>
<!-- We need a ui-view element, since this route has subroutes... -->
<div ui-view>

<centris-page-header page-title="onlineExams.Title">
</centris-page-header>

<div class="col-sm-12" ng-show="fetchingData">
	<uib-alert type="info">
		<i class="fa fa-spinner fa-spin"></i>
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="exams" ng-show="!fetchingData" ng-if="hasExams===true">

	<div ng-hide="exams.length > 0">
		<uib-alert type="info">
			<span translate="onlineExams.NoExams" />
		</uib-alert>
	</div>

	<div ng-show="exams.length > 0">
		<table wt-responsive-table class="table table-hover" id="examtable">
			<thead>
				<tr table-sort="StartDate">
					<th data-columnName="Name">
						{{'onlineExams.Name' | translate }}
					</th>
					<th data-columnName="Status">
						{{'onlineExams.Status' | translate }}
					</th>
					<th data-columnName="StartDate">
						{{'onlineExams.Start' | translate }}
					</th>
					<th data-columnName="EndDate">
						{{'onlineExams.End' | translate }}
					</th>
					<th data-columnName="CompletedCount" id="examtablecompletedcount">
						{{'onlineExams.Participation' | translate }}
					</th>
					<th data-columnName="AverageGrade" id="examtableaveragegrade">
						{{'onlineExams.Score' | translate }}
					</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="exam in exams | orderByLocale:predicate:reverse">
					<td class="table-collapse-head-color">
						<a ui-sref="courseinstance.onlineexams.results.studentlist({examid: exam.ID})">
							<span class="name">
								{{exam.Name}}
							</span>
						</a>
					</td>
					<td class="stay-one-line">
						<span
							ng-if="exam.Status == 1"
							class="examNotStarted"
							translate="onlineExams.NotStarted">
							Not started
						</span>
						<span
							ng-if="exam.Status == 2"
							class="examOngoing"
							translate="onlineExams.Ongoing">
							Ongoing
						</span>
						<span
							ng-if="exam.Status == 3"
							class="examClosed"
							translate="onlineExams.Closed">
							Closed
						</span>
					</td>
					<td>
						<span uib-tooltip="{{'onlineExams.Start' | translate}} {{exam.StartDate | centrisDateTime }}">
							{{exam.StartDate | centrisDateNoYear }}
						</span>
					</td>
					<td>
						<span uib-tooltip="{{'onlineExams.End' | translate}} {{exam.EndDate | centrisDateTime }}">
							{{exam.EndDate | centrisDateNoYear }}
						</span>
					</td>
					<td>
						<project-status
							student-count="exam.StudentCount"
							handin-count="exam.CompletedCount">
							<!-- missing graded-count="exam.GradedCount" -->
						</project-status>
					</td>
					<td class="display-average-grade">{{exam.AverageGrade | number : 2}}</td>
					<td>
						<a ui-sref="courseinstance.onlineexams.examdetails({examid: exam.ID})">
							<i uib-tooltip="{{ 'onlineExams.UserView' | translate}}"
								class="fa fa-eye" id="examtableuserview">
							</i>
						</a>
					</td>
					<td>
						<a ui-sref="courseinstance.onlineexams.results.statistics({examid: exam.ID})">
							<i uib-tooltip="{{ 'onlineExams.Stats' | translate}}"
								class="fa fa-bar-chart-o" id="examtablestats">
							</i>
						</a>
					</td>
					<td>
						<!--
							None of the following commands are implemented at the moment.
						<div class="btn-group"
							uib-dropdown>
							<i uib-tooltip="{{ 'onlineExams.Config' | translate}}"
								class="fa fa-cog" id="examtablesettings"
								uib-dropdown-toggle
								ng-disabled="disabled"
								ng-click="openTab(exam.ID, 'settings')">
							</i>
							<ul class="uib-dropdown-menu"
								role="menu">
								<li>
									<a href="#">
										<i class="fa fa-pencil iconDropdown" />
										<span translate="onlineExams.Edit" />
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-undo iconDropdown" />
										<span translate="onlineExams.Restart" />
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-trash-o iconDropdown" />
										<span translate="onlineExams.Delete" />
									</a>
								</li>
							</ul>
						</div>
						-->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div ng-show="!fetchingData">

	<div ng-show="!hasTemplates" class="clearfix">
		<uib-alert type="info">
			<span translate="onlineExams.NoTemplates" />
		</uib-alert>
	</div>

	<div class="clearfix pull-right" id="examtableaddtemplate">
		<a class="btn btn-primary"
			id="templateCreate"
			ui-sref="courseinstance.newtemplate()">
			<i class="fa fa-plus" />
			<span translate="onlineExams.AddTemplate" />
		</a>
	</div>

	<div ng-if="hasTemplates===true">
		<table wt-responsive-table class="responsive table table-hover" id="examtabletemplate">
			<thead>
				<tr table-sort="Name">
					<th data-columnName="Name">
						{{'onlineExams.Name' | translate }}
					</th>
					<th data-columnName="QuestionCount">
						{{'onlineExams.NumOfQuestions' | translate }}
					</th>
					<th data-columnName="Weight">
						{{'onlineExams.QuestionWeightTotal' | translate }}
					</th>
					<th data-columnName="DateCreated">
						{{'onlineExams.CreateDate' | translate }}
					</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="template in templates | orderByLocale:predicate:reverse">
					<td class="table-collapse-head-color">
						<div class="name">
							{{template.Name}}
						</div>
					</td>
					<td>
						{{template.QuestionCount}}
					</td>
					<td>
						{{template.Weight}}%
					</td>
					<td>
						<span tooltip="{{'onlineExams.Created' | translate}} {{template.DateCreated | centrisDateTime }}">
							{{template.DateCreated | centrisDateNoYear }}
						</span>
					</td>
					<td>
						<div ng-show="template.Weight === 100">
							<button class="btn btn-success" id="examtableserve"
								ng-click="serveMe(template)">
								<i class="fa fa-play" />
								<span translate="onlineExams.Serve"></span>
							</button>
						</div>
					</td>
					<td>
						<div class="btn-group"
							uib-dropdown>
							<i uib-tooltip="{{ 'onlineExams.Config' | translate}}"
								class="fa fa-cog"
								uib-dropdown-toggle
								ng-disabled="disabled">
							</i>
							<ul class="uib-dropdown-menu"
								role="menu">
								<li>
									<a ui-sref="courseinstance.edittemplate({templateID: template.ID})">
										<i class="fa fa-pencil iconDropdown" />
										<span translate="onlineExams.Edit" />
									</a>
								</li>
								<!--
								Not currently implemented...
								<li>
									<a href="#">
										<i class="fa fa-files-o iconDropdown" />
										<span translate="onlineExams.Copy" />
									</a>
								</li>
								-->
								<li>
									<a ng-click="deleteTemplate(template)">
										<i class="fa fa-trash-o iconDropdown" />
										<span translate="onlineExams.Delete" />
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
