@import (reference) "src/_variables";

.exams {
	@statusGreen:  #14892C;
	@statusYellow: #FDD017;
	@statusRed:    #D04437;

	.fa-angle-up, .fa-angle-down {
		float: right;
		color: #999;
		font-size: 16px;

		&:hover {
			color: #000;
			cursor: pointer;
		}
	}

	.fa-angle-down {
		padding-right: 4px;
		padding-left: 4px;
	}

	.examOngoing, .examNotStarted, .examClosed {
		font-size: 11px;
		font-weight: bold;
		padding: 2px 5px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 3px;
		border: 1px solid #ccc;
		border-radius: @centris-radius;
	}

	.examNotStarted {
		background-color: @statusGreen;
		border-color: @statusGreen;
	}

	.examOngoing {
		background-color: @statusYellow;
		border-color: @statusYellow;
	}

	.examClosed {
		background-color: @statusRed;
		border-color: @statusRed;
	}

	#templateCreate {
		margin-top: -7px;
		float: right;
	}

	/* Displays max xx characters in exam and template names */
	.name {
		max-width: 200px;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
	}

	.iconDropdown {
		margin-right: 5px;
	}

	.dropdown-menu {
		width: 20px;
	}

	.examTable {
		width: 900px !important;
		td:nth-child(1){width:220px;}
		td:nth-child(2){width:115px;}
		td:nth-child(3){width:100px;}
		td:nth-child(4){width:100px;}
		td:nth-child(5){width:100px;}
		td:nth-child(6){width:90px; text-align: center;}
		td:nth-child(7){width:40px;}
		td:nth-child(8){width:40px;}
		td:nth-child(9){width:40px;}
	}

	.templateTable {
		width: 720px !important;
		td:nth-child(1){width:220px;}
		td:nth-child(2){width:140px; text-align: center;}
		td:nth-child(3){width:140px;}
		td:nth-child(4){width:40px;}
		td:nth-child(5){width:40px;}
		td:nth-child(6){width:40px;}
	}

	// meter is configured in a different less file, commented out for consistency
	// meter {
	// 	width: 100px;
	// 	height: 18px;
	// 	-webkit-appearance: none; /* Reset appearance */
	// 	border: 1px solid #ccc;
	// 	border-radius: 3px;
	// }
	//
	// meter::-webkit-meter-bar {
	// 	width: 100px;
	// 	height: 18px;
	// 	border-radius: 3px;
	// 	background: none;
	// 	background-color: #cccccc;
	// 	box-shadow: 0px 5px -5px #999 inset;
	// }
	//
	// meter::-webkit-meter-optimum-value {
	// 	border-radius: 3px;
	// 	background: @statusGreen;
	// }
	//
	// meter::-webkit-meter-suboptimum-value {
	// 	border-radius: 3px;
	// 	background: @statusYellow;
	// }
	//
	// meter::-webkit-meter-even-less-good-value {
	// 	border-radius: 3px;
	// 	background: @statusRed;
	// }

	.panel-default {
		margin-top: 20px;
	}

	.display-average-grade {
		text-align: center;
	}
}
