<div class="row">
	<div class="col-xs-12">
		<div ng-show="loadingData" class="Coursedetails-loading-data">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>

		<div ng-hide="loadingData">
			<div class="Coursedetails-command-area">
				<div ng-show="isTeacher">
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<button type="button"
										class="btn btn-primary"
										ng-show="allowEdit && !isInEditMode"
										ng-hide="isInEditMode"
										ng-click="onEdit()">
									<span translate="Edit"></span>
									<i class="fa fa-pencil"> </i>
								</button>
								<button class="btn btn-success"
										ng-show="isInEditMode"
										ng-click="onSaveLearningOutcomes()" >
									<span translate="Save" />
								</button>
								<button class="btn btn-default"
										ng-show="isInEditMode"
										ng-click="onCancel()" >
									<span translate="Cancel" />
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			<div style="margin-top:1em;"></div>

			<learning-outcomes
				ng-model="learningOutcomes"
				allow-edit="isInEditMode">
			</learning-outcomes>

			<div class="Coursedetails-megabox"
				 ng-hide="isInEditMode || (learningOutcomeDescriptions.Description.length === 0 && learningOutcomeDescriptions.DescriptionEN.length === 0)">
				<p ng-bind-html="learningOutcomeDescriptions | centrisTranslate: 'Description' : 'DescriptionEN'"></p>
			</div>

			<!--Textbox to insert other rules and conditions-->
			<div class="Coursedetails-megabox clearfix"
				 ng-show="isInEditMode">
				<h4>{{'tabLearningOutcomes.OtherRules' | translate}}</h4>
				<dual-lang-editor
					is="learningOutcomeDescriptions.Description"
					en="learningOutcomeDescriptions.DescriptionEN">
				</dual-lang-editor>
			</div>
		</div>
	</div>
</div>