<div class="well">
	<div class="row">
		<div class="col-md-12">
			<div ng-hide="assignment.Description === ''"
				ng-bind-html="assignment.Description">
			</div>
			<uib-alert type="info nomarginbottom"
				ng-show="assignment.Description === undefined || assignment.Description === ''">
				<span class="fa fa-info-circle"></span>
					{{'assignments.DescriptionNotSet' | translate}}
			</uib-alert>
		</div>
	</div>

	<!-- TODO: display the attachments of the assignment, if any. -->

	<div class="row" ng-show="assignment.Milestones.length > 0">
		<div class="col-md-12">
			<dl ng-show="assignment.Milestones.length > 0">
				<div class="milestones-list"
					ng-repeat="m in assignment.Milestones">
					<dt>({{m.Weight}}%) {{m.Name}}</dt>
					<dd>{{m.Description}}</dd>
				</div>
			</dl>
		</div>
	</div>
</div>
