<div class="profile-school-history">
	<table class="student-details-table table-condensed">
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_MajorTitle" /></b>
			</td>
			<td>
				<span>
					{{history.Major | centrisTranslate: "Name" : "NameEN"}},
				</span>
				<span>
					{{history.Department | centrisTranslate: "Name" : "NameEN"}}
				</span>
			</td>
		</tr>
		<!--<tr>
			<td>
				<b><span translate="ProfilePage.Table_EmphasisLine">EmphasisLine</span></b>
			</td>
			<td>
				<div ng-show="myRegistrations.EmphasisLine !== null">
					<span>{{myRegistrations.EmphasisLine | centrisTranslate : "Name" : "NameEN"}}</span>
				</div>
				<div ng-show="registration.EmphasisLine === null">
					<span translate="ProfilePage.NoEmphasis">Áherslulína ekki skráð</span>
				</div>
			</td>
		</tr>-->
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_Started" /></b>
			</td>
			<td>
				<span>{{history.Started}}</span>
			</td>
		</tr>
	</table>
	<div>
		<submit-issue type="changeMajor">
			<span translate="ProfilePage.Actions.Change_Major"></span>
		</submit-issue>
	</div>

	<div class="row semester" ng-repeat="semester in semesterGroups">
		<div class="col-xs-1">{{semester[0].Semester}}</div>
		<div ng-repeat="course in semester" ng-class="{course: true, completed: course.CourseCompleted}">
			<i class="fa fa-check corner-item" ng-show="course.CourseCompleted"></i>
			{{course.CourseID}}
			<span ng-show="course.SemesterIndex > 0">
				<!-- TODO: translate this -->
				Áfanginn er á {{course.SemesterIndex}}. önn
			</span>

			<span ng-if="course.Status !== 1">
				Ólokið
			</span>
		</div>
	</div>
</div>