.profile-school-history {

	.semester {
		border-bottom: 1px solid black;
		margin-top: 1em;
	}

	.course {
		float: left;
		width: 130px;
		height: 100%;
		min-height: 80px;
		padding: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		background-color: #f5f5f5;
		border: 1px solid #e0e0e0;
		-webkit-box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.08);
		box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.08);

		.corner-item {
			float: right;
			margin: 0.25em;
		}
	}

	.completed {
		background-color: #E7F1E8;
		color: green;
	}
}