<centris-dialog-header 
	titlecode="grades.Dialog.Title2"
	dismiss="false"
	header-size="2"></centris-dialog-header>
	
	<div class="dialog">
		<div class="obs"
			translate="grades.Dialog.Observe"></div>
		<strong translate="grades.Dialog.Message2"></strong>
	</div>
<centris-dialog-footer ></centris-dialog-footer>