<div ng-if="!fetchingData">
	<br>

	<grade-details grade="{{ solution.Grade }}"
				   rank="{{ rank }}"
				   memo="{{ solution.TeacherMemo }}"
				   grader="grader"
				   penalty="{{ solution.LateHandinPenalty }}"></grade-details>

	<div ng-if="milestones && milestones.length !== 0">
		<h4>{{ "assignments.Milestones" | translate }}</h4>

		<div ng-repeat="milestone in milestones" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ milestone.Milestone.Name }} [{{ milestone.Milestone.Weight }}%]</h3>
			</div>
			<div class="panel-body">
				<grade-details grade="{{ milestone.Grade }}"
							   memo="{{ milestone.TeacherMemo }}"
							   grader="milestone.Grader"
							   penalty="{{ solution.LateHandinPenalty }}"></grade-details>
			</div>
		</div>
	</div>
</div>
