<!--THIRD TAB BEGIN-->
<!-- Create Milestone HTML -->
<div class="row">
	<div class="col-md-6">
	<h4 translate="assignments.CreateMilestone"></h4>
		<div class="form-group">
			<form>
				<div class="form-group">
					<label translate="Title"></label>
					<input ng-model="model.newMilestone.Name" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label translate="assignments.Weight"></label>
					<input ng-model="model.newMilestone.Weight" type="number" step="0.01"  class="form-control">
				</div>
				<div class="form-group">
					<label translate="assignments.Description"></label>
					<textarea ng-model="model.newMilestone.Description"
						cols="30"
						rows="10"
						class="form-control"></textarea>
				</div>
			</form>
			<div>
				<button ng-click="createNewMilestone()"
					class="btn btn-success"
					translate="Add"></button>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<h4 translate="assignments.Milestones"></h4>
		<table class="table">
			<thead>
				<tr>
					<th translate="Title"></th>
					<th translate="assignments.Weight"></th>
					<th>
						<span class="pull-right" translate="Edit" />
					</th>					
					<th>
						<span class="pull-right" translate="Remove" />
					</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th translate="assignments.SumMilestoneWeight"></th>
					<th>{{model.weightSum}}</th>
					<th></th>					
					<th></th>
				</tr>
			</tfoot>
			
			
			<tbody>
				<tr ui-on-drop="onDrop($event, $data, model.assignmentwizard.Milestones, $index)"
					drop-channel="stones"
					ui-draggable="true" drag="milestone" drag-channel="stones"
					on-drop-success="dropSuccessHandler($event, $index, model.assignmentwizard.Milestones)"
					on-drop-failure="dropFailureHandler($event, $index, model.assignmentwizard.Milestones)"
					ng-repeat="milestone in model.assignmentwizard.Milestones track by $index">
					<td>
						{{milestone.Name}}
					</td>
				
					<td>{{milestone.Weight}}</td>
					<td>
						<button ng-click="editMilestone(milestone)"
							class="btn btn-warning btn-xs pull-right"
							translate="Edit" />
					</td>					
					<td>
						<button ng-click="removeMilestone(milestone)"
							class="btn btn-danger btn-xs pull-right"
							translate="Remove" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>