<h3 translate="assignments.EditAssignment"></h3>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<form name="wiza" role="form" novalidate>
			<uib-tabset>
				<uib-tab heading="{{'assignments.Tab_1' | translate}}">
					<!--FIRST TAB BEGIN-->
					<div ng-include src="'courseinstance/assignments/components/create-edit/assignment-wizard-tab1.html'">
					</div>
				</uib-tab>
				<!--FIRST TAB END-->
				<uib-tab heading="{{'assignments.Tab_2' | translate}}">
					<!--SECOND TAB BEGIN-->
					<div ng-include src="'courseinstance/assignments/components/create-edit/assignment-wizard-tab2.html'">
					</div>
				</uib-tab>
				<!--SECOND TAB END-->
				<uib-tab heading="{{'assignments.Tab_3' | translate}}">
					<!--THIRD TAB BEGIN-->
					<div ng-include src="'courseinstance/assignments/components/create-edit/assignment-wizard-tab3.html'">
					</div>
				</uib-tab>
				<!--THIRD TAB END-->
			</uib-tabset>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12 assignment-button-buttom-div">
		<div class="pull-right">
			<button class="btn btn-success"
				ng-click="editAssignment()"
				translate="assignments.Confirm"></button>
		</div>
	</div>
</div>