<!--FOURTH TAB BEGIN-->
<!-- Plugins HTML -->
<div class="row">
	<div class="col-md-12">
		<p class="col-md-12" translate="assignments.DescribePlugins"></p>
		<div class="col-md-6">
			<label  translate="assignments.AvailablePlugins"></label>
			<select class="form-control"
					ng-model="model.assignmentwizard.Plugin"
					ng-change="selChangePlugin(model.assignmentwizard.Plugin)"
					ng-options="plugin.Name for plugin in model.assignmentwizard.Plugins">
			</select>
		</div>
		<div class="col-md-6" ng-show = "model.assignmentwizard.PluginSelected.Index == 2">
			<label translate="assignments.MooshakContests"></label>
			<select class="form-control"
					ng-model="model.assignmentwizard.MooshakContest"
					ng-change="selChangeMooshakContest(model.assignmentwizard.MooshakContest)"
					ng-options="contest.Name for contest in model.assignmentwizard.MooshakContests">
			</select>
		</div>
	</div>
	
	<div class="col-md-12 tab-button-bottom" ng-show = "model.assignmentwizard.PluginSelected.Index == 2">
		<button ng-click="getProblemsFromSelectedMooshakContests()"
				class="btn btn-success"
				translate="assignments.CreateMilestone">
		</button>
	</div>
</div>
