<!--SECOND TAB BEGIN-->
<div class="row">

	<div class="col-md-4">
		<div class="form-group">
			<label class="control-label"
				for="weight"
				translate="assignments.MaxInGroup"></label>
			<input ng-model="model.assignmentwizard.MaxStudentsInGroup"
				class="form-control"
				type="number"
				min="1">
		</div>
	</div>

	<div class="col-md-4" ng-show="model.groupData.groups.length > 0">

		<!-- TODO: this option should only be available if there are any
			groups in the course at all! -->
		<div class="radio">
			<label for="allGroups">
				<input type="radio"
					id="allGroups"
					name="groupOption"
					value="true"
					ng-click="onStuff()"
					ng-model="model.groupData.allGroups" />
				<span translate="assignments.AllGroups" />
			</label>
		</div>

		<div class="radio">
			<label for="selectedGroups">
				<input type="radio"
					id="selectedGroups"
					name="groupOption"
					value="false"
					ng-click="onStuff()"
					ng-model="model.groupData.allGroups"
					centris-validate="assignments.ValidationMessages.GroupSelectionMissing"
					validate-condition="model.hasError && model.selectedGroups.$invalid"
					 />
				<span translate="assignments.SelectedGroups" />
			</label>
		</div>

		<div class="checkbox"
			ng-repeat="group in model.groupData.groups">
			<label ng-class="{'disabled' : model.groupData.allGroups === 'true'}">
				<input type="checkbox"
					ng-disabled="model.groupData.allGroups === 'true'"
					ng-click="toggleGroup(group)" />
				{{group.GroupName}}
			</label>
		</div>
	</div>
</div>
