<!--Assignment name.-->
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label for="assignmentName"
				translate="assignments.Name">
			</label>
			<input ng-model="model.assignmentwizard.Title"
				name="assignmentName"
				id="assignmentName"
				type="text"
				class="form-control"
				ng-required
				ng-change="onChangeAssignmentTitle()"
				centris-validate="assignments.ValidationMessages.NameMissing"
				validate-condition="model.hasError && wiza.assignmentName.$invalid"
				placeholder="{{'assignments.Name' | translate}}">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="assignmentCategory"
				translate="assignments.Category">
			</label>
			<ui-select multiple tagging
				close-on-select="false"
				tagging-label="(new)"
				sortable="true"
				ng-model="model.assignmentwizard.Categories">
				<ui-select-match>{{$item}}</ui-select-match>
				<ui-select-choices repeat="category in model.courseCategories | filter:$select.search">
					{{category}}
				</ui-select-choices>
			</ui-select>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label"
				for="weight"
				translate="assignments.PartOfFinalGrade"></label>
			<assessment-dropdown
				course-instance-id="courseInstanceID"
				assessment-type="'!onlineexams'"
				ng-model="model.assignmentwizard.AssessmentGroupID"
				on-update-assessment="onChangeAssessment(assessment)">
			</assessment-dropdown>
		</div>
	</div>
</div>

<!--Publish date, close date (Timepickers)-->
<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label class="control-label"
				for="datePublished"
				translate="assignments.PublishDate"></label>
			<div class="row">
				<div class="col-sm-8">
					<centris-date-picker
						ng-model="model.assignmentwizard.DatePublished"></centris-date-picker>
				</div>
				<div class="col-sm-4">
					<input type="text"
						id="publishTime"
						class="form-control"
						ng-model="model.assignmentwizard.DatePublishedTime"
						centris-time-picker />
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label"
				for="DateClosed"
				translate="assignments.DueDate"></label>
			<div class="row">
				<div class="col-sm-8">
					<centris-date-picker
						ng-model="model.assignmentwizard.DateClosed"></centris-date-picker>
				</div>
				<div class="col-sm-4">
					<input type="text"
						id="closeTime"
						class="form-control"
						ng-model="model.assignmentwizard.DateClosedTime"
						centris-time-picker />
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="form-group">
			<label for="anonymity">
				<input type="checkbox"
					id="anonymity"
					name="anonymity"
					ng-model="model.assignmentwizard.Anonymity">
				<span translate="assignments.Anon"></span>
			</label>
		</div>
		<div class="form-group">
			<label for="hasDiscussionBoard" >
				<input type="checkbox"
					ng-model="checked"
					ng-init="checked=true"
					id="hasDiscussionBoard"
					ng-model="model.assignmentwizard.HasDiscussionBoard"
					ng-disabled="model.isInEditMode && model.assignmentwizard.HasDiscussionBoard">
				<span translate="assignments.DiscussionBoard"></span>
			</label>
		</div>
		<div class="form-group">
			<label for="lateHandin">
				<input ng-model="model.assignmentwizard.AllowLateHandin"
					id="lateHandin"
					type="checkbox">
				<span translate="assignments.AllowLateHandin"></span>
			</label>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<div ng-show="model.assignmentwizard.AllowLateHandin">
				<label for="assignmentwizard.LateHandinUnit"
					translate="assignments.LateHandinUnit"></label>
				<select ng-model="model.assignmentwizard.LateHandinDurationType"
					class="form-control">
					<option value="1" translate="Days">Days</option>
					<option value="2" translate="Hours">Hours</option>
					<option value="3" translate="Minutes">Minutes</option>
				</select>
				<label for="assignmentwizard.LateHandinDuration"
					translate="assignments.LateHandinAllowedLateDays"></label>
				<input ng-model="model.assignmentwizard.LateHandinDuration"
					type="number"
					class="form-control">
				<label for="assignmentwizard.LateHandinGradeDecrease"
					translate="assignments.LateHandinGradePenalty"></label>
				<input ng-model="model.assignmentwizard.LateHandinGradeDecrease"
					type="number"
					class="form-control">
			</div>
		</div>
	</div> 
	<!--Publish date, close date (Timepickers) END;-->
</div>

<!-- Files/Extensions-->
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="form-group col-md-2">
					<label class="control-label"
						for="attachment"
						translate="assignments.Attachment"></label>
					<input ng-model="model.assignmentwizard.AllowedNumberOfFiles"
						class="form-control"
						type="number"
						min="0"
						placeholder="{{'assignments.NumFiles' | translate}}">
				</div>
			<div class="form-group col-sm-4">
				<label class="control-label"
					translate="assignments.AllowedFiles" />
				<ui-select multiple tagging
					tagging-label="(new)"
					close-on-select="false"
					sortable="true"
					centris-validate="assignments.ValidationMessages.FileExtMissing"
					validate-condition="model.hasError && model.allowedFileExtensions.$invalid"
					ng-model="model.assignmentwizard.AllowedFileExtensions">
					<ui-select-match>{{$item}}
					</ui-select-match>
					<ui-select-choices
						repeat="ext in model.fileExtensions | filter:$select.search">
						{{ext}}
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="row">
		<div class="form-group">
			<label for="description"
				translate="assignments.Description"></label>
			<form method="post">
			<text-angular ng-model="model.assignmentwizard.Description"
				ta-toolbar="[['bold','italics','underline'],
				 ['ul', 'ol'], ['undo', 'redo'],
				 ['justifyLeft', 'justifyCenter', 'justifyRight']]">
			</form>
		</div>
	</div>
</div>
<!--Row End-->
