<div ng-intro-options="IntroTeacherOptions"
	ng-intro-method="ShowMyAssignmentsTeacherIntro"
	ng-intro-autostart="false">
</div>
<div ng-intro-options="IntroStudentOptions"
	ng-intro-method="ShowMyAssignmentsStudentIntro"
	ng-intro-autostart="false">
</div>
<!-- We need a ui-view element, since this route has subroutes... -->
<div ui-view>
	<centris-page-header page-title="assignments.Title" ng-show="teacherOrAdmin">
		<button class="btn btn-primary pull-right" ui-sref="courseinstance.assignments.new"
				id="assignments-teacher-helper-step3">
			<i class="fa fa-plus"></i>
			<span translate="assignments.CreateAssignment" />
		</button>
	</centris-page-header>

	<centris-page-header page-title="assignments.Title" ng-hide="teacherOrAdmin">
	</centris-page-header>

	<div class="row">
		<div class="col-sm-12" ng-show="fetchingData">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" ng-hide="fetchingData">
			<div class="btn-group pull-right" uib-dropdown>
				<button type="button" id="optionsbutton"
					class="btn btn-primary"
					ng-click="makeCSVHeader()"
					uib-dropdown-toggle>
					<span translate="assignments.tableSettings" />
					<span class="caret"></span>
				</button>
				<ul class="uib-dropdown-menu" role="menu">
					<li ng-repeat="column in table.columns">
						<a ng-click="toggleColumn(column)">
							<i class="fa fa-fw"
								ng-hide="column.visible"/>
							<i class="fa fa-fw fa-check"
								ng-show="column.visible"/>
							<span>
								{{ column.name | translate }}
							</span>
						</a>
					</li>
				
					<li class='divider' ng-show="teacherOrAdmin"></li>

					<li ng-show="teacherOrAdmin">
						<a ng-csv="csvObject"
							field-separator=";"
							csv-header="csvHeader"
							charset="utf-8"
							encode="utf-8"
							filename="assignments.csv"
							add-bom="true">
							<i class="fa fa-file-excel-o"/>
							<span translate="assignments.ExportCSV"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

		<div class="row" ng-hide="fetchingData">
			<div class="col-sm-12 col-md-12">
				<table wt-responsive-table class="responsive table table-striped table-hover">
					<thead>
						<tr table-sort="DateClosed">
							<th data-columnName="Title" id="assignments-student-helper-step3">
								{{'assignments.Title' | translate}}
							</th>
							<th data-columnName="Weight" ng-show='table.columns[0].visible'>
								{{'assignments.Weight' | translate}}
							</th>
							<th  data-columnName="DatePublished" ng-show='table.columns[1].visible'>
								{{'assignments.PublishDate' | translate}}
							</th>
							<th data-columnName="DateClosed" ng-show='table.columns[2].visible'>
								{{'assignments.DueDate' | translate}}
							</th>
							<th data-columnName="HandinStatus" ng-show='table.columns[3].visible'>
								{{'assignments.HandinStatus' | translate}}
							</th>
							<th data-columnName="Categories" ng-show='table.columns[4].visible'>
								{{'assignments.Category' | translate}}
							</th>
							<th ng-show="!teacherOrAdmin && table.columns[5].visible">
								{{'assignments.Grade' | translate}}
							</th>
							<th ng-show="teacherOrAdmin" class="table-sm-hide" style="text-align: right">
								{{'Operations' | translate}}
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr id="assignments-student-helper-step2">
							<td>
								<span translate="assignments.QtyOfAssignmentsForCourse" />: {{assignments.length}}
							</td>
							<td>{{assignmentWeight}} %</td>
						</tr>
					</tfoot>
					<tbody>
						<tr ng-repeat="assignment in assignments | orderByLocale:predicate:reverse">
							<td class="table-collapse-head-color">
								<a ui-sref="courseinstance.assignments.details({assignmentID: assignment.ID})">
									<span>{{assignment.Title}}</span>
								</a>
							</td>
							<td ng-show='table.columns[0].visible'>
								<span>{{assignment.Weight}}%</span>
							</td>
							<td ng-show='table.columns[1].visible'>
								<span uib-tooltip="{{assignment.DatePublished | centrisDateTime}}">
									{{assignment.DatePublished | centrisDateNoYear }}
								</span>
							</td>
							<td ng-show='table.columns[2].visible'>
								<span uib-tooltip="{{assignment.DateClosed | centrisDateTime}}">
									{{assignment.DateClosed | centrisDateNoYear }}
								</span>
							</td>
							<td ng-show='table.columns[3].visible'>
								<project-status student-count="assignment.StudentCount"
									handin-count="assignment.HandinCount"
									graded-count="assignment.GradedCount">
								</project-status>
							</td>
							<td ng-show='table.columns[4].visible'>
								<span class="label label-default label-sm leftspace" ng-repeat="category in assignment.Categories">
									{{category}}
								</span>
							</td>
							<td ng-show="!teacherOrAdmin">
								<p ng-show="assignment.AssignmentHandin != null && assignment.AssignmentHandin.Grade == null && table.columns[5].visible">
									{{'assignments.HandedIn' | translate}}
								</p>
								<p ng-show="assignment.AssignmentHandin != null && assignment.AssignmentHandin.Grade != null && table.columns[5].visible">
									{{assignment.AssignmentHandin.Grade}}
								</p>
							</td>
							<!--Commands wheel-->
							<td ng-show="teacherOrAdmin">
								<div class="btn-group pull-right table-collapse-button" uib-dropdown>
									<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle
									id="assignments-teacher-helper-step4">
									<i class="fa fa-cog" />
									<span class="caret" styke="margin-right: 5px"></span>
								</button>
								<ul role="menu" uib-dropdown-menu>
									<li>
										<a ui-sref="courseinstance.assignments.edit({assignmentID: assignment.ID})">
											<i class="fa fa-edit"></i>
											<span translate="Edit" />
										</a>
									</li>
									<li>
										<a ng-click="deleteAssignment(assignment)">
											<i class="fa fa-trash-o"></i>
											<span translate="Delete" />
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a ui-sref="courseinstance.assignments.grading({assignmentID: assignment.ID})">
											<i class="fa fa-sliders"></i>
											<span translate="assignments.GradingMode" />
										</a>
									</li>
									<li>
										<a ng-click="publishGrades(assignment)">
											<i class="fa fa-thumb-tack"></i>
											<span translate="assignments.Publish" />
										</a>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
