.CommentLike {
	color: inherit;
	cursor: pointer;
	font-size: inherit;

	&,
	&:hover {
		text-decoration: none;
	}

	&.is-active {
		color: @Comments-mainColor;
	}

	&-icon {
		display: inline-block;
		margin: -5px 0 0 3px !important;
		vertical-align: middle;
	}
}
