<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="student-details" ng-hide="loadingData">
	<h3>{{person.Name}}</h3>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-lg-10">
			<hr/>
		</div>
	</div>
	<div ng-show="person === 'not_found'" class="row container">
		<p translate="persons.Person_Not_Found"></p>
	</div>
	<div ng-hide="person === 'not_found'" class="row container">
		<centris-person-image class="profile-image pull-left"
			ssn="person.SSN">
		</centris-person-image>
		<div class="col-xs-12 col-md-6 col-lg-4 person-info">
			<table class="student-details-table table-condensed">
				<tr>
					<td>
						<b><span translate="persons.Table_Name">Name</span></b>
					</td>
					<td>
						<span>{{person.Name}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<b><span translate="persons.Table_SSN">SSN</span></b>
					</td>
					<td>
						<span>{{person.SSN}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<b><span translate="persons.Table_Address">Address</span></b>
					</td>
					<td>
						<span>{{person.Address}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<b><span translate="persons.Table_Mobile">Mobile</span></b>
					</td>
					<td>
						<span>{{person.MobilePhone}}</span>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: top">
						<b><span translate="persons.Table_Email">Email</span></b>
					</td>
					<td>
						<a href="mailto:{{person.Email}}">
							{{person.Email}}
						</a>
						<div ng-show="person.PersonalEmail && person.Email !== person.PersonalEmail">
							(<a ng-href="mailto:{{person.PersonalEmail}}">
								{{person.PersonalEmail}}
							</a>)
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Student details end -->
</div>
