div.feedback {
	padding:    3mm;
	height:     75%;
	overflow:   auto;
}
pre {
	margin:     2mm;
	padding:    3mm;
	background: #FCFCFC;
}
hr {
	margin: 5mm;
}
.diff td {
	padding: 0.1em 0.4em 0 0.5em
}
table.diff{
	font-family:monospace;
	border:medium;
	font-size:0.9em
}
.diff_header{
	background-color:#e0e0e0
}
td.diff_header {
	text-align:right
}
.diff_next{
	background-color:#c0c0c0
}
.diff_add {
	background-color:#aaffaa
}
.diff_chg{
	background-color:#ffff77
}
.diff_sub {
	background-color:#ffaaaa
}

/*above are styles from the mooshak server*/

.mooshak-report-class {
	border-radius: 6px;
}