<div ng-if="edit">
	<centris-dialog-header
		titlecode="materials.modal.EditItemHeader">
	</centris-dialog-header>
</div>
<div ng-if="!edit">
	<centris-dialog-header
		titlecode="materials.modal.ItemHeader">
	</centris-dialog-header>
</div>

<form name="materialItemForm"
	class="css-form"
	novalidate>
	<div class="modal-body material-item-dialog">
		<div class="container-fluid">
			<div class="row material-dialog-tabs"> <!-- Link/File/Page tabs -->
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation"
						ng-class="{ 'active' : model.Type === 1, 'disabled': edit }"
						ng-click="edit || (model.Type = 1)">
						<a href
						translate="materials.modal.LinkTab"></a>
					</li>

					<li role="presentation"
						ng-class="{ 'active' : model.Type === 2, 'disabled': edit }"
						ng-click="edit || (model.Type = 2)">
						<a href
						translate="materials.modal.AttachmentTab"></a>
					</li>

					<li role="presentation"
						ng-class="{ 'active' : model.Type === 3, 'disabled': edit }"
						ng-click="edit || (model.Type = 3)">
						<a href
						translate="materials.modal.PageTab"></a>
					</li>
				</ul>
			</div> <!-- END Link/File/Page tabs -->

			<div class="row form-group"
				ng-class="{ 'has-error' : showError && materialItemForm.title.$invalid }">
				<div class="col-sm-3">
					<label for="title">
						<span translate="materials.modal.ItemTitle"></span>
					</label>
				</div>

				<div class="col-sm-9">
					<input type="text"
						name="title"
						id="title"
						focus-me="true"
						class="form-control"
						ng-model="model.Title"
						centris-validate="showError && materialItemForm.title.$invalid"
						validate-condition="materials.modal.ItemTitleError"
						placeholder="{{ 'materials.modal.ItemTitle' | translate }}"
						required/>
				</div>
			</div>

			<div class="row form-group"
				ng-class="{ 'has-error' : showError && invalidDate }">
				<div class="col-sm-3">
					<label for="datePublished">
						<span translate="materials.modal.DatePublished"></span>
					</label>
				</div>

				<div class="col-sm-9">
					<centris-date-picker
						ng-model="model.DatePublished"
						ng-change="changeDate()"
						centris-validate="materials.modal.DatePublishedError"
						validate-condition="showError && invalidDate"/>
				</div>
			</div>

			<!-- Feature hiding -->
			<!-- <div class="row form-group">
				<div class="col-sm-3">
					<label for="isVisible">
						<span translate="materials.modal.IsVisible"></span>
					</label>
				</div>

				<div class="col-sm-9">
					<input type="checkbox"
						name="isVisible"
						id="isVisible"
						ng-model="model.IsVisible"/>
				</div>
			</div> -->

			<div class="row form-group"
				ng-show="model.Type === 1"
				ng-class="{ 'has-error' : showError && invalidUrl }">

				<div class="col-sm-3">
					<label for="url">
						<span translate="materials.modal.ItemUrl"></span>
					</label>
				</div>

				<div class="col-sm-9">
					<input type="text"
						name="url"
						id="url"
						class="form-control"
						ng-model="model.LinkUrl"
						placeholder="{{ 'materials.modal.ItemUrl' | translate }}"
						centris-validate="materials.modal.ItemUrlError"
						validate-condition="showError && invalidLinkUrl"/>
				</div>
			</div>

			<div ng-show="model.Type === 2">
				<div class="row form-group">
					<div class="col-sm-3">
						<label for="filename">
							<span translate="materials.modal.FileName"></span>
						</label>
					</div>
					<div class="col-sm-9">
						<input type="text"
							name="filename"
							id="filename"
							class="form-control filename"
							ng-model="model.FriendlyFilename"
							readonly="readonly"
							placeholder="{{ 'materials.modal.FileName' | translate }}"
							centris-validate="materials.modal.FileNameError"
							validate-condition="showError && invalidFileName"/>
					</div>
				</div>

				<div class="row form-group">
					<div ngf-drop
							ngf-select
							ng-model="files"
							ng-model-rejected="rejFiles"
							ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
							class="col-md-12 drop-box"
							ngf-multiple="false"
							ngf-allow-dir="false"
							ngf-drop-available="dropAvailable"
							ngf-max-size='500000000'>
							<div ng-show="!dropAvailable"
								translate="materials.modal.FileDropNotAvailable">
							</div>
							<div ng-show="dropAvailable"
								translate="materials.modal.FileDropAvailable">
							</div>
							<span translate="materials.modal.Or"></span>
							<div file-button>
								<button class='btn btn-success btn-large'><span translate="materials.modal.FileClickSelect">
							</span></button>
							</div>
					</div>
				</div>
			</div>

			<div class="row form-group"
				ng-show="model.Type === 3">
					<text-angular
						ng-model="model.PageBody"
						ta-toolbar="[
							['h1', 'h2', 'h3', 'p'],
							['bold', 'italics', 'underline'],
							['ul', 'ol'],
							['justifyLeft', 'justifyCenter', 'justifyRight'],
							['insertImage', 'insertLink', 'insertVideo', 'html']
						]"
						ta-toolbar-group-class="btn-group btn-group-xs"
						centris-validate="materials.modal.PageBodyError"
						validate-condition="showError && invalidPageBody">
					</text-angular>
				</div>
		</div>
	</div>
	<centris-dialog-footer
		on-submit="validateSelection()">
	</centris-dialog-footer>
</form>
