<div class="Footer" ng-controller="HomeFooterController">
	<div class="Footer-introBtn">
		<button class="btn btn-default btn-xs"
					ng-click="showIntro();">
			<i class="fa fa-question fa-sm help-icon"></i>
		</button>
	</div>
	<!-- <div class="Footer-videos" ng-repeat="vid in videos"> -->
		<!-- TODO!!! -->
	<!-- </div> -->
</div>
