@import (reference) "src/_variables";
@import (reference) "src/_mixins";

.Footer {
	// border: 1px solid #999;
	background-color: @gray-light;
	height: 26px;
	position: fixed;
	bottom: 0px;
	min-width: 43px;
	// width: 43px;
	// left: 50px;
	right: 10px;
	margin-bottom: -1px;
	z-index: 100000;
	padding: 2px 1px;
	border-radius: @centris-radius @centris-radius 0px 0px;

	@media (min-width: @screen-sm) {
		right: 50px;
	}

	&-introBtn {
		width: 40px;
		float: right;

		.help-icon {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&-videos {
		width: 100px;
		float: right;
	}
}
