@import (reference) "src/_variables";

.milestones-list {
	margin-bottom:10px;
}

.milestones-list dd {
	margin-left:43px;
}

.nomarginbottom {
	margin-bottom:0px;
}

.table-grade-col {
	text-align:center;
	padding:0px;
}

.table-no-margin-bottom {
	margin-bottom:0px;
}

.small-col {
	width:60px;
}

.options-button {
	margin-left:10px;
}

.assignment-info {
	white-space:nowrap;
}

.horizontal-line {
	border-bottom:lightgrey 1px solid;
}

.stay-one-line {
	white-space: nowrap;
}

.assignment-info p:last-of-type {
	margin-bottom:0px;
}

.megabox-assignment-detail {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: #555555;
	background-color: #fefefe;
	border: 1px solid #e5e5e5;
	border-radius: @centris-radius;
}

.action-buttons {
	margin-bottom:20px;
}

.teacher-memo-textarea {
	resize: vertical;
}

.text-info-grading {
	margin-bottom:10px;
	padding-left:0px;
}

.browse-solutions-buttons {
	margin-top:10px;
	padding-right:0px;
}

.browse-solutions-buttons button {
	margin-left:10px;
}

.grading-milestones-body {
	padding-top:12px;
}

meter {
	width: 100%;
	height: 12px;
}
//
// meter::-webkit-meter-bar {
// 	background: none;
// 	background-color: #cccccc;
// 	box-shadow: 0px 5px -5px #999 inset;
// }

meter::-webkit-meter-bar {
	width: 100%;
	height: 13px;
	background: #EEE;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15) inset;
	border-radius: @centris-radius;
}

meter::-webkit-meter-optimum-value {
	background: #86CC00; /* Green */
	border-radius: @centris-radius;
}

meter::-webkit-meter-suboptimum-value {
	background: #FFDB1A; /* Yellow */
	border-radius: @centris-radius;
}

meter::-webkit-meter-even-less-good-value {
	background: #CC4600; /* Red */
	border-radius: @centris-radius;
}


.meterTop {
	&:extend(meter);
	&:extend(.top);
}

.meterBottom {
	&:extend(meter);
	&:extend(.bottom);
}

.statusBars {
	line-height: 0;
	height: 13px;
}

.topBar {
	&:extend(.top);
	&:extend(.statusBars);
	margin-bottom: 5px;
}

.bottomBar {
	&:extend(.bottom);
	&:extend(.statusBars);
}

.statusDiv {
	height: 31px;
}

tfoot {
	display: table-footer-group;
	border-color: inherit;
	border-top: 2px solid #ccc;
	font-weight: bold;
}

.milestones-table {

	.full-score {
		color:darkgreen;
	}

	.ok-score {
		color:DarkGoldenRod;
	}

	.bad-score {
		color:FireBrick;
	}

	.selected-milestone {
		background-color:#eee;
		font-weight:bold;
	}
	thead tr th {
		padding-top:0px;
	}

	tr td {
		cursor: pointer;
	}

	.text-indicator-col {
		width:28px;
	}
}

.milestones-container {
	border-left:lightgrey 1px solid;
}

.has-memo-icon {
	color:black;
}

.milestones-grading {
	margin-top:20px;
}

.milestones-title {
	padding-bottom:5px;
}

@media (max-width: 1200px) {
	.milestones-container {
		border:none;
	}
	.milestones-title {
		padding-top:300px;
	}
	.milestones-table {
		margin-top:75px;
	}
}

@media (max-width: 992px) {
	.milestones-container {
		border:none;
	}
	.milestones-title {
		padding-top:10px;
	}
	.milestones-table {
		margin-top:75px;
	}
}

.text-boxes-margin {
	margin-bottom:20px;
}

.deduct {
	text-align:center;
}

.student-list {
	max-height: 300px;
	overflow: auto;
}

.student-img {
	height: 75px;
}

.assignment-details {
	.tab-content {
		margin-top: 1em;
	}
}

label.disabled {
	color: #aaa;
}

.tab-button-bottom {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.assignment-button-buttom-div {
	margin-top: 10px;
	padding-top: 10px;
	border-top:lightgrey 1px solid;
}

.leftspace {
	margin-left: 5px;
}
