@import (reference) "src/_variables";

/* The following classes are probably not needed .... we'll see.... */
/*
.animate-hide {
	transition:all linear 0.25s;
	line-height:20px;
	opacity:1;
	padding:10px;
	border:1px solid black;
	background:white;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
	display:block!important;
}

.animate-hide.ng-hide {
	line-height:0;
	opacity:0;
	padding:0 10px;
}

.check-element {
	padding:10px;
	border:1px solid black;
	background:white;
}
*/

/* Not sure where this is used, could be on the notifications page.
   Should definitely not be here! */
i.glyphicon {
	font-size: 1.4em;
	margin-left: 10px;
}