@import (reference) "src/_variables";

.Dashboard {
	&-list-event {
		list-style: none;
		padding: 0;

		li {
			border: 1px solid #e5e5e5;
			padding: 0;
			background-color: #fefefe;
			margin-bottom: 5px;
		}

		li:hover {
			background-color: #f1f1f1;
		}
	}

	&-list-event-item {
		a {
			text-decoration: none;
			color: #767676;
		}
	}

	&-event-wrapper {
		overflow: hidden;

		.danger {
			background-color: @colorDanger;
		}

		.success {
			background-color: @colorSuccess;
		}

		.neutral {
			background-color: @colorNeutral;
		}
	}

	&-event-icon {
		height: 54px;
		width: 54px;
		margin-right: 5px;
		border-right: 1px solid #e5e5e5;

		padding-bottom: 9999px;
		margin-bottom: -9999px;

		i {
			margin: 17px;
			color: white;
			font-size: large;
		}
	}

	&-event-body {
		font-size: @eventBodyText;
		padding-left: 60px;
	}

	&-event-title {
		font-size: @eventTitleText;
		padding-left: 60px;
	}

	&-time-reg {
		color: @colorDanger;
	}

}
