<div class="container-narrow"
	 ng-intro-options="IntroOptions"
	 ng-intro-method="ShowHomeIntro"
	 ng-intro-autostart="false">
</div>

<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div id="IntroHomeStep6" ng-hide="loadingData">
	<div class="col-xs-12 col-lg-4"
		 data-ng-include=" 'home/components/home/schedule_event_index.html' "
		 ng-hide="!scheduleEvents.length">
	</div>

	<div class="col-xs-12 col-lg-4"
		 data-ng-include=" 'home/components/home/school_work_event_index.html' "
		 ng-hide="!schoolWorkEvents.length">
	</div>

	<div class="col-xs-12 col-lg-4"
		data-ng-include=" 'home/components/home/social_event_index.html' "
		ng-hide="!socialEvents.length">
	</div>

	<div class="col-xs-12"
		ng-show="socialEvents.length === 0 && schoolWorkEvents.length === 0 && scheduleEvents.length === 0">
			<span translate="FrontPageFeed.Empty"
				title="{{'FrontPageFeed.Empty' | translate }}" />
	</div>

</div>