<div>
	<h3>
		<a ui-sref="myAssignments()">
			<span translate="FrontPageFeed.UpcomingSchoolWork" />
		</a>
	</h3>

	<ul class="Dashboard-list-event">
		<li ng-repeat="event in schoolWorkEvents"
			class="Dashboard-list-event-item col-md-12">
			<div ng-include="getEventView(event)"></div>
		</li>
	</ul>
</div>