<div>
	<h3>
		<a ui-sref="comingsoon()">
			<span translate="FrontPageFeed.UpcomingSocialEvents" />
		</a>
	</h3>

	<ul class="Dashboard-list-event">
		<li ng-repeat="event in socialEvents"
			class="Dashboard-list-event-item col-md-12">
			<div ng-include="getEventView(event)"></div>
		</li>
	</ul>
</div>