<div class="col-sm-12" ng-if="hasNoCourses">
	<h3 translate="ProfilePage.NoCourses"></h3>
</div>

<div class="col-sm-12" ng-hide="hasNoCourses">
	<div ng-show="studentCourses.length !== 0">
		<h4 translate="Student"></h4>
		<table class="table fixed-table">
			<thead>
			<tr>
				<th>
					<span>#</span>
				</th>
				<th>
					<span translate="Name"></span>
				</th>
				<th>
					<span translate="Semester"></span>
				</th>
				<th>
					<span translate="Group"></span>
				</th>
				<th>
					<span translate="ProfilePage.Action"></span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="sc in studentCourses">
				<td>
					<span>{{sc.CourseID}}</span>
				</td>
				<td>
					<span>{{sc.Name}}</span>
				</td>
				<td>
					<span>{{sc.Semester}}</span>
				</td>
				<td>
					<span>{{sc.Group.Title}}</span>
				</td>
				<td>
					<submit-issue type="changeGroup">
						<span translate="ProfilePage.Actions.Change_Group"></span>
					</submit-issue>
					<submit-issue type="leaveCourse">
						<span translate="ProfilePage.Actions.Leave_Course"></span>
					</submit-issue>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div ng-show="teacherCourses.length !== 0">
		<h4 translate="Teacher"></h4>
		<table class="table fixed-table" >
			<thead>
			<tr>
				<th>
					<span>#</span>
				</th>
				<th>
					<span translate="Name"></span>
				</th>
				<th>
					<span translate="Semester"></span>
				</th>
				<th>
					<span translate="ProfilePage.Action"></span>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="tc in teacherCourses">
				<td>
					<span>{{tc.CourseID}}</span>
				</td>
				<td>
					<span>{{tc.Name}}</span>
				</td>
				<td>
					<span>{{tc.Semester}}</span>
				</td>
				<td>
					<submit-issue type="changeGroup">
						<!-- Placeholder for Teacher related action -->
						<span translate="ProfilePage.Actions.Close_Course"></span>
					</submit-issue>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>



