<body ng-controller="BoardController">
	<div ng-if="loadingBoard">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div ng-if="!loadingBoard" class="Comments">
		<comment-create>
			<ng-include src="'discussions/components/comments/create/includes/thread.html'">
			</ng-include>
		</comment-create>

		<comment-post ng-repeat="comment in threads track by $index">
			<comment-create ng-show="forms.newReply === -1 && forms.replyID === comment.Thread.ID">
				<ng-include src="'discussions/components/comments/create/includes/reply.html'">
				</ng-include>
			</comment-create>

			<comment-reply ng-repeat="comment in comment.Replies track by $index">
			</comment-reply>
		</comment-post>
	</div>
</body>
