<centris-page-header page-title="materials.Title">
	<button type="button"
		class="btn btn-primary pull-right"
		ng-click="newCategory()"
		ng-show="isTeacher">
		<span class="glyphicon glyphicon-plus"></span>
		<span translate="materials.New_Material_Category_Btn"></span>
	</button>
</centris-page-header>

<div class="row">
	<div class="col-sm-12" ng-show="fetchingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>
	<div class="col-sm-12" ng-show="materialList.length === 0 && !fetchingData">
		<uib-alert type="info">
			<span translate="materials.NoMaterials" />
		</uib-alert>
	</div>
</div>

<div class="materials">
	<table class="table materials-table" ng-show="materialList.length > 0">
		<thead>
			<tr>
				<th>
					{{ 'Title' | translate }}
				</th>
				<th>
					{{ 'materials.table.Author' | translate }}
				</th>
				<th>
					{{ 'materials.table.DatePublished' | translate }}
				</th>
				<th>
					{{ 'materials.table.Type' | translate }}
				</th>
				<th ng-if="isTeacher">
					{{ 'materials.table.EditDelete' | translate }}
				</th>
			</tr>
		</thead>
		<tbody ng-repeat="category in materialList"
			ng-init="categoryIndex = $index">
			<tr class="ng-table-group">
				<td colspan="4">
					<a class="category-title"
						href=""
						ng-click="category.$hideRows = !category.$hideRows">
						<span class="glyphicon"
							ng-class="{ 'glyphicon-chevron-right': category.$hideRows, 'glyphicon-chevron-down': !category.$hideRows }">
						</span>
						<strong>{{ category.Title }}</strong>
					</a>
				</td>

				<td ng-if="isTeacher">
					<div class='btn-group'
						ng-if="!category.FromMyschool"
						uib-dropdown>
						<button type='button'
							class='btn btn-default btn-sm dropdown-toggle'
							uib-dropdown-toggle
							aria-haspopup="true"
							aria-expanded="false">
							<i class="fa fa-cog" />
							<span class='caret' style='margin-left: 5px'></span>
						</button>
						<ul class="uib-dropdown-menu category-or-item-action"
							role="menu">
							<li>
								<a ng-click="addMaterialItem(categoryIndex)">
									<i class="fa fa-plus"></i>
									<span translate="materials.table.AddItem" />
								</a>
							</li>

							<li>
								<a ng-click="editMaterialCategory(categoryIndex)">
									<i class="fa fa-edit"></i>
									<span translate="materials.table.EditCategory" />
								</a>
							</li>

							<li>
								<a ng-click="deleteMaterialCategory(categoryIndex)">
									<i class="fa fa-trash-o"></i>
									<span translate="materials.table.DeleteCategory" />
								</a>
							</li>

						</ul>
					</div>
				</td>
			</tr>
			<tr ng-repeat="item in category.Items"
				ng-init="itemIndex = $index"
				ng-if="!category.$hideRows">
				<td>
					<span class="item-title">
						<img ng-src="styles/img/{{ item.Icon }}-icon.png"
							alt="{{ item.Icon }}"
							class="link-icon"/>
						<a class="item-link"
							ng-href="{{ item.URL }}"
							ng-click="clickPageItem(categoryIndex, itemIndex)">
							{{ item.Title }}
						</a>
					</span>
				</td>
				<td>{{ item.AuthorName }}</td>
				<td>{{ item.DatePublished | centrisDate}}</td>
				<td>{{ item.TypeText | translate }}</td>

				<td ng-if="isTeacher">
					<div class='btn-group'
						ng-if="!item.FromMyschool"
						uib-dropdown>
						<button type='button'
							class='btn btn-default btn-sm' uib-dropdown-toggle>
							<i class="fa fa-cog" />
							<span class='caret' style='margin-left: 5px'></span>
						</button>
						<ul class="uib-dropdown-menu category-or-item-action"
							role="menu">

							<li>
								<a ng-click="editMaterialItem(categoryIndex, itemIndex)">
									<i class="fa fa-edit"></i>
									<span translate="materials.table.EditItem" />
								</a>
							</li>

							<li>
								<a ng-click="deleteMaterialItem(categoryIndex, itemIndex)">
									<i class="fa fa-trash-o"></i>
									<span translate="materials.table.DeleteItem" />
								</a>
							</li>

							<!-- Feature hiding -->
							<!-- <li class="divider"></li>


							<li>
								<a ng-click="toggleItemVisibility(categoryIndex, itemIndex)">
									<div ng-show="!item.IsVisible">
										<i class="fa fa-eye"></i>
										<span translate="materials.table.ShowItem" />
									</div>
									<div ng-show="item.IsVisible">
										<i class="fa fa-eye-slash"></i>
										<span translate="materials.table.HideItem" />
									</div>
								</a>
							</li> -->

						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
