@import (reference) "src/_variables";

.materials {

	.materials-table {

		.category-title {
			color: @centris-red;

			&:hover {
				color: darken(@centris-red, 3%);
			}
		}

		.item-title {
			padding-left: 1em;

			.item-link {
				color: black;
				vertical-align : middle;
			}
		}

		.category-or-item-action>li {
			&:hover {
				cursor: pointer;
			}
		}
	}
}