<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowStudentListIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="students.Title">
</centris-page-header>

<div ng-show="fetchingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div ng-show="courseData.students.length === 0 && !fetchingData">
	<div class="row">
		<div class="col-md-12">
			<uib-alert type="info">
				{{'students.NoStudentInCourse' | translate}}
			</uib-alert>
		</div>
	</div>
</div>

<div class="container-fluid row pull-right" ng-hide="courseData.students.length === 0">
	<button id="studentlist"
		class="btn btn-default"
		ng-click="show=false">{{ 'students.List' | translate }}
	</button>
	<button id="studentphotos"
		class="btn btn-default"
		ng-click="show=true">{{ 'students.Photos' | translate }}
	</button>
	<div id="studentactions"
		class="pull-right"
		style="padding-left:3px;"
		uib-dropdown>
		<button class="btn btn-primary"
			uib-dropdown-toggle
			type="button"
			data-toggle="dropdown"
			ng-click="makeCSVHeader()"
			ng-show="!show">
			<span translate="grades.TableActions"></span>
			<span class="caret"></span>
		</button>
		<ul class="uib-dropdown-menu">
			<li ng-repeat="column in table.columns">
				<a ng-click="toggleColumn(column)">
					<i class="fa fa-fw"
						ng-hide="column.visible"/>
					<i class="fa fa-fw fa-check"
						ng-show="column.visible"/>
					<span>
						{{ column.name | translate }}
					</span>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href=""
					field-separator=","
					csv-header="csvHeader"
					ng-csv="csvObject"
					charset="utf-8"
					encode="utf-8"
					filename="studentlist.csv"
					add-bom="true">
					<i class="fa fa-file-excel-o"/>
					<span translate="grades.CSV"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="row"></div>

</br>

<div id="studenttable"
	ng-hide="courseData.students.length === 0"
	ng-show="!show">
	<studentlist-list ng-model="courseData.students" table="table"></studentlist-list>
</div>

<div id="studenttable"
	ng-show="show">
	<studentlist-photos  ng-model="courseData.students"></studentlist-photos>
</div>
