@import (reference) "src/_variables";

.image-column {
	width: 5%;
	.img-polaroid {
		width:100%;
	}
}

.mouseHover {
	cursor: pointer;
}

.table:empty {
	display: none;
}

/*
.image-column {
	width: 5%;

	.img-polaroid {
		width:100%;
	}
}

.mouseHover {
	cursor: pointer;
}

.grid {
	float: right;
}

.image-grid {
	width: 9em;

	.img-polaroid {
		//width: 100%;
		height: 100%;
	}
}
*/

.imgFix {
	//width: 100%;
	height: 100%;
}

.thumb {
	margin-bottom: 30px;
}

.studentPictures {
	height: 150px;
	overflow: hidden;
	position: relative;
	border-radius: @centris-radius;
}

.studentPictures a img {
	object-fit:cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

.actionBtn {
	margin-top: 5px;
}

@media screen and (min-width: 600px) {
	.studentPictures {
		width: 180px;
		height: 230px;
	}
}

@media screen and (min-width: 768px) {
	.studentPictures {
		width: 80px;
		height: 100px;
	}
}

@media screen and (min-width: 870px) {
	.studentPictures {
		width: 100px;
		height: 150px;
	}
}

@media screen and (min-width: 1070px) {
	.studentPictures {
		width: 120px;
		height: 170px;
	}
}

@media screen and (min-width: 1200px) {
	.studentPictures {
		width: 100px;
		height: 130px;
	}
}

@media screen and (min-width: 1600px) {
	.studentPictures {
		width: 150px;
		height: 200px;
	}
}

@media screen and (min-width: 2000px) {
	.studentPictures {
		width: 200px;
		height: 250px;
	}
}

.studentName {
	padding-top: 5px;
	text-align: center;
	display: block;
	font-size: 0,5em;
	height: 50px;
}
