@import (reference) "src/_variables";

.final-exam-schedule {
	margin-top: 1em;

	.show-hide-rooms {
		font-size: 0.8em;
		margin-left: 1em;
	}

	.final-exam-past-deadline-tab {
		background-color: #f0f0f0;
		color: grey;
		&:hover {
			background-color: #e3e3e3;
		}
	}
}
