<dl class="dl-horizontal">
	<dt>{{ "assignments.Grade" | translate }}:</dt>
	<dd>
		<span ng-if="!penalty || penalty === '0'">
			{{ grade }}
		</span>
		<span ng-if="penalty && penalty !== '0'">
			<span uib-tooltip="{{ 'assignments.IfHandinOnTime' | translate }} 
			{{ grade - penalty }}">
				{{ grade }}
			</span>
			(
			{{ "assignments.Including" | translate }}
			{{ penalty }}
			{{ "assignments.ForLateSubmission" | translate }}
			)
		</span>
	</dd>	

	<div ng-if="rank">
		<dt>{{ "assignments.Rank" | translate }}:</dt>
		<dd>{{ rank }}</dd>
	</div>

	<div ng-if="teacherMemo">
		<dt>{{ "assignments.TeacherMemo" | translate }}:</dt>
		<dd>{{ teacherMemo }}</dd>
	</div>

	<div ng-if="grader">
		<dt>{{ "assignments.Grader" | translate}}:</dt>
		<dd><a href="#/persons/{{ grader.SSN }}">{{ grader.Name }}</a></dd>
	</div>
</dl>
