<table class="table table-hover fixed col-md-12" 
	ng-show="editMode">

	<thead>
		<tr>

			<!-- Group Name -->
			<th class="col-md-3 stay-one-line"
				data-columnName="Name"
				translate="assessment.Assignments.Name"></th>

			<!-- Weight -->
			<th class="col-md-1 stay-one-line"
				data-columnName="Weight"
				translate="assessment.Assignments.Weigh"></th>

			<!-- Type -->
			<th class="col-md-1 stay-one-line"
				data-columnName="AssessmentType"
				translate="assessment.Assignments.Type"></th>

			<!-- Assignments -->
			<th class="text-center col-md-1 stay-one-line"
				data-columnName="TotalCount">
			<span uib-tooltip="{{'assessment.Assignments.AssignmentCount' | translate}}"
				translate="assessment.Assignments.Count"></span></th>

			<!-- Best Counts -->
			<th class="text-center col-md-2 stay-one-line"
				data-columnName="BestOfCount">
			<span uib-tooltip="{{'assessment.Assignments.BestCountDesc' | translate}}"
				translate="assessment.Assignments.BestCount"></span></th>

			<!-- Required to Pass -->
			<th class="text-center col-md-2 stay-one-line"
				data-columnName="Required"
				translate="assessment.Assignments.Required"></th>

			<!-- Raise -->
			<th class="text-center col-md-1 stay-one-line"
				translate="assessment.Assignments.GradeRaise"></th>

			<!-- Delete Group -->
			<th></th>
		</tr>

	</thead>

	<tbody ng-repeat="item in model.Items">
		<tr>

			<!-- Group Name -->
			<td class="stay-one-line">
				<input type="text"
					ng-model="item.Name"
					focus-me="item.focus"
					ng-change="onItemNameChange(item)"
					ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
					placeholder="{{'assessment.Assignments.GroupNamePlaceholder' | translate}}"
					centris-validate="assessment.Validation.Name"
					validate-condition="item.validation.nameInvalid"
					onclick="this.select()" />
			</td>

			<!-- Weight -->
			<td class="stay-one-line">
				<div class="stay-one-line">
					<input type="number"
						ng-max="100"
						ng-change="onItemWeightChanged(item)"
						ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
						ng-model="item.Weight"
						class="smallTextInput"
						onclick="this.select()"
						centris-validate="assessment.Validation.Weight"
						validate-condition="item.validation.weightInvalid" />

					<span uib-tooltip="{{'assessment.Assignments.WeightExtended' | translate}}"
						ng-show="item.slaves.length > 0">
						({{item.Weight - item.slaves.totalWeight}}%)
					</span>

				</div>
			</td>

			<!-- Type -->
			<td class="stay-one-line">

				<select ng-model="item.AssessmentType"
					ng-options="type.typeId as type.name | translate for type in config.assessmentTypes"
					ng-change="onChangeAssessmentType(item)">
				</select>

			</td>

			<!-- Assignments -->
			<td class="text-center stay-one-line">

				<i ng-click="decrementTotalCount(item)"
					uib-tooltip="{{'assessment.Assignments.RemoveAssignment' | translate}}"
					class="add-group-tooltip templatePlus fa fa-minus"></i>

				<span class="between-buttons">{{item.TotalCount}}</span>

				<i ng-click="incrementTotalCount(item)"
					uib-tooltip="{{'assessment.Assignments.AddAssignment' | translate}}"
					class="add-item-tooltip templatePlus fa fa-plus"></i>

			</td>

			<!-- Best Counts -->
			<td class="text-center stay-one-line">
				<div class="stay-one-line">
					<i ng-click="decBestOfCount(item)"
						uib-tooltip="{{'assessment.Assignments.DecreaseBestCount' | translate}}"
						class="add-item-tooltip templatePlus fa fa-minus"></i>

					<span class="between-buttons">
						{{item.BestOfCount}}
					</span>

					<i ng-click="incBestOfCount(item)"
						uib-tooltip="{{'assessment.Assignments.IncreaseBestCount' | translate}}"
						class="add-group-tooltip templatePlus fa fa-plus"></i>

				</div>
			</td>

			<!-- Required to Pass -->
			<td class="text-center stay-one-line">

				<input type="checkbox"
					ng-model="item.Required"
					ng-disabled="isRequiredCheckboxDisabled(item)"/>
			</td>

			<!-- Master/slave relationship: -->
			<td class="text-center stay-one-line">
				<select class="extend-dropdown"
					ng-model="item.master.ID"
					ng-change="onChangeItemMaster(item)">
					<option ng-value=""
						translate="assessment.Assignments.NoRaise"></option>
					<option value="{{it.ID}}"
						ng-selected="{{item.master.ID === it.ID}}"
						ng-if="itemIsEligibleAsMaster(it, item)"
						ng-repeat="it in model.Items">{{it.Name}}</option>
				</select>

			</td>

			<!-- Delete Group -->
			<td>
				<button class="fa fa-trash-o"
					uib-tooltip="{{'assessment.Functions.DeleteGroup' | translate}}"
					ng-click="deleteAssessmentItem(item)"></button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">
				<span translate="assessment.Assignments.Total" />: {{totalWeight}} %
				<span ng-if="totalWeight < 100">
					(<span translate="assessment.Assignments.Remaining" /> {{100 - totalWeight}}%)
				</span>
				<span ng-if="totalWeight > 100" style="color:red" translate="assessment.Assignments.MoreThan100Percent"></span>
			</td>
		</tr>
	</tfoot>
</table>