.course-assessment-global {

	.between-buttons {
		margin:5px;
	}

	.stay-one-line {
		white-space: nowrap;
	}

	.editing-toolbar {
		margin-top:0px;
		margin-bottom:10px;
	}

	.smallTextInput {
		width: 35px;
		text-align: right;
	}

	.add-item-tooltip:hover,
	.fa:hover {
		cursor:pointer;
	}

	.assessment-description-box {
		/* To ensure the flag has space on the left */
		padding-left: 25px;
	}

	.empty-assessment {
		margin-top:30px;
	}

	.assessmentGenList {
		margin:0px;
	}

	.assessmentGenList li {
		margin-bottom:5px;
	}

	.extend-dropdown {
		width:160px;
	}

	.pie {
		marginTop: 10px;
		margin-bottom: 20px;
	}
}
