<div class="row">
	<div class="col-xs-12">
		<div ng-show="loadingData" class="Coursedetails-loading-data">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>

		<div class="course-assessment-global" ng-hide="loadingData">
			<div class="Coursedetails-command-area">
				<div ng-show="isTeacher">
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right ">
								<button type="button"
									ng-hide="editMode"
									class="btn btn-primary"
									ng-click="toggleEdit()">
									<span translate="Edit" />
									<i class="fa fa-pencil"></i>
								</button>
								<button type="button"
									class="btn btn-success"
									ng-show="editMode"
									ng-click="toggleEdit()">
									<span translate="Save" />
								</button>
								<button class="btn btn-default"
									ng-show="editMode"
									ng-click="cancelEdit()">
									<span translate="Cancel" />
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Display area: -->
			<uib-alert type="info"
				class="empty-assessment"
				ng-hide="model.Items.length > 0 || editMode">
				<span class="fa fa-info-circle"></span> {{'assessment.Messages.EmptyAssessment' | translate}}
			</uib-alert>

			<div class="Coursedetails-megabox clearfix"
				ng-hide="editMode || !generatedStrings || generatedStrings.length === 0">
				<div class="col-sm-12 col-md-8">
					<ul class="assessmentGenList">
						<li ng-repeat="str in generatedStrings">
							<span ng-bind-html="str" />
						</li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-4">
					<canvas id="pie"
						class="chart chart-pie pie"
						chart-data="graphData"
						chart-labels="graphLabels"
						chart-options="graphOptions">
					</canvas>
				</div>
			</div>
			<div class="Coursedetails-megabox"
				ng-hide="editMode || ( model.AssessmentDescription.length === 0 && model.AssessmentDescriptionEN.length === 0)">
				<div class="row">
					<div class="col-xs-6"
						ng-show="model.AssessmentDescription.length > 0">
						<img ng-src="assets/img/flags/is.png"
							class="pull-left"
							alt="Flag" />
						<div
							ta-bind
							class="assessment-description-box"
							ng-model="model.AssessmentDescription" />
						</div>
						<div class="col-xs-6"
							ng-show="model.AssessmentDescriptionEN.length > 0">
							<img ng-src="assets/img/flags/en.png"
								class="pull-left"
								alt="Flag" />
							<div
								ta-bind
								class="assessment-description-box"
								ng-model="model.AssessmentDescriptionEN" />
							</div>
						</div>
					</div>

					<!-- Edit area: -->

					<div class="clearfix">
						<div ng-show="model.Items.length > 0" >
							<div ng-include src="'courseinstance/details/components/assessments/assignment-group-table.html'"></div>
						</div>
						<div ng-show="editMode"
							class="editing-toolbar pull-right">
							<button ng-click="addAssignmentGroup()"
								class="btn btn-primary add-item-tooltip templatePlus">
								<i class="fa fa-plus"></i>
								<span translate="assessment.Functions.AddNewGroup" />
							</button>
						</div>
					</div>
					<div class="Coursedetails-megabox clearfix"
						ng-show="editMode">
						<h4>{{'assessment.Messages.OtherRules' | translate}}</h4>
						<dual-lang-editor
							is="model.AssessmentDescription"
							en="model.AssessmentDescriptionEN">
						</dual-lang-editor>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
