<div ng-if="!fetchingData">
	<!--
	This would be an optional method to display the list of members,
	albeit not as user friendly as displaying student cards (see below).
	<table class="table">
		<thead>
			<tr>
				<th translate="Name"></th>
				<th translate="SSN"></th>
				<th translate="Delete"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{currentUser.Name}}</td>
				<td>{{currentUser.SSN}}</td>
				<td>
					<a ng-click="removeStudentFromGroup(currentUser)">
						<i class="fa fa-trash"></i>
					</a>
				</td>
			</tr>
			<tr ng-repeat="m in groupMembersList" ng-if="m.Name!=currentUser.Name && m.SSN != currentUser.SSN">
				<td>{{m.Name}}</td>
				<td>{{m.SSN}}</td>
				<td>
					<a ng-click="removeStudentFromGroup(m)">
						<i class="fa fa-trash"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	-->
	<div class="StudentCard-container">
		<student-card ng-repeat="m in groupMembersList"
			student="m"
			on-remove="removeStudentFromGroup(member)"
			allow-edit="true">
		</student-card>

		<div class="student-card">
			<div class="StudentCardAdd StudentCard-border"
				ng-if="assignment.MaxStudentsInGroup > 1 && groupMembersList.length < assignment.MaxStudentsInGroup"
				ng-click="onAddGroupMember()" id="details-add-group">
				<i class="fa fa-plus fa-3x" />
			</div>
		</div>

		<!-- empty cards that keep the flow look better-->
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
		<div class="student-card"><div class="StudentCard-empty"></div></div>
	</div>
</div>

<div ng-if="groupID !== 0">
	<uib-alert type="info">
		<div translate="assignments.GroupDiscussionBoard" />
	</uib-alert>
	<comments resourcetype="'assignmentgroup'" resourceid="groupID" />
</div>
