<div class="container-fluid course-students">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover table-condensed cold-md-12">
				<thead>
					<tr class="mouseHover"
						table-sort="Student.Name">
						<th></th>
						<th data-columnName="Student.Name">
							{{'students.Name' | translate}}
						</th>
						<th data-columnName="Student.Email"
							ng-show="table.columns[0].visible">
							{{'students.Email' | translate}}
						</th>
						<th data-columnName="Student.SSN"
							ng-show="table.columns[1].visible">
							{{'students.SSN' | translate}}
						</th>
						<th data-columnName="Student.Address"
							ng-show="table.columns[2].visible">
							{{'students.Address' | translate}}
						</th>
						<th data-columnName="Student.Postal"
							ng-show="table.columns[3].visible">
							{{'students.Postal' | translate}}
						</th>
						<th data-columnName="Student.Mobile"
							ng-show="table.columns[4].visible">
							{{'students.Mobile' | translate}}
						</th>
						<th data-columnName="Student.Department"
							ng-show="table.columns[5].visible">
							{{ 'students.Department' | translate }}
						</th>
						<th data-columnName="Student.Major"
							ng-show="table.columns[6].visible">
							{{ 'students.Major' | translate }}
						</th>
						<th data-columnName="Student.Group"
							ng-show="table.columns[7].visible">
							{{ 'Group' | translate }}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in students | orderByLocale:table.predicate:reverse">
						<td class="image-column grow">
							<centris-person-image ssn="student.Student.SSN">
							</centris-person-image>
						</td>
						<td>
							<a href="#/persons/{{student.Student.SSN }}">
								{{ student.Student.Name }}
							</a>
						</td>
						<td ng-show="table.columns[0].visible">
							<a href="mailto:{{student.Student.Email }}">
								{{ student.Student.Email }}
							</a>
						</td>
						<td ng-show="table.columns[1].visible">
							{{ student.Student.SSN }}
						</td>
						<td ng-show="table.columns[2].visible">
							{{ student.Student.Address }}
						</td>
						<td ng-show="table.columns[3].visible">
							{{ student.Student.Postal }}
						</td>
						<td ng-show="table.columns[4].visible">
							{{ student.Student.MobilePhone }}
						</td>
						<td ng-show="table.columns[5].visible">
							{{ student.Student.Department | centrisTranslate: "Name" : "NameEN" }}
						</td>
						<td ng-show="table.columns[6].visible">
							{{ student.Student.Major | centrisTranslate: "Name" : "NameEN" }}
						</td>
						<td ng-show="table.columns[7].visible">
							{{ student.Group.Name }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
