.ace_editor  {
  height : 400px;
  border-radius: 6px;
}
.ace-container{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.ace_editorView  {
  height : 600px;
  border-radius: 6px;
}
.ace-shadow {
	-webkit-box-shadow: 10px 9px 61px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 9px 61px -18px rgba(0,0,0,0.75);
	box-shadow: 10px 9px 61px -18px rgba(0,0,0,0.75);
	border-radius: 6px;
}

body {
	padding-top: 70px; 
}

div.filename h4 {
	margin-top: 0; 
}

div.theme {
	margin-left: 14px; 
}

nav.navbar-default.navbar-fixed-top {
	background: rgb(191, 42, 29); 
	border-bottom: 0; 
	backface-visibility: hidden;
}

nav.navbar-default.navbar-fixed-top a, nav.navbar-default.navbar-fixed-top a:hover, nav.navbar-default.navbar-fixed-top a:focus {
	color: white; 
	outline: 0; 
}

nav.navbar-default.navbar-fixed-top a, nav.navbar-default.navbar-fixed-top label {
	color: white; 
}

.navbar-form.edit-mode input {
	outline: 0;
	box-shadow: none;
	border: 0; 
}

.mooshak-report-class-container {
	margin-top: 30px;
	margin-bottom: 20px;
}
.mooshak-report-inner{
	overflow:auto; height:400px;
	padding-left:10px;
	padding-right:10px;
}
.align-right-most {
	position: absolute;
	right:10px;
}
.align-right-next {
	position: absolute;
	right:150px;
	width:70px;
}
.bottom-controls {
	margin:5px 5px;
}
.ace-gutter-decoration{
border-radius: 0px 11px 11px 0px / 0px 11px 11px 0px;
/* border-color: #e8e8e8; */
border-color: #7272c9;
border-width:0px;
border-style: none;
border-right-style:solid;
border-right-width:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-top-style:solid;
border-top-width:1px;
}
.ace-comment  {
	width:300px;
	left:620px;
	border-radius: 4px;
	position: absolute;
	z-index:2;
}
.ace-comment-text  {
	border-radius: 6px;
	border-style: solid;
	border-width:1px;
	border-color: #7272c9;
}
.tooltip-button span.glyphicon {
	font-size: 20px;
	color:white;
	border-color:gray;
	border-style:solid;
	border-left-color:#e6e6e6;
	border-top-color:#e6e6e6;
	border-width:1px;
	padding: 4px;
}
.tooltip-button-hide {
	font-size: 20px;
	border-style:solid;
	border-width:1px;
	padding: 4px;
	opacity:0;
}
.tooltip-button-down span.glyphicon {
	font-size: 20px;
	color:white;
	border-color:gray;
	border-style:solid;
	border-right-color:#e6e6e6;
	border-bottom-color:#e6e6e6;
	border-width:1px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom:3px;
}
.comment-button span.glyphicon {
	font-size: 20px;
	color:red;
}
