.SidebarBackdrop {
	background: fade(#000, 75%);
	cursor: pointer;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	transition: opacity .3s, visibility 0s .3s;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 105;

	&.is-open {
		opacity: 1;
		transition-delay: 0s;
		visibility: visible;
	}

	@media (min-width: @screen-sm-min) {
		display: none;
	}
}
