@import (reference) "src/_variables";
@import (reference) "src/_mixins";

@import "_backdrop";
@import "_util";

.Sidebar {
	background: @body-bg;
	height: 100%;
	list-style-type: none;
	overflow-y: auto;
	padding: @grid-gutter-width / 2;
	position: absolute;
	right: 100%;
	top: 0;
	transform: translate(0, 0);
	transition: transform .3s;
	min-width: @Page-paddingLeft;
	z-index: 110;

	&.is-open {
		transform: translateX(100%);
		transition-delay: .1s;
	}

	@media (min-width: @screen-sm-min) {
		background: transparent;
		display: block;
		height: calc(100% ~"-" @Page-paddingTop);
		left: 0;
		min-width: 0;
		position: fixed;
		right: auto;
		top: @Page-paddingTop;
		transform: none;
		transition: none;
		width: @Page-paddingLeft + @grid-gutter-width / 2;
	}

	&-descriptor {
		background: transparent;
		color: #777;
		font-size: 1.1em;
		font-variant: small-caps;
		padding: 15px 0 4px;
		text-transform: lowercase;

		.trackingToLetterSpacing(100);

		&:first-of-type {
			padding-top: 0;
		}
	}

	&-item {
		margin-bottom: 1px;
	}

	&-list {
		display: none;
		list-style-type: none;
		padding: 15px 0;
	}

	&-item.is-open &-list {
		display: block;
	}

	&-groupIcon {
		background: #ccc;
		color: #fff;
		height: 100%;
		font-size: 1.2em;
		line-height: 51px !important;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 45px;
		transition: background .25s;
	}

	&-item:hover &-groupIcon,
	&-item.is-open &-groupIcon {
		background: @centris-red;
	}

	&-group {
		background: #fff;
		border-bottom: none;
		display: block;
		font-size: 16px;
		font-weight: 100;
		padding: 15px 60px 15px 20px;
		position: relative;
		transition: color .25s;
		vertical-align: middle;

		&,
		&:hover,
		&:focus {
			color: #787878;
			text-decoration: none;
		}
	}

	&-group:hover {
		color: @centris-red;
	}

	// The highlight line
	&-group::before {
		background: #ccc;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 2px;
	}

	&-item.is-open &-group {
		box-shadow: 0 1px 4px 0 fade(#000, 14%);
		color: @centris-red;

		&::before {
			background: @centris-red;
		}
	}
}

/* TODO: ensure these classes conform to our CSS rules! */
.sidebar-blue {
	background-color: @sidebarBlue;
}

.sidebar-orange {
	background-color: @sidebarOrange;
}

.sidebar-yellow {
	background-color: @sidebarYellow;
}

.sidebar-green {
	background-color: @sidebarGreen;
}

.sidebar-list-icons {
	margin-right: 7px;
}

.all-courses {
	background-color: #eaeaea;
}
