<div ng-controller="SidebarController" ng-show="showSidebar">
	<div class="SidebarBackdrop "
		ng-class="{'is-open': isOpen}"
		ng-click="toggleVisibility()"></div>
	<ul class="Sidebar"
		id="IntroHomeStep3"
		ng-class="{'is-open': isOpen}"
		data-collapse-nav
		data-slim-scroll
		data-highlight-active>

		<li class="Sidebar-item" id="IntroHomeStep2">
			<a class="Sidebar-group" href="#/myCourses">
				<i class="Sidebar-groupIcon fa fa-info-circle"><span class="icon-bg sidebar-blue"></span></i>
				<span translate="Sidebar.MyCourses">Mínir áfangar</span>
			</a>
			<ul class="Sidebar-list">

				<li class="Sidebar-listItem Sidebar-descriptor" ng-show="teacherAndStudent">
					<span translate="Sidebar.StudentIn">Nemandi í:</span>
				</li>
				<li class="Sidebar-listItem myCourses" ng-repeat="course in courses.Studying">
					<a class="Pill" ng-href="#/courses/{{course.ID + currentStudentSubState}} ">
						<span>{{course | centrisTranslate : "Name" : "NameEN"}}</span>
					</a>
				</li>
				<li class="Sidebar-listItem Sidebar-descriptor" ng-show="teacherAndStudent">
					<span translate="Sidebar.TeacherIn">Kennari í:</span>
				</li>
				<li class="Sidebar-listItem myCourses" ng-repeat="course in courses.Teaching">
					<a class="Pill" ng-href="#/courses/{{course.ID + currentTeacherSubState}}">
						<span>{{course | centrisTranslate : "Name" : "NameEN"}}</span>
					</a>
				</li>
				<li class="Sidebar-listItem all-courses">
					<a class="Pill Pill--emphasis" ng-href="#/courses">
						<!-- <i class="fa fa-list-ul sidebar-list-icons"></i> -->
						<span translate="Sidebar.AllCourses">Allir áfangar</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="Sidebar-item">
			<a class="Sidebar-group" href="#/myEducation">
				<i class="Sidebar-groupIcon fa fa-graduation-cap"><span class="icon-bg bg-orange"></span></i>
				<span translate="Sidebar.Studies">Námið</span>
			</a>
			<ul class="Sidebar-list">
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/schedule">
						<i class="fa fa-fw fa-calendar sidebar-list-icons"></i>
						<span translate="Sidebar.Schedule">Stundaskrá</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/assignments">
						<i class="fa fa-fw fa-bar-chart sidebar-list-icons"></i>
						<span translate="Sidebar.Assignments">Verkefni</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/finalexams/userexams">
						<i class="fa fa-fw fa-table sidebar-list-icons"></i>
						<span translate="Sidebar.FinalExams">Próftafla</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/registration">
						<i class="fa fa-fw fa-calendar sidebar-list-icons"></i>
						<span translate="Sidebar.Registration" />
					</a>
				</li>
				<li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/evaluations">
						<i class="fa fa-fw fa-calendar sidebar-list-icons"></i>
						<span translate="Sidebar.Assessment" />
					</a>
				</li>
			</ul>
		</li>
		<li class="Sidebar-item">
			<a class="Sidebar-group" href="#/mySchool">
				<i class="Sidebar-groupIcon fa fa-home"><span class="icon-bg sidebar-yellow"></span></i>
				<span translate="Sidebar.TheSchool">Skólinn</span>
			</a>
			<ul class="Sidebar-list">
				<!--This has not been implemented. Button commented out-->
				<!--<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#">
						<i class="fa fa-fw fa-bullhorn sidebar-list-icons"></i>
						<span translate="Sidebar.Announcements">Tilkynningar</span>
					</a>
				</li>-->
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="http://www.ru.is" target="_blank">
						<i class="fa fa-fw fa-globe sidebar-list-icons"></i>
						<span translate="Sidebar.OuterWeb">Ytri vefur</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/rooms">
						<i class="fa fa-fw fa-building-o sidebar-list-icons"></i>
						<span translate="Sidebar.ClassRooms">Kennslustofur</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="http://www.ru.is/bokasafn" target="_blank">
						<i class="fa fa-fw fa-university sidebar-list-icons"></i>
						<span translate="Sidebar.Library">Bókasafn</span>
					</a>
				</li>
			</ul>
		</li>
		<li class="Sidebar-item">
			<a class="Sidebar-group" href="#/comingsoon">
				<i class="Sidebar-groupIcon fa fa-cloud"><span class="icon-bg sidebar-green"></span></i>
				<span translate="Sidebar.MyData">Gögnin mín</span>
			</a>
			<ul class="Sidebar-list sub-nav">
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/comingsoon">
						<i class="fa fa-fw fa-folder-o sidebar-list-icons"></i>
						<span translate="Sidebar.MyDrive">Mitt drif</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="https://mail.ru.is/owa" target="_blank">
						<i class="fa fa-fw fa-envelope-o sidebar-list-icons"></i>
						<span translate="Sidebar.Email">Tölvupóstur</span>
					</a>
				</li>
				<li class="Sidebar-listItem">
					<a class="Pill" ng-href="#/profile">
						<i class="fa fa-fw fa-user sidebar-list-icons"></i>
						<span translate="Sidebar.MyProfile">Mínar upplýsingar</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
