<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

	<form novalidate class="form-horizontal">
		<div class="form-group">
			<label for="webNotifications" class="col-sm-12 col-md-6 col-lg-4 control-label">
				Á vefnum:
			</label>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<notification-frequency
					id="webNotifications"
					ng-model="settings.WebNotificationFrequency">
				</notification-frequency>
			</div>
		</div>
		<div class="form-group">
			<label for="emailNotifications" class="col-sm-12 col-md-6 col-lg-4 control-label">
				Í tölvupósti:
			</label>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<notification-frequency
					id="emailNotifications"
					ng-model="settings.MailNotificationFrequency">
				</notification-frequency>
			</div>
		</div>
		<div class="form-group">
			<label for="appNotifications" class="col-sm-12 col-md-6 col-lg-4 control-label">
				Í símann (í Centris appið):
			</label>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<notification-frequency
					id="appNotifications"
					ng-model="settings.AppNotificationFrequency">
				</notification-frequency>
			</div>
		</div>
	</form>

	<button class="pull-left btn btn-primary btn-save"
		    ng-click="onUpdateNotifications(settings)"
		    translate="ProfilePage.SaveChanges">  </button>
</div>