<centris-page-header page-title="allassignments.Title">
</centris-page-header>

<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowMyAssignmentsIntro"
	 ng-intro-autostart="false">
</div>

<div class="all-assignments-container" id="assignment-helper-step1">
	<div class="col-12 row" id="assignment-helper-step2">
		<div class="sem-drop-down col-md-4">
			<centris-semester-dropdown 
				ng-model='semester' 
				multiple-select='false' 
				on-update='updateSemester()' 
				allow-clear='true' 
				json-sem-placeholder="{{ 'allassignments.Semester_Default' | translate }}" 
				default-semester='true'>
			</centris-semester-dropdown>
		</div>
	</div>
	<div class="col-sm-12 col-md-12">
		<div ng-show="loadingData">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>

		<div ng-show="!loadingData && assignmentCount === 0">
			<uib-alert type="info">
				<span translate="allassignments.No_Assignments" />
			</uib-alert>
		</div>

		<table class="table table-hover" ng-hide="loadingData">
			<thead ng-hide="assignmentCount === 0">
				<tr>
					<th></th>
					<th class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Name" ng-click="alternate(0, 'Title')">
						</span>
						<i ng-show="altArr[0].show && altArr[0].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[0].show && !altArr[0].arrow" class="fa fa-chevron-up"></i>
					</th>
					<th class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Grade" ng-click="alternate(1, 'Grade')">
						</span>
						<i ng-show="altArr[1].show && altArr[1].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[1].show && !altArr[1].arrow" class="fa fa-chevron-up"></i>
					</th>
					<th class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Weight" ng-click="alternate(2, 'Weight')">
						</span>
						<i ng-show="altArr[2].show && altArr[2].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[2].show && !altArr[2].arrow" class="fa fa-chevron-up"></i>
					</th>
					<th class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Rank" ng-click="alternate(3, 'Rank')">
						</span>
						<i ng-show="altArr[3].show && altArr[3].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[3].show && !altArr[3].arrow" class="fa fa-chevron-up"></i>
					</th>
					<th class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Course" ng-click="alternate(4, 'Course.Name')">
						</span>
						<i ng-show="altArr[4].show && altArr[4].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[4].show && !altArr[4].arrow" class="fa fa-chevron-up"></i>
					</th>
					<th id="assignment-helper-step3" class="noselect">
						<span class="clickable" translate="allassignments.Table_Ass_Deadline" ng-click="alternate(5, 'Deadline')">

						</span>
						<i ng-show="altArr[5].show && altArr[5].arrow" class="fa fa-chevron-down"></i>
						<i ng-show="altArr[5].show && !altArr[5].arrow" class="fa fa-chevron-up"></i>
					</th>

				</tr>
			</thead>
			<tbody ng-if="assignmentCount !== 0">
				<tr ng-click="showComments = !showComments; openComment = !openComment" ng-repeat-start="assignment in assignments"
				ng-class="{'assignment-handed-in-tab': assignment.HandinDate !== null,
									'assignment-past-deadline-tab':assignment.HandinDate === null && daysUntilDeadline(assignment) < 0,
										'assignment-danger': assignment.HandinDate === null && daysUntilDeadline(assignment) >= 0}">
					<td>
						<span ng-show="assignment.Comments">
							<i ng-show"true" class="fa fa-comment-o"></i>
							<i ng-show="openComment" class="fa fa-angle-down"></i>
							<i ng-show="!openComment" class="fa fa-angle-right"></i>
						</span>
					</td>
					<td>
						<span ng-if="assignment.HandinDate !== null" class="fa fa-check assignment-handed-in atoolTip" title="{{'allassignments.Tooltip_Checkmark' | translate}}"></span>
						<span ng-if="assignment.HandinDate === null && daysUntilDeadline(assignment) < 0" class="fa fa-exclamation-triangle assignment-past-deadline atoolTip" title="{{'allassignments.Tooltip_Danger' | translate}}"></span>
						<span ng-if="assignment.HandinDate === null && daysUntilDeadline(assignment) >= 0" class="fa fa-circle assignment-danger-level-0 atoolTip" title="{{'allassignments.Tooltip_Circle' | translate}}"></span>
						<a href="#/courses/{{assignment.Course.ID}}/assignments/{{assignment.AssignmentID}}/description">
							<span>{{assignment.Title}}</span>
						</a>
					</td>
					<td>
						<span>{{assignment.Grade}}</span>
					</td>
					<td>
						<span>{{assignment.Weight}}</span>
						<span ng-if="assignment.Weight > 0">%</span>
					</td>
					<td>
						<span>{{assignment.Rank}}</span>
					</td>
					<td>
							<a href="#/courses/{{assignment.Course.ID}}">
						<span>
							{{assignment.Course | centrisTranslate: "Name" : "NameEN"}}
						</span>
					</td>
					<td>
						<span uib-tooltip="{{assignment.Deadline | centrisDateTime }}">
							{{assignment.Deadline | centrisDateNoYear }}
						</span>
					</td>

				</tr>
				<tr class="well well-lg" ng-show="showComments && assignment.Comments" ng-repeat-end>
					<td class="assingm-comment" colspan="7">
						<div class="assingm-comment row">
							<div class="col-md-1"></div>
							<div class="col-md-10">
								<span>{{ assignment.Comments }}</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
