<!DOCTYPE html>
<html ng-app="aceApp">
<head>
	<meta charset="utf-8" />
	<title>Centris CodeViewer</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/angular-toastr/angular-toastr.min.css" />
	<link rel="stylesheet" href="../../styles/vendor.css">
	<link rel="stylesheet" type="text/css" href="../src/styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="../src/styles/style.css"/>
</head>
<body ng-controller="CodeReview">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		<div class="navbar-header">
				<a class="navbar-brand"
				tooltip-placement="bottom" uib-tooltip="Click here to download the file {{file.name}}" 
				href="{{values.attachmentLink}}" target="_blank">{{file.name}}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right edit-mode">
				
				<div ng-show="!showHover" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Show comments when mouse moves over a line">
						<a class="tooltip-button-down"  type="button" href="" ng-click="onShowHover()">
							<span class="glyphicon glyphicon-pushpin"></span>
						</a>
					</span>
				</div>
				<div ng-show="showHover" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Show comments only when you click a line">
						<a class="tooltip-button"  href="" ng-click="onShowHover()">
							<span class="glyphicon glyphicon-pushpin"></span>
						</a>
					</span>
				</div>
				<div ng-show="showInvisible" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Hide whitespace">
						<a class="tooltip-button-down"  type="button" href="" ng-click="onShowInvisible()">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
					</span>
				</div>
				<div ng-show="!showInvisible" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Show whitespace">
						<a class="tooltip-button"  href="" ng-click="onShowInvisible()">
							<span class="glyphicon glyphicon-eye-open"></span>
						</a>
					</span>
				</div>
				<div ng-show="wrap" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Do not wrapping lines">
						<a class="tooltip-button-down"  type="button" href="" ng-click="onWrap()">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</span>
				</div>
				<div ng-show="!wrap" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Wrap lines">
						<a class="tooltip-button"  href="" ng-click="onWrap()">
							<span class="glyphicon glyphicon-chevron-down"></span>
						</a>
					</span>
				</div>
				<div ng-show="!editingComment && isTeacher" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Add or edit comments">
						<a class="tooltip-button"  href="" ng-click="onEditingComment()">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</span>
				</div>
				<div ng-show="editingComment" class="form-group">
					<span tooltip-placement="bottom" uib-tooltip="Quit editing comments (without saving)">
						<a class="tooltip-button-down"  type="button" href="" ng-click="onEditingComment()">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</span>
				</div>
				<div ng-show="editingComment" class="form-group">
					<span class="tooltip-button" uib-tooltip="Save all comments" tooltip-placement="bottom">
						<a href="" ng-click="onBtnCommentSave()">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</a>
					</span>
				</div>
				<div ng-show="!editingComment" class="form-group">
					<span class="tooltip-button-hide"><!-- adding this button too keep spaces in order -->
						<span>
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</span>
					</span>
				</div>
				<div class="form-group theme">
					<label for="theme">Theme:</label>
					<select class="form-control" ng-model="theme"
							uib-tooltip="Select your preferred theme" tooltip-placement="bottom"
											ng-change="onThemeSelectChange()"
											ng-options="item for item in themes" id="theme">
					</select>
				</div>
			</form>
		</div>
	</nav>
	<div>
		<div ng-show="ShowAceCommentInput" class="ace-comment" style="{{CommentTop}}">
			<div class="ace-comment-text">
				<div id="aceInputId" ng-model="aceCommentInput" ui-ace="{onLoad : aceCommentInputLoaded}"></div>
			</div>
			<span uib-tooltip="Delete comment for this line" tooltip-placement="bottom" ng-show="CommentExistedBefore" class="pull-right comment-button">
				<button type="button" class="btn btn-default" ng-click="onBtnCommentDelete()">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</span>
			<span uib-tooltip="Cancel"
				tooltip-placement="bottom"
				class="pull-right comment-button">
				<button type="button"
					class="btn btn-default"
					ng-click="onBtnCommentCancel()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
			<span uib-tooltip="Set this comment for this line"
				tooltip-placement="bottom"
				class="pull-right comment-button">
				<button type="button"
					class="btn btn-default"
					ng-click="onBtnCommentUse()()">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</span>
		</div>
		<div ng-show="ShowAceCommentDisplay"
			class="ace-comment ace-comment-text"
			style="{{CommentTop}}">
			<div ng-model="aceCommentDisplay"
				ui-ace="{onLoad : aceCommentDisplayLoaded}">
			</div>
		</div>
		<div class="ace-container">
			<div class="ace-shadow">
				<div id="ace-code-display"
					class="ace_editorView"
					ng-model="aceValue"
					ui-ace="{onLoad : aceLoaded}">
				</div>
			</div>
		</div>
	</div>
	<script src="../../src/vendor/angular/angular.min.js"></script>
	<script src="../../src/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="../../src/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../bower_components/angular-ui-ace/ui-ace.min.js"></script>
	<script src="../bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script src="../src/app.js"></script>
	<script src="../bower_components/angular-toastr/angular-toastr.tpls.min.js"></script>
	<script src="../src/common/CentrisAceResource.js"></script>
	<script src="../src/common/AceFactory.js"></script>
	<script src="../src/view/CodeReview.js"></script>
</body>
</html>