<div class="statusDiv"
	uib-tooltip-html="htmlString"
	tooltip-placement="top">
	<div class="topBar">
		<meter class="meterTop"
				low="0"
				optimum="0.01"
				high="0"
				value="{{handinCount/studentCount|number:2}}"
				class="examParticipation">
		</meter>
	</div>
	<div class="bottomBar">
		<meter class="meterBottom"
			low="0"
			optimum="0"
			high="0.01"
			value="{{gradedCount/studentCount|number:2}}"
			class="examParticipation">
		</meter>
	</div>
</div>