<a ui-sref="courseinstance.courseschedule( { courseInstanceID: event.Body.CourseInstanceID })">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon neutral pull-left">
			<i class="fa fa-desktop"></i>
		</div>
		<div>
			<div class="Dashboard-event-title">
				<b>{{event.Body | centrisTranslate: "CourseName" : "CourseNameEN" }}</b>
			</div>
			<div class="Dashboard-event-body" uib-tooltip="{{event.Body.Title}}">
				<div>
					<span class="time">
						{{event.Body.StartTime | centrisDateTimeNoYear}}
					</span>
					<span class="time">
						- {{event.Body.EndTime | centrisDate: "HH:mm"}}
					</span>
				</div>
				<div>
					<span>{{event.Body.Classroom}}</span>
				</div>
			</div>
		</div>
	</div>
</a>
