<a ui-sref="courseinstance.assignments.details({ courseInstanceID: event.Body.CourseInstanceID, assignmentID: event.ID })">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon pull-left"
			 ng-class="{'success' : event.Body.Handin, 'danger' : !event.Body.Handin}">
			<i class="fa fa-file-text icon"></i>
		</div>

		<div>
			<div class="Dashboard-event-title">
				<b>{{event.Body | centrisTranslate: "CourseName" : "CourseNameEN" }}</b>
			</div>
			<div class="Dashboard-event-body">
				<div>{{event.Body.Title}}</div>
				<div>
					<span translate="FrontPageFeed.Due"></span>
					<span>: </span>
					<span>
						{{event.Body.EndTime | centrisDateTimeNoYear}}
					</span>
				</div>
			</div>
		</div>
	</div>
</a>
