<a ng-href="#/evaluations/{{event.ID}}">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon neutral pull-left">
			<i class="fa fa-bar-chart-o"></i>
		</div>

		<div>
			<div class="Dashboard-event-title">
				<b translate="FrontPageFeed.TeacherEvaluationDeadline"></b>
			</div>
			<div class="Dashboard-event-body">
				<div>
					<span translate="FrontPageFeed.Begins"></span>
					<span>: </span>
					<span class="time">
						{{event.Body.StartTime | centrisDateTimeNoYear}}
					</span>
				</div>
				<div>
					<span translate="FrontPageFeed.Ends"></span>
					<span>: </span>
					<span class="time">
						{{event.Body.EndTime | centrisDateTimeNoYear}}
					</span>
				</div>
			</div>
		</div>
	</div>
</a>