<a ui-sref="finalexams()">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon neutral pull-left">
			<i class="fa fa-book"></i>
		</div>

		<div>
			<div class="Dashboard-event-title">
				<b>{{event.Body | centrisTranslate: "CourseName" : "CourseNameEN" }}</b>
			</div>

			<div class="Dashboard-event-body">
				<div>{{event.Body.ExamType === 1 ? "FrontPageFeed.FinalExam" : "FrontPageFeed.RetakeExam" | translate }}</div>
				<div>
					<span class="time">{{event.Body.StartTime | centrisDateTimeNoYear}}</span>
					<span class="time"> - {{event.Body.EndTime | centrisDate: "HH:mm"}}
					</span>
				</div>
			</div>
		</div>
	</div>
</a>
