<a ng-href="{{event.Body.ExternalLink}}" target="_blank">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon neutral pull-left">
			<i class="fa fa-users"></i>
		</div>

		<div>
			<div class="Dashboard-event-title"> 
				<b>{{event.Body.Title}}</b>
			</div>
			<div class="Dashboard-event-body">
				<div>
					<span translate="FrontPageFeed.Lecturer"></span>
					<span>: </span> 
					<span>{{event.Body.Speaker}}</span>
				</div>
				<div>
					<span translate="FrontPageFeed.Classroom"></span>
					<span>: </span>
					<span>{{event.Body.Classroom}}</span>
				</div>
				<span class="time">{{event.Body.StartTime | centrisDateTimeNoYear}}</span>
				<span class="time"> - {{event.Body.EndTime | centrisDate: "HH:mm"}}</span>
			</div>
		</div>
	</div>
</a>