<a ng-href="{{event.Body.ExternalLink}}" target="_blank">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon pull-left"
			ng-class="{'success' : event.Body.Registered, 'neutral' : !event.Body.Registered}">
			<i class="fa fa-flask"></i>
		</div>

		<div>
			<div class="Dashboard-event-title">
				<b>{{event.Body.Title}}</b>
			</div>
			<div class="Dashboard-event-body">
				<div>
					<span translate="FrontPageFeed.Registration"></span>
					<span>: </span>
					<span class="Dashboard-time-reg">
						{{event.Body.RegistrationStarts | centrisDateTimeNoYear}} - 
						{{event.Body.RegistrationEnds | centrisDate: 'HH:mm'}}
					</span>
				</div>
				<div>
					<span translate="FrontPageFeed.Begins"></span>
					{{event.Body.StartTime | centrisDateTimeNoYear}}
				</div>
			</div>
		</div>
	</div>
</a>