<a ng-href="{{event.Body.ExternalLink}}" target="_blank">
	<div class="Dashboard-event-wrapper">
		<div class="Dashboard-event-icon neutral pull-left">
			<i class="fa fa-cutlery"></i>
		</div>

		<div>
			<div class="Dashboard-event-title">
				<b>{{event.Body.Title}}</b>
			</div>
			<div class="Dashboard-event-body">
				<div>{{event.Body.StartTime | centrisDateNoYear}}</div>
				<div ng-bind-html="event.Body.Description" />
			</div>
		</div>
	</div>
</a>