@import (reference) "src/_variables";

/* TODO: SUIT this up!  */

.course-title {
	display: inline-block;
	margin-bottom: 10px;
}

.course-title-container {
	margin-bottom:10px;
	padding: 14px 15px;
	height: 52px;
	min-height: 33px;
	width: ~"calc(100% - 170px)";
}

.course-title-name {
	color: white;
	font-size: 13.5pt;
}

.front-page-header-bar {
	position: inherit;
	overflow: hidden;
	background-color: @centris-red;
	height: 52px;
	display: block;
	margin: -35px -15px 14px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.course-id {
	background-color: @centris-red-dark;
	color:white;
	height: 52px;
	width: 170px;
	padding: 16px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}



@media (max-width: @screen-xs-max) {
	.course-title-container {
		width: 100%;
	}
	.front-page-header-bar {
		height: 70px;
	}

	.course-id {
		height: 35px;
		top: 35px;
		width: 100%;
		padding: 8px 15px;
		margin-bottom:0px;
		text-align: left;
	}

	.course-title-name {
		padding: 6px;
		text-align: center;
	}

	.course-title-semester {
		display:none;
	}
}

.front-page-header-bar,
.front-page-header-bar:hover,
.front-page-header-bar:visited,
.front-page-header-bar:link,
.front-page-header-bar:active {
	text-decoration: none;
}
@media (max-width: @screen-sm-max) {
	.front-page-header-bar {
		cursor: pointer;
		&:hover {
			background-color: @centris-red-hover;
		}
	}
}
