<div class="courseinstance">

	<div class="front-page-header-bar" ng-click="reverseDropdown()">
		<div class="course-title-container course-title-name">
			<div class="course-title">{{courseInstance | centrisTranslate: "Name" : "NameEN"}}</div>

			<!-- medium and up screens only, begins -->
			<span class="show-small-down show-medium-up noselect">
				<span class="Titlebar-dropdown-currSelected">{{currentStateLangKey | translate}}</span>
				<div ui-view="sidebar" class="medium-drop-down"></div>
			</span>
			<!-- medium and up screens only, stops -->

		</div>
		<div class="stay-one-line course-title course-id">
			{{courseInstance.CourseID}} &nbsp;&nbsp; {{semester}}

			<!-- smallest screens only, begins -->
			<span class="show-x-small noselect">
				<span class="show-small-down Titlebar-dropdown-currSelected">{{currentStateLangKey | translate}}</span>
				<div ui-view="sidebar" class="small-drop-down"></div>
			</span>
			<!-- smallest screens only, stops -->
		</div>
	</div>

	<div ui-view id="courseinstancecontent">
		<study-plan-viewer>
		</study-plan-viewer>
	</div>
	<ng-include src=" 'courseinstance/home/components/sidebar/sidebar.html' "></ng-include>
</div>
