<comment ssn="comment.Thread.Author.SSN">
	<comment-header></comment-header>

	<comment-body></comment-body>

	<comment-footer>
		<comment-likes ng-click="like(comment, false)"></comment-likes>
		<span class="Comment-separator"
			ng-hide="forms.newReply === -1">·</span>
		<a class="CommentFooter-reply"
			ng-click="openReplyForm(comment)"
			ng-hide="forms.newReply === -1">
			{{'discussions.Reply' | translate}}
		</a>
	</comment-footer>

	<div class="Comment-replies" ng-transclude></div>
</comment>
