<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowRoomListIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="rooms.Title" id="aboutroomlist">
</centris-page-header>

<div class="room-list">
	<div ng-show="fetchingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div ng-show="allRooms.length === 0 && !fetchingData">
		<div class="row">
			<div class="col-md-12">
				<uib-alert type="info">
					{{'rooms.NoRooms' | translate}}
				</uib-alert>
			</div>
		</div>
	</div>

	<div ng-hide="allRooms.length === 0">
		<div ng-repeat="room in allRooms">
			<div class="col-md-4">
				<a href="#/rooms/{{room.ID}}">
					<div class="roomImage"
						centris-room-image
						ng-model="room.Name">
						<h3 class="roomName">{{ room.Name }}</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
