<div class="examtemplates">
	
	<div class="col-sm-9" ng-show="loadingData">
		<uib-alert type="info">
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div class="col-sm-9"
		ng-show="!loadingData"
		id="templateQuestionSpace">
		<div class="row col-sm-12">
			<h1 translate="onlineExamTemplates.CreateTemplate"
				ng-if="isEditing===false">
				Create online exam template
			</h1>
			<h1 translate="onlineExamTemplates.EditTemplate"
				ng-if="isEditing===true">
				Create online exam template
			</h1>
		</div>
		<div class="row col-sm-12 templateInfo">
			<form class="form-horizontal ">
				<div class="form-group" >
					<label for="templateTitle"
						class="col-lg-1 col-md-2 col-xs-3 control-label"
						translate="onlineExamTemplates.TempTitle">
						Template Title
					</label>
					<div class="col-lg-11 col-md-10 col-xs-9">
						<input type="text"
							ng-model="template.Title"
							class="form-control"
							ng-class="{errorGlowBox: validationFlagsForm.templateTitleMissing}"
							placeholder="{{ 'onlineExamTemplates.TempTitle' | translate }}"
							autofocus
							required
							centris-validate="onlineExamTemplates.TitleEmpty"
							validate-condition="validationFlagsForm.templateTitleMissing">
					</div>
				</div>
				<div class="form-group">
					<label for="tempDescription"
						class="col-lg-1 col-md-2 col-xs-3 control-label"
						translate="onlineExamTemplates.TempDescription">
						Description
					</label>
					<div class="col-lg-11 col-md-10 col-xs-9">
						<input id="tempDescription"
							type="text"
							ng-model="template.Description"
							class="form-control"
							placeholder="{{ 'onlineExamTemplates.TempDescription' | translate }}">
					</div>
				</div>
				<div class="checkbox">
					<label
						class="col-lg-offset-1 col-md-offset-2 col-xs-offset-3 control-label">
						<input type="checkbox"
							ng-model="template.RandomQuestionOrder"
							ng-true-value="true"
							ng-false-value="false"/>
						<span translate="onlineExamTemplates.RandomQuestions"/>
					</label>
				</div>
				<div class="checkbox">
					<label
						class="col-lg-offset-1 col-md-offset-2 col-xs-offset-3  control-label">
						<input type="checkbox"
							ng-model="template.RandomAnswersOrder"
							ng-true-value="true"
							ng-false-value="false"/>
						<span translate="onlineExamTemplates.RandomAnswers"/>
					</label>
				</div>
			</form>
		</div>
		<div class="row col-sm-12 dropArea">
			<div ui-on-Drop="onDrop($data, 0)"
				ng-show="!validationFlags.questionsMissing"
				ng-class="{templateQuestionDroppable: !validationFlagsForm.questionsMissing,
					templateQuestionDroppableError: validationFlagsForm.questionsMissing}">
				<p ng-show="!validationFlagsForm.questionsMissing"
					translate="onlineExamTemplates.Dropquestionhere">
					Drop question here</p>
				<p ng-show="validationFlagsForm.questionsMissing"
					translate="onlineExamTemplates.DropquestionhereError">
					You need at least one question for each template</p>
			</div>
		</div>
		<div class="row col-sm-12 allQuestions">
			<div ng-repeat="question in template.Questions">
				<div class="col-sm-12 wholeQuestion">
					<div ui-draggable="true" drag="{ operation: 'Move', questionIndex: $index } " ondrag="dragging(event)">
						<div class="row questionBoxAndSideButtons">
							<div class="col-sm-11 questionBox">
								<div ng-show="question.questionHidden"
									class="questionShort">
									<div class="questionLabel">
										<div class="questionType">
											<i class="fa fa-arrows-alt" ></i>
											{{$index+1}}. 
											<span ng-if="question.Type =='1'" translate="onlineExamTemplates.SingleChoice" />
											<span ng-if="question.Type =='2'" translate="onlineExamTemplates.MultiChoice" />
											<span ng-if="question.Type =='3'" translate="onlineExamTemplates.ShortText" />
											<span ng-if="question.Type =='4'" translate="onlineExamTemplates.Essay" />
										</div>
										<div class="questionWeight">
											{{question.Weight}}%
										</div>
									</div>
									<div class="questionTextHidden inline" ng-bind-html="question.Text">
									</div>
								</div>
								<div ng-show="!question.questionHidden"
									class="questionAnswers" >
									<div class="questionCombo">
										<div class="questionLabel">
											<div class="questionType" >
												<i class="fa fa-arrows-alt"></i>
												{{$index+1}}. 
												<span ng-if="question.Type =='1'" translate="onlineExamTemplates.SingleChoice" />
												<span ng-if="question.Type =='2'" translate="onlineExamTemplates.MultiChoice" />
												<span ng-if="question.Type =='3'" translate="onlineExamTemplates.ShortText" />
												<span ng-if="question.Type =='4'" translate="onlineExamTemplates.Essay" />
											</div>
											<div class="questionWeight" >
												<input type="number"
													uib-tooltip="{{ 'onlineExamTemplates.Weight' | translate }}"
													placeholder="0"
													min="0"
													max="100"
													step="5"
													focus-me="question.hasFocus"
													ng-model="question.Weight"
													centris-validate="onlineExamTemplates.WeightMissing"
													validate-condition="question.validationFlags.weightMissing">%
											</div>
										</div>
										<span class="questionTextMissingMessage"
											ng-show="question.validationFlags.questionsTextMissing"
											translate="onlineExamTemplates.TextEmptyErrorMsg">
											Question text can not be empty
										</span>
										<question-editor ng-model="question.Text"
											is-valid="question.validationFlags.questionsTextMissing">
										</question-editor>
									</div>

									<!-- Single choice question -->
									<div class="answersCombo" ng-if="question.Type =='1'">
										<div class="answerPile">
											<div>
												<i class="fa fa-plus"
													uib-tooltip="{{ 'onlineExamTemplates.AddAnswer' | translate}}"
													ng-click="addAnswerOptionToQuestion($index)">
												</i>
											</div>
											<ul class="templateList">
												<p class="questionCorrectMissingMessage"
													ng-show="question.validationFlags.questionCorrectMissing"
													translate="onlineExamTemplates.CorrectAnswerErrorMsg">
													Please choose the correct answer
												</p>
												<li ng-repeat="answer in question.Answers">
													<div class="answerOptions">
														<i class="fa fa-minus"
															uib-tooltip="{{ 'onlineExamTemplates.RemoveAnswer' | translate}}"
															ng-click="removeAnswerOptionFromQuestion($parent.$index, $index)">
														</i>
														<input type="radio"
															ng-model="answer.IsCorrect"
															name="questionAnswers{{$parent.$index}}"
															ng-value="true"
															ng-class="{errorGlowBox: question.validationFlags.questionCorrectMissing}"
															/>
														<input type="text"
															ondrop="return false;"
															placeholder="{{'onlineExamTemplates.Answer' | translate }} {{$index+1}}"
															ng-model="answer.Text"
															ng-class="{answer: !answer.validationFlags.questionAnswerTextMissing,
																	errorGlowBox: answer.validationFlags.questionAnswerTextMissing}"
															/>
														<span class="questionAnswerMissingMessage"
															ng-show="answer.validationFlags.questionAnswerTextMissing"
															translate="onlineExamTemplates.AnswerEmptyErrorMsg">
															Answer can not be empty
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>

									<!-- Multiple choice question -->
									<div class="answersCombo" ng-if="question.Type =='2'">
										<div class="answerPile">
											<div>
												<i class="fa fa-plus"
													uib-tooltip="{{ 'onlineExamTemplates.AddAnswer' | translate}}"
													ng-click="addAnswerOptionToQuestion($index)">
												</i>
											</div>
											<ul class="templateList">
												<p class="questionCorrectMissingMessage"
													ng-show="question.validationFlags.questionCorrectMissing"
													translate="onlineExamTemplates.CorrectAnswerErrorMsg">
													Please choose the correct answer
												</p>
												<li ng-repeat="answer in question.Answers">
													<div class="answerOptions">
														<i class="fa fa-minus"
															uib-tooltip="{{ 'onlineExamTemplates.RemoveAnswer' | translate}}"
															ng-click="removeAnswerOptionFromQuestion($parent.$index, $index)">
														</i>
														<input type="checkbox"
															ng-model="answer.IsCorrect"
															name="questionAnswers{{$parent.$index}}"
															ng-value="true"
															ng-class="{errorGlowBox: question.validationFlags.questionCorrectMissing}"
															/>
														<input type="text"
															ondrop="return false;"
															placeholder="{{'onlineExamTemplates.Answer' | translate }} {{$index+1}}"
															ng-model="answer.Text"
															ng-class="{answer: !answer.validationFlags.questionAnswerTextMissing,
																	errorGlowBox: answer.validationFlags.questionAnswerTextMissing}"
															/>
														<span class="questionAnswerMissingMessage"
															ng-show="answer.validationFlags.questionAnswerTextMissing"
															translate="onlineExamTemplates.MChoiceAnswerErrorMsg">
															Please choose at least one correct answer
														</span>
													</div>
												</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div class="col-sm-1 sideButtons">
								<div class="sideButtons">
									<div class="sideButton">
										<i uib-tooltip="{{ 'onlineExamTemplates.Compress' | translate }}"
											class="fa fa-compress"
											ng-show="!question.questionHidden"
											ng-click="toggleShow(question)">
										</i>
										<i uib-tooltip="{{ 'onlineExamTemplates.Expand' | translate }}"
											class="fa fa-expand"
											ng-show="question.questionHidden"
											ng-click="toggleShow(question)">
										</i>
									</div>
									<div class="sideButton">
										<i uib-tooltip="{{ 'onlineExamTemplates.Delete' | translate }}"
											class="fa fa-trash-o"
											ng-click="deleteQuestion($index)">
										</i>
									</div>
								</div>
							</div>
						</div>
						<div class="row dropBOX">
							<div
								class="templateQuestionDroppable"
								ui-on-Drop="onDrop($data, {{$index+1}})">
								<p translate="onlineExamTemplates.Dropquestionhere">
								Drop question here
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3"
		id="templateQuestionBarOuter">
		<div id="templateQuestionBarInner">
			<div class="row">
				<div class="col-sm-8" style="padding-left: 0; padding-right: 0;">
					<div class="questionSideBarHeader"
						uib-tooltip="{{ 'onlineExamTemplates.DragQuestion' | translate }}">
						{{ 'onlineExamTemplates.Questions' | translate }}
					</div>
				</div>
				<ul class="col-sm-8 rightList templateList" >
					<li ui-draggable="true" ondrag="dragging(event)"
						drag="{ operation: 'Create', questionType: 'SingleChoice' }"
						ng-click="addOnClick('SingleChoice')">
						<div class="questionTypeSideBar">
							<div class="fa fa-dot-circle-o sidecon"></div>
							<div>{{ 'onlineExamTemplates.SingleChoice' | translate }}</div>
						</div>
					</li>
					<li ui-draggable="true"ondrag="dragging(event)"
						drag="{ operation: 'Create', questionType: 'MultipleChoice' }"
						ng-click="addOnClick('MultipleChoice')">
						<div class="questionTypeSideBar">
							<div class="fa fa-check-square-o sidecon"></div>
							<div>{{ 'onlineExamTemplates.MultiChoice' | translate }}</div>
						</div>
					</li>
					<li ui-draggable="true" ondrag="dragging(event)"
						drag="{ operation: 'Create', questionType: 'ShortText' }"
						ng-click="addOnClick('ShortText')">
						<div class="questionTypeSideBar">
							<div class="fa fa-file-o sidecon"></div>
							<div>{{ 'onlineExamTemplates.ShortText' | translate }}</div>
						</div>
					</li>
					<li ui-draggable="true" ondrag="dragging(event)"
						drag="{ operation: 'Create', questionType: 'Essay' }"
						ng-click="addOnClick('Essay')">
						<div class="questionTypeSideBar">
							<div class="fa fa-file-text-o sidecon"></div>
							<div>{{ 'onlineExamTemplates.Essay' | translate }}</div>
						</div>
					</li>
					<li>
						<div class="col-sm-5 questionTypeSideBar sidecon-sidebutton"
							ng-click="expandAll()"
							uib-tooltip="{{ 'onlineExamTemplates.Expand' | translate }}">
							<span class="fa fa-arrows-alt"></span>
						</div>
						<div class="col-sm-5 questionTypeSideBar sidecon-sidebutton"
							ng-click="compressAll()"
							uib-tooltip="{{ 'onlineExamTemplates.Compress' | translate }}">
							<span class="fa fa-compress"></span>
						</div>
						<div class="col-sm-1"></div>
					</li>
					<li>
						<button class="btn btn-primary"
							style="width: 100%; margin-bottom: 6px;"
							ng-click="saveTemplate()"
							translate="onlineExamTemplates.SaveTemplate">
							Save
						</button>
					</li>
					<li>
						<button class="btn btn-default"
							style="width: 100%"
							ng-click="cancelTemplate()"
							translate="Cancel">
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
