@import (reference) "src/_variables";

.examtemplates {
	@borderColor: gray;
	@dragBackgroundColor: #E0E0E0;
	@errorGlow:   0 0 6px rgba(240, 0, 0, 1);

	.templateInfo {
		margin-top: 1%;
	}

	.templateQuestionDroppable {
		background-color: @dragBackgroundColor;
		border: dashed 2px @borderColor;
		text-transform: uppercase;
		border-radius: @centris-radius;
		width: 100%;
		height: 4%;
		color: gray;
		padding-top: 1%;
		text-align: center;
		font-size: 18px;
	}

	.templateQuestionDroppableError {
		background-color: @dragBackgroundColor;
		border: dashed 2px @borderColor;
		border-radius: @centris-radius;
		width: 100%;
		height: 4%;
		color: gray;
		padding-top: 1%;
		text-align: center;
		font-size: 18px;
		box-shadow: @errorGlow;
	}

	.questionCombo {
		margin-bottom: 1%;
	}

	.questionShort, .questionAnswers {
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.answerOptions, .fa-plus {
		margin: 1%;
		margin-left: 5%;
	}

	.answer, .answer:focus {
		border: solid 1px lightgray;
	}

	.errorGlowBox {
		box-shadow: @errorGlow;
	}

	.questionLabel {
		width: 100%;
		padding: 0px;
		margin-bottom: 1%;
		display: inline-block;
		vertical-align: top;
	}

	.questionType {
		text-align: center;
		margin-right: 20px;
		padding-right: 20px;
		padding-left: 5px;
		float: left;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 5px;
		border: 1px solid #ccc;
		background-color: #585858;
		border-color: #585858;
		&:hover {
			cursor: move;
		}
	}

	.questionWeight {
		float: right;
	}

	.templateList {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	#templateQuestionBarInner {
		position: fixed;
		&:hover {
			cursor: move;
		}
	}

	.icons {
		height: 35px;
		.sideButton {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		margin-bottom: 5px;
	}

	.sideButtons {
		display: inline-block;
		vertical-align: top;
	}

	.sideButton {
		margin-top: 10px;
		margin-bottom: 10px;
		vertical-align: top;
		width: 40px;
		font-size: 24px;
		text-align: center;
		border: solid 1px gray;
		background-color: #f9f9f9;
	}

	.questionSideBarHeader {
		text-align: center;
		padding: 0 4%;
		margin-bottom: 5px;
		border: 1px #585858 solid;
		background-color: #585858;
		color: #FFFFFF;
		font-size: 12pt;
		text-transform: uppercase;
		&:hover {
			cursor: default;
		}
	}

	.sidecon {
		font-size: 24pt;
		margin-bottom: 1%;
	}

	.questionTypeSideBar {
		margin-top: 1%;
		text-align: center;
		padding: 2%;
		font-size: 8pt;
		text-transform: uppercase;
		margin-bottom: 5px;
		border: 1px #585858 solid;
		background-color: #FFFFFF;
		color:#585858;
		&:hover {
			color:#FFF;
			background-color: #585858;
		}
		-webkit-transition: background 0.2s linear;
		-moz-transition: background 0.2s linear;
		-ms-transition: background 0.2s linear;
		-o-transition: background 0.2s linear;
		transition: background 0.2s linear;
	}

	.saveCancel {
		margin-top: 10%;
	}

	.sidecon-sidebutton {
		text-align: center;
		font-weight: normal;
		font-size: 30px;
		padding-left: 3%;
		padding-top: 0;
		padding-bottom: 0;
		width: 50%;
		&:hover {
			cursor: pointer;
		}
	}

	// Validation Errors

	.questionAnswerMissingMessage {
		position: absolute;
		margin-left: 1%;
		color: red;
	}

	.questionCorrectMissingMessage,  .questionTextMissingMessage {
		color: red;
	}
	
}
