@import (reference) "src/_mixins";
@import (reference) "src/_variables";

.Header {
	background: @centris-red;
	box-shadow: 0 0 15px fade(#000, 30%);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	&-searchButton,
	&-burger {
		background: transparent;
		border: none;
		color: #fff;
		outline: none;
		padding: 0;
		width: auto;

		@media (min-width: @screen-sm-min) {
			display: none;
		}

		> i {
			margin: 0 !important;
		}
	}

	.username {
		display: none !important;
		padding-right: @grid-gutter-width / 4;

		@media (min-width: @screen-md-min) {
			display: inline-block !important;
		}
	}

	&-flex {
		align-items: center;
		display: flex;
		height: @Page-paddingTop;
	}

	&-nav {
		background: @centris-red-dark;
		border-right: 15px;
	}

	&-brand {
		background: @centris-red;
		display: block;
		font-size: 18px;
		font-weight: 100;
		line-height: 50px;
		margin-left: -15px;
		padding: 0 15px;
		text-transform: uppercase;

		&Name {
			display: none;
		}

		@media (min-width: @screen-sm-min) {
			flex: 0 0 (@Page-paddingLeft);

			&Name {
				display: inline-block;
			}
		}

		.trackingToLetterSpacing(100);

		&,
		&:focus,
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	&-brandImage {
		height: auto;
		margin-right: 4px;
		margin-top: -4px;
		width: 37px;

		/* Spinning of the logo is defined here, but in a paused state.
		   Spinning is then started with a separate class which moves
		   the spinning state to running. That way, we can ensure that
		   the logo doesn't jump back to the original place when spinning
		   should pause again (well, at least almost always!)*/
		animation: ruLogoSpin 3s linear infinite;
		animation-play-state: paused;
	}

	&-actions {
		list-style-type: none;
		margin: 0 0 0 auto;
		padding: 0;
	}

	&-action {
		display: inline-block;
		vertical-align: middle;
	}

	&-action + &-action {
		margin-left: @grid-gutter-width / 2;
	}

	&-action--search.is-searching {
		transform: translate(88px, 3px);
	}

	&-action--user.is-searching {
		transform: translateX(50px);
	}
}

/* TODO: ensure that these classes conform to our SUIT CSS rules! */
.spinning {
	animation-play-state: running;
}

@keyframes ruLogoSpin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
/*
	100% {
		transform:rotate(360deg);
	}
*/
}
