<header class="Header" ng-controller="TopbarController">
	<div class="container-fluid">
		<div class="Header-flex">
			<!-- Brand and toggle get grouped for better mobile display -->
			<a class="Header-brand" href="#/">
				<img id="IntroHomeStep7"
					 class="Header-brandImage"
					 src="styles/img/ruLogo.svg"
					 ng-class="{'spinning': centrisSpinnerVisible}"
					 alt="Centris [Logo]"/>
				<span class="Header-brandName">Centris</span>
			</a>

			<form class="Search"
				  ng-class="{'is-open': isSearching}"
				  role="search"
				  ng-show="showTopbarItems">

				<elastic-search
					ng-model="contents"
					persons="IsTeacher|IsActiveStudent|IsFaculty|IsStudent"
					rooms="true"
					coursetemplates="false"
					courseinstances="true"
					size="8"
					templateurl="home/components/search/topmenu-search.tpl.html">
				</elastic-search>
			</form>

			<ul class="Header-actions">
				<li class="Header-action" ng-show="showTopbarItems">
					<button type="button"
						class="Header-burger"
						ng-click="toggleSidebar()">
						<i class="glyphicon glyphicon-menu-hamburger"></i>
					</button>
				</li>
				<li class="Header-action Header-action--search"
					ng-class="{'is-searching': isSearching}" ng-show="showTopbarItems">
					<button type="button"
						class="Header-searchButton"
						ng-click="toggleSearch()">
						<i class="glyphicon glyphicon-search"
							ng-class="{'glyphicon-remove': isSearching}"></i>
					</button>
				</li>
				<li ng-include="'notifications/components/menu/notification-index.html'"
					id="IntroHomeStep5"
					class="Header-action dropdown"  ng-show="showTopbarItems"></li>

				<li ng-include="'components/profile/dropdown/userdropdown.tpl.html'"
					ng-class="{'is-searching': isSearching}"
					class="Header-action Header-action--user dropdown"></li>
			</ul>
		</div>
	</div>
</header>
