<div class="CommentCreate-controls" ng-show="forms.newReply === -1">
<!--
	<input name="Reply Title"
		   class="CommentCreate-title form-control input-lg"
		   type="text"
		   maxlength="64"
		   placeholder="{{ 'discussions.NewThreadTitle' | translate }}"
		   ng-model="formData.newReply.Title" />
-->
	<div class="CommentCreate-anonymous checkbox">
		<label>
			<input type="checkbox"
				ng-model="formData.newReply.IsAnonymous"
				name="Anonymous Toggle">
			{{'discussions.Anonymous' | translate}}
		</label>
	</div>

	<text-angular
		class="CommentCreate-body"
		ta-toolbar="[['bold','italics'], ['ul', 'ol'], ['undo', 'redo']]"
		focus-me="focusNewThread"
		ng-model="formData.newReply.Text">
	</text-angular>

	<comment-attachments data="formData.newReply.Files"></comment-attachments>

	<div class="row">
		<div class="col-xs-6">
			<a href="javascript:;" class="UploadButton btn btn-default">
				<span class="UploadButton-text">
					{{'discussions.AddFiles' | translate }}
				</span>
				<input
					class="UploadButton-input"
					name="Upload Files"
					type="file"
					file-model="formData.newReply.Files"
					multiple="multiple"/>
			</a>
		</div>

		<div class="col-xs-6 text-right">
			<div class="btn-group">
				<button
					name="Cancel Thread"
					type="button"
					class="btn btn-default"
					ng-click="forms.newReply = 0"
					ng-disabled="newReplyPostButton === 'discussions.PostActive'">
					{{'discussions.Cancel' | translate}}
				</button>

				<button
					name="Post Thread"
					type="button"
					ng-click="postReply($index)"
					class="btn btn-primary"
					ng-disabled="newReplyPostButton === 'discussions.PostActive'">
					{{ newReplyPostButton | translate }}
				</button>
			</div>
		</div>
	</div>
</div>