<a class="CommentCreate-placeholder form-control input-lg"
   ng-click="forms.newThread = -1; newThreadFocused = true;"
   ng-hide="forms.newThread === -1"
   id="details-discuss-comment">
	{{ 'discussions.NewReplyText' | translate }}
</a>

<div class="CommentCreate-controls" ng-show="forms.newThread === -1">
	<input name="Thread Title"
		   class="CommentCreate-title form-control input-lg"
		   type="text"
		   maxlength="64"
		   focus-me="newThreadFocused"
		   placeholder="{{ 'discussions.NewThreadTitle' | translate }}"
		   ng-model="formData.newThread.Title" />

	<div class="CommentCreate-anonymous checkbox">
		<label>
			<input type="checkbox"
				ng-model="formData.newThread.IsAnonymous"
				name="Anonymous Toggle">
			{{'discussions.Anonymous' | translate}}
		</label>
	</div>

	<text-angular
		class="CommentCreate-body"
		ta-toolbar="[['bold','italics'], ['ul', 'ol'], ['undo', 'redo']]"
		focus-me="focusNewThread"
		ng-model="formData.newThread.Text">
	</text-angular>

	<comment-attachments data="formData.newThread.Files"></comment-attachments>

	<div class="row">
		<div class="col-xs-6">
			<a href="javascript:;" class="UploadButton btn btn-default">
				<span class="UploadButton-text">
					{{'discussions.AddFiles' | translate }}
				</span>
				<input
					class="UploadButton-input"
					name="Upload Files"
					type="file"
					file-model="formData.newThread.Files"
					multiple="multiple"/>
			</a>
		</div>

		<div class="col-xs-6 text-right">
			<div class="btn-group">
				<button
					name="Cancel Thread"
					type="button"
					class="btn btn-default"
					ng-click="forms.newThread = 0"
					ng-disabled="newThreadPostButton === 'discussions.PostActive'">
					{{'discussions.Cancel' | translate}}
				</button>

				<button
					name="Post Thread"
					type="button"
					ng-click="postThread()"
					class="btn btn-primary"
					ng-disabled="newThreadPostButton === 'discussions.PostActive'">
					{{ newThreadPostButton | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
