// TODO: Generalize for all content supplied by db.
.Copy {
	color: #3f3f3f;
	font-family: Georgia, Times, serif;
	font-size: 14px;
	line-height: 1.4;

	&-title {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

	p {
		margin: 0;
	}

	p + p {
		margin-top: 1.4em;
	}
}
