.CommentHeader {
	color: @Comments-secondaryColor;
	font-size: 12px;
	font-weight: 600;
	margin: 0;

	&-options {
		cursor: pointer;
		float: right;
	}

	&-optionsToggler  {
		color: @Comments-secondaryColor;

		&:hover {
			color: @Comments-mainColor;
			text-decoration: none;
		}
	}

	&-author {
		color: @Comments-mainColor;
	}
}
