<div class="CommentHeader">
	<div class="CommentHeader-options" uib-dropdown>
		<a
			class="CommentHeader-optionsToggler"
			uib-dropdown-toggle
			tooltip-placement="top"
			uib-tooltip="{{'discussions.Actions' | translate}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
		<ul class="uib-dropdown-menu" role="menu">
			<li ng-if="!comment.Replies.length && (comment.IsAuthor || board.IsInstructor)">
				<a ng-click="deleteThread($index)" ng-disabled="deletingThread === $index">
					{{'discussions.Delete' | translate}}
				</a>
			</li>
			<li ng-if="!comment.IsSubscribed">
				<a ng-click="subscribeToThread($index)">
					{{'discussions.SubscribeThread' | translate}}
				</a>
			</li>
			<li ng-if="comment.IsSubscribed">
				<a ng-click="unsubscribeFromThread($index)">
					{{'discussions.UnsubscribeThread' | translate}}
				</a>
			</li>
		</ul>
	</div>

	<span class="CommentHeader-author">
		{{ comment.Thread.Author.Name || ('discussions.AnonymousAuthor' | translate) }}
	</span>
	<span class="CommentHeader-separator">·</span>
	<span
		class="CommentHeader-date"
		name="Date posted"
		tooltip-placement="top"
		uib-tooltip="{{ comment.Thread.DatePosted | centrisDate:'HH:mm - DD. MMMM YYYY' }}">
		{{ comment.Thread.DatePosted | centrisFromNow }}
	</span>
</div>