<div class="row">
	<div class="col-md-6">
		<img ng-src="assets/img/flags/is.png" alt="Flag" />
		<text-angular
			ng-model="is"
			ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'], ['undo', 'redo']]">
		</text-angular>
	</div>
	<div class="col-md-6">
		<img ng-src="assets/img/flags/en.png" alt="Flag" />
		<text-angular
			ng-model="en"
			ta-toolbar="[['bold','italics','underline'], ['ul', 'ol'], ['undo', 'redo']]">
		</text-angular>
	</div>
</div>