@import (reference) "src/_variables" ;
@import (reference) "src/_mixins" ;

.StudyplanReadingDlg {

	&-link-list {
		list-style-type: none;

		& a.remove-item {
			color: red;
		}
	}

	&-input-group-padding {
		padding: 0 15px !important;
	}
}
