<centris-dialog-header class="modal-header" titlecode="studyplan.Reading">
</centris-dialog-header>

<div class="modal-body StudyplanReadingDlg">
	<form class="form-horizontal" role="form" name="readingForm" novalidate>
		<div class="form-group row">
			<label class="col-sm-2 control-label" for="text">
				{{'studyplan.Text' | translate}}
			</label>
			<div class="col-sm-10">
				<input class="form-control"
				       type="text"
				       ng-model="model.Text"
				       id="text"
				       name="text"
				       autofocus
				       required
				       centris-validate="studyplan.MissingText"
				       validate-condition="showError && readingForm.text.$invalid" />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 control-label" for="item">
				{{'studyplan.Link' | translate}}
			</label>
			<div class="input-group StudyplanReadingDlg-input-group-padding col-sm-10">
				<input class="form-control"
				       type="text"
				       ng-model="newItem"
				       id="item" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addItem()">
						{{'Add' | translate}}
					</button>
				</span>
			</div>
		</div>
	</form>
	<div>
		<ul class="StudyplanReadingDlg-link-list">
			<li ng-repeat="item in model.Items">
				<img ng-src="styles/img/{{item.Type}}-icon.png"
					class="link-icon" /> {{item.Url}}
				<a href ng-click="removeItem()" class="remove-item">
					<i class="fa fa-times"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<centris-dialog-footer class="modal-footer" on-submit="submitEvent(readingForm.$valid)">
</centris-dialog-footer>