<centris-dialog-header
	titlecode="announcements.AddAnnouncement">
</centris-dialog-header>

<div class="modal-body">
	<form role="form" name="addAnnouncementForm">
		<div class="form-group">
			<label for="title" translate="announcements.AnnouncementTitle"></label>
			<div ng-class="{ 'has-error' :  showError && addAnnouncementForm.title.$invalid }">
				<input type="text"
					name="title"
					class="form-control"
					ng-model="newAnnouncement.title"
					autofocus
					required
					centris-validate="announcements.Errors.MissingTitle"
					validate-condition="showError && addAnnouncementForm.title.$invalid"
					/>
			</div>
		</div>
		<div class="form-group">
			<centris-wysiwyg ng-model="newAnnouncement.body"></centris-wysiwyg>
		</div>
		<div class="form-group">
			<label>
				<input ng-disabled="disableDiscussionBoard"
					ng-model="newAnnouncement.hasDiscussionBoard"
					type="checkbox"
					name="hasDiscussionBoard" />
				<span translate="announcements.DiscussionBoardOption" />
			</label>
		</div>
		<label>
			<input type="checkbox"
				ng-model="newAnnouncement.useCurrentDate"
				name="useCurrentDate" />
			<span translate="announcements.CurrentDateOption" />
		</label>
		<div class="form-group" ng-hide="newAnnouncement.useCurrentDate">
			<div class="col-sm-8">
				<centris-date-picker
					name="pubdate"
					ng-model="newAnnouncement.date"
					ng-required="!newAnnouncement.useCurrentDate">
				</centris-date-picker>
			</div>
			<div class="col-sm-4">
				<input type="text"
					name="pubtime"
					class="form-control"
					ng-model="newAnnouncement.time"
					ng-required="!newAnnouncement.useCurrentDate"
					centris-time-picker="{minTime:'{{minTime}}',maxTime:'{{maxTime}}',step:30}"
					centris-validate="announcements.Errors.MissingTime"
					validate-condition="showError && addAnnouncementForm.pubtime.$invalid" />
			</div>
		</div>
	</form>
</div>

<centris-dialog-footer
	on-submit="onSave(addAnnouncementForm.$invalid)"
	submit="Save"
	cancel="Cancel">
</centris-dialog-footer>
