<div class="row">
	<div class="col-xs-12">
		<div ng-show="loading" class="Coursedetails-loading-data">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>

		<div ng-hide="loading">
			<div class="Coursedetails-command-area">
				<div ng-show="isTeacher">
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<button	ng-hide="statusFlags.edit"
									ng-click="toggleEdit()"
									class="btn btn-primary">
									<span translate="Edit" />
									<i class="fa fa-pencil"></i>
								</button>
								<button type="button"
									class="btn btn-success"
									ng-show="statusFlags.edit"
									ng-click="saveAndQuit()">
									<span translate="Save" />
								</button>
								<button type="button"
									class="btn btn-default"
									ng-show="statusFlags.edit"
									ng-click="quitWithoutSaving()">
									<span translate="Cancel" />
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="Coursedetails-megabox"
				 ng-hide="statusFlags.edit">
				<p ng-bind-html="course | centrisTranslate: 'TeachingMethods' : 'TeachingMethodsEN'"></p>
			</div>

			<div ng-hide="!statusFlags.edit">
				<dual-lang-editor
					is="desc.teachingMethods"
					en="desc.teachingMethodsEN">
				</dual-lang-editor>
			</div>
		</div>
	</div>
</div>