<div class="row">
	<div class="col-xs-12">
		<div ng-show="loading" class="Coursedetails-loading-data">
			<uib-alert type="info">
				<span translate="Loading" />
			</uib-alert>
		</div>

		<div ng-hide="loading">
			<div class="Coursedetails-command-area">
				<div ng-show="isTeacher">
					<div class="row">
						<div class="col-xs-12">
							<div class="pull-right">
								<button type="button"
									class="btn btn-primary"
									ng-click="editCourseDetail()"
									ng-hide="statusFlags.edit">
									<span translate="Edit"></span>
									<i class="fa fa-pencil"> </i>
								</button>
								<button type="button"
									class="btn btn-success"
									ng-show="statusFlags.edit"
									ng-click="saveAndQuit()"><span translate="Save" />
								</button>
								<button type="button"
									class="btn btn-default"
									ng-show="statusFlags.edit"
									ng-click="quitWithoutSaving()"><span translate="Cancel" />
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-hide="statusFlags.edit"
				ng-bind-html="course | centrisTranslate: 'Description' : 'DescriptionEN'"
				class="Coursedetails-megabox">
			</div>

			<div ng-show="statusFlags.edit">
				<dual-lang-editor
					is="draft.Description"
					en="draft.DescriptionEN">
				</dual-lang-editor>
			</div>
		</div>
	</div>
</div>