<a ng-href="#/courses/{{n.Body.CourseInstanceID}}/assignments/{{n.Body.Assignment.ID}}/group">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Student.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div>
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.Assignments.AddToGroupPersonal" />
			<span>&ldquo;</span>{{n.Body.Assignment.Title}}<span>&ldquo;</span>
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>
