<a ng-href="#/courses/{{n.Body.Course.InstanceID}}/assignments/{{n.Body.Assignment.ID}}">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	<!--
		Another option would be to display the course Icon:
		<centris-course-image course-id="n.Body.Course.TemplateID" size="50">
		</centris-course-image>
	-->
	</div>

	<div class="notification-entry">
		<div>
			<!-- The message will be:
			'Teacher Teachersson' created the assignment 'Assignment 1' in course 'The course name'  -->
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.Assignments.Created" />
			<span>&ldquo;</span>{{n.Body.Assignment.Title}}<span>&rdquo;</span>
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>
