<a ng-href="#/courses/{{n.Body.Course.InstanceID}}/assignments/{{n.Body.Assignment.ID}}/handin">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>
	<div class="notification-entry">
		<div>
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.Assignments.HasHandedIn" />
			<span>&ldquo;</span>{{n.Body.Assignment.Title}}<span>&rdquo;</span>
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
		</div>
	</div>
</a>

<span class="notification-time" title="{{n.Body.DateOccurred | centrisDate }}">
	{{ n.Body.DateOccurred | centrisFromNow}}
</span>