<a ng-href="#/courses/{{n.Body.Course.InstanceID}}">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Employee.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div>
			{{n.Body.Employee.Name}}
			<span translate="notifications.Templates.CourseGroup.NewGroup" />
			<span>&ldquo;</span>
			{{n.Body.GroupName}}
			<span>&rdquo;</span>
			<span translate="notifications.Templates.General.InCourse" />
			<span>&ldquo;</span>
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
			<span>&rdquo;</span>
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.DateOccurred | centrisDate }}">
	{{ n.Body.DateOccurred | centrisFromNow}}
</span>
