<a ng-href="#/courses/{{n.Body.Course.InstanceID}}/exambank">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div ng-if="n.Body.Author.Name">
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.ExamBank.Added" />
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
		</div>
		<div ng-if="!n.Body.Author.Name">
			{{'notifications.Templates.ExamBank.Anonymous' | translate }}
			<span translate="notifications.Templates.ExamBank.Added" />
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>

