<a ng-href="#/courses/{{n.Body.CourseInstanceID}}/announcements/{{n.Body.AnnouncementID}}">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div>
			<!-- The message will be:
			'Teacher Teachersson' created the assignment 'Assignment 1' in course 'The course name'  -->
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.Announcements.Created" />
			<span>&ldquo;</span>{{n.Body.Title}}<span>&rdquo;</span>
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.CourseInstanceID}}
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>

