<a href="#/" class="media" ng-click='putReadNotification(n)'>
	<div class="notification-menu-image pull-left">
		<span class="round-icon sm bg-success">
			<i class="fa fa-bell-o"></i>
		</span>
	</div>

	<div class="notification-entry">
		{{'notifications.templates.default.Text' | translate}}
	</div>
</a>
