<a ng-href="">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div>
			{{n.Body.Author.Name}}
			<!-- TODO: finish this as soon as department announcements 
			will be fully enabled!  -->
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>

