<a ng-href="{{getDiscussionLink(n)}}">
	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
		<div ng-if="n.Body.Author.Name">
			{{n.Body.Author.Name}}
			{{'notifications.Templates.Discussions.NewThreadNotify' | translate }}
			<span>&ldquo;</span>{{n.Body.BoardName}}<span>&rdquo;</span>
		</div>
		<div ng-if="!n.Body.Author.Name">
			{{'notifications.Templates.Discussions.Anonymous' | translate}}
			{{'notifications.Templates.Discussions.NewThreadNotify' | translate}}
			<span>&ldquo;</span>{{n.Body.BoardName}}<span>&rdquo;</span>
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.DateCreated | centrisFromNow}}
</span>
