<a ng-href="#/evaluations/{{n.Body.Course.InstanceID}}/{{n.Body.EvaluationInstanceID}}">
	<div class="notification-menu-image pull-left">
		<span class="round-icon sm bg-success">
			<i class="fa fa-bell-o"></i>
		</span>
	</div>

	<div class="notification-entry">
			<span translate="notifications.Templates.Evaluations.Announce" />
			<span translate="notifications.Templates.General.InCourse" />
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
		</div>
	</div>
</a>


