<a ng-href="#/finalexams">
	<div class="notification-menu-image pull-left">
		<div style="max-width: 50px" >
			<!-- TODO: not sure what to display
				in place of the user image... -->
		</div>
	</div>

	<div class="notification-entry">
		<div>
			<span translate="notifications.Templates.FinalExams.Published" />
			<span>{{n.Body | centrisTranslate : "SemesterName" : "SemesterNameEN"}}</span>
		</div>
	</div>
</a>
<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>
