<a href="#/courses/{{n.Body.Course.InstanceID}}/onlineexams/{{n.Body.ExamInstanceID}}">

	<div class="notification-menu-image pull-left">
		<centris-person-image ssn="n.Body.Author.SSN" style="max-width: 50px" >
		</centris-person-image>
	</div>

	<div class="notification-entry">
			{{n.Body.Author.Name}}
			<span translate="notifications.Templates.OnlineExams.Created" />
			<span>&ldquo;</span>
			{{n.Body.ExamName}}
			<span>&rdquo;</span>
			<span translate="notifications.Templates.General.InCourse" />
			<span>&ldquo;</span>
			{{n.Body.Course | centrisTranslate : "Name" : "NameEN"}}
			<span>&rdquo;</span>
	</div>
</a>

<span class="notification-time" title="{{n.Body.PublishDate | centrisDate }}">
	{{ n.Body.PublishDate | centrisFromNow}}
</span>
