<div id="top" class="threadNavi"> 
	<a 
		name="Previous thread"
		tooltip-placement="right" 
		uib-tooltip="{{'discussions.PrevArrowTooltip' | translate}}" 
		class="prev" 
		ng-disabled="!showNext" 
		ng-click="nextThread()">
		<i ng-show="!showNext" class="fa fa-caret-left fa-2x fa-inverse"></i>
		<i ng-show="showNext" class="fa fa-caret-left fa-2x"></i>
	</a>
	<button
		name="Subscribe to board"
		tooltip-placement="top" 
		uib-tooltip="{{'discussions.SubscribeBoardFull' | translate}}" 
		class="subDB btn btn-success" 
		ng-if="board.IsSubscribed === false" 
		ng-click="subscribeToBoard()" 
		type="button">
		{{'discussions.SubscribeBoard' | translate}}
	</button>
	<button 
		name="Unsubscribe from board"
		tooltip-placement="top" 
		uib-tooltip="{{'discussions.UnsubscribeBoardFull' | translate}}" 
		class="btn btn-danger"
		ng-if="board.IsSubscribed === true" 
		ng-click="unsubscribeFromBoard()" 
		type="button">
		{{'discussions.UnsubscribeBoard' | translate}}
	</button>
	<a 
		name="Next thread"
		tooltip-placement="left" 
		uib-tooltip="{{'discussions.NextArrowTooltip' | translate}}" 
		class="next"
		ng-disabled="!showPrev" 
		ng-click="prevThread()">
		<i ng-show="!showPrev" class="fa fa-caret-right fa-2x fa-inverse"></i>
		<i ng-show="showPrev" class="fa fa-caret-right fa-2x"></i>
	</a>
</div>
<table ng-if="threads.length > 0" class="allThreadsTable table table-hover">
	<tr>
		<th>{{'discussions.Thread' | translate}}</th>
		<th>{{'discussions.Replies' | translate}}</th>
	</tr>
	<tr ng-repeat="t in threads track by $index" ng-click="switchToThread($index); goToThread()" ng-class="{selected : $index === ti, subBorder : showSub($index) === true}">
		<td>
			<p class="threadTitle" ng-if="t.Thread.Title">{{t.Thread.Title}}</p>
			<p ng-if="t.Thread.Title === '' && t.Thread.Text.length > 60"> {{ t.Thread.Text | limitTo: 60 }} ...</p>
			<p ng-if="t.Thread.Title === '' && t.Thread.Text.length <= 60">{{ t.Thread.Text | limitTo: 60 }}</p>
			<p class="threadAuthor" ng-if="t.Thread.IsAnonymous === false">{{t.Thread.Author.Name}}</p>
		</td>
		<td>{{t.Replies.length}}</td>
	</tr>
</table>
