
<div ng-if="edit">
	<centris-dialog-header
		titlecode="materials.modal.EditCategoryHeader">
	</centris-dialog-header>
</div>
<div ng-if="!edit">
	<centris-dialog-header
		titlecode="materials.modal.CategoryHeader">
	</centris-dialog-header>
</div>

<form name="materialCategoryForm"
	class="css-form" 
	novalidate>
	<div class="modal-body">
		<div class="row form-group"
			ng-class="{ 'has-error' : showError && materialCategoryForm.title.$invalid }">
			<div class="col-sm-3">
				<span translate="materials.modal.CategoryTitle"></span>
			</div>

			<div class="col-sm-9">
				<input type="text"
					name="title"
					focus-me="true"
					class="form-control"
					ng-model="model.Title"
					centris-validate="materials.modal.CategoryTitleError"
					validate-condition="showError && materialCategoryForm.title.$invalid"
					placeholder="{{ 'materials.modal.CategoryTitle' | translate }}"
					required/>
			</div>
		</div>
	</div>
	<centris-dialog-footer
		on-submit="validateSelection(materialCategoryForm.$valid)">
	</centris-dialog-footer>
</form>
