@import (reference) "src/_variables";

.evaluationindex {
	.results {
		background-color: @centris-red;
		padding: 8px;
		color: white;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.evalResults {
		padding: 5px;
	}
}