<centris-page-header title="evaluation.Evaluation">
</centris-page-header>
<div
	ng-intro-options="IntroOptionsTeacher"
	ng-intro-method="ShowTeacherEvalIntro"
	ng-intro-autostart="false">
</div>
<div
	ng-intro-options="IntroOptionsStudent"
	ng-intro-method="ShowStudentEvalIntro"
	ng-intro-autostart="false">
</div>
<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading"></span>
	</uib-alert>
</div>

<div ng-show="!loadingData && studeval.length === 0 && teacheval.length === 0">
	<centris-semester-dropdown
		ng-model="semester"
		allow-clear="true"
		multiple-select="false"
		on-update="filterSemester(semester)"
		json-sem-placeholder="{{'allcourses.Table_Semester' | translate}}">
	</centris-semester-dropdown>
	<uib-alert type="info">
		<div class="info" 
			translate="evaluation.NoEvaluation">
			Ekkert opið kennslumat
		</div>
	</uib-alert>
</div>
<div class="evaluationindex"
	ng-hide="loadingData">
	<div class="col-lg-11">
		<div ng-hide="studeval.length === 0">
			<div class="results"
				translate="evaluation.MyEvaluations">
				Mín kennslumöt
			</div>
			<table class="table table-hover">
				<thead>
					<tr table-sort="Course">
						<th data-columnName="Course" 
						id="courseColumn2">
							{{'evaluation.EvaluationCourse' | translate}}
						</th>
						<th data-columnName="EvaluationName"
						id="evalColumn2">
							{{'evaluation.EvaluationName' | translate}}
						</th>
						<th data-columnName="EndDate"
						id="endedColumn2">
							{{'evaluation.EvaluationEndDate' | translate}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="seval in studeval">
						<td>
							<a ng-href="#/evaluations/{{seval.CourseInstanceID}}/{{seval.ID}}">
								{{ seval | centrisTranslate: "CourseName" : "CourseNameEN" }}
							</a>
						</td>
						<td>
							{{ seval | centrisTranslate: "TemplateName" : "TemplateNameEN" }}
						</td>
						<td>
							{{ seval.EndDate | centrisFromNow }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-lg-11">
		<div ng-hide="teacheval.length === 0">
			<centris-semester-dropdown
				ng-model="semester"
				allow-clear="true"
				id="semesterDropdown"
				multiple-select="false"
				on-update="filterSemester(semester)"
				json-sem-placeholder="{{'allcourses.Table_Semester' | translate}}">
			</centris-semester-dropdown>
			<div class="results"
				translate="evaluation.EvaluationResults">
				Niðurstöður kennslumats
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th data-columnName="Course" 
						id="courseColumn">
							{{'evaluation.EvaluationCourse' | translate}}
						</th>
						<th data-columnName="EvaluationName"
						id="evalColumn">
							{{'evaluation.EvaluationName' | translate}}
						</th>
						<th data-columnName="Ended"
						id="endedColumn">
							{{'evaluation.EvaluationEnded' | translate}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="teval in teacheval">
						<td class="evalResults">
							<a ng-href="#/evaluationresults/{{teval.ID}}">
								{{ teval | centrisTranslate: "CourseName" : "CourseNameEN" }}
							</a>
						</td>
						<td>
							{{ teval | centrisTranslate: "TemplateTitle" : "TemplateTitleEN" }}
						</td>
						<td>
							{{ teval.EndDate | date:"dd/MM/yyyy"}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
