<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowProfileIntro"
	 ng-intro-autostart="false">
</div>
<div class="profile">
	<div class="row user-settings">

		<div class="col-xs-12 col-md-4 col-lg-2">
			<div class="img-container pull-left">
				<a href="" ng-click="openImgCropper()">
					<!-- By default, we display the official profile picture of the user: -->
					<div ng-if="!information.HasPendingProfilePictureRequest">
						<centris-person-image id="profilepicture"
							ssn="information.SSN">
						</centris-person-image>
					</div>

					<!-- ...unless the user has a pending request for a new profile
					picture, in that case we display that picture. -->
					<div ng-if="information.HasPendingProfilePictureRequest">
						<centris-pending-profile-image
							ssn="information.SSN">
						</centris-pending-profile-image>
					</div>

					<!-- Show some indication that there is a pending request: -->
					<span class="img-request-inprogress"
						ng-if="information.HasPendingProfilePictureRequest">
						<div translate="ProfilePage.WaitingForApproval" />
					</span>

					<!-- Show some visual cue that it is possible to change the profile picture: -->
					<span class="img-edit-wrapper">
						<i class="fa fa-pencil img-edit" />
					</span>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-md-8 col-lg-10">
			<div ng-hide="loadingData">
				<h3>{{information.Name}}</h3>
				<h4>{{information.SSN}}</h4>
				<h4>{{information.Email}}</h4>
			</div>

			<div ng-show="loadingData">
				<uib-alert type="info">
					<span translate="Loading" />
				</uib-alert>
			</div>
		</div>

		<div class="col-xs-12" ng-hide="loadingData" id="personalinfo">
			<uib-tabset class="tabs-details">
				<uib-tab select="tabs.go(tabs.list[0].route)" id="personalinfotab"
					active="tabs.list[0].active"
					heading="{{'ProfilePage.Tabs.Peronal_Info' | translate}}">

					<userprofile-personalinfo
						settings="information.PersonalInformation">
					</userprofile-personalinfo>

				</uib-tab>
				<uib-tab select="tabs.go(tabs.list[1].route)" id="generalsettings"
					active="tabs.list[1].active"
					heading="{{'ProfilePage.Tabs.General_Settings' | translate}}">

					<userprofile-generalsettings
						general="information.DashboardSettings">
					</userprofile-generalsettings>

				</uib-tab>
				<uib-tab select="tabs.go(tabs.list[2].route)" id="schoolinfotab"
					active="tabs.list[2].active"
					heading="{{'ProfilePage.Tabs.School_Info' | translate}}">

					<userprofile-schoolinfo
						history="information.SchoolInformation">
					</userprofile-schoolinfo>

				</uib-tab>
				<uib-tab select="tabs.go(tabs.list[3].route)" id="notificationtab"
					active="tabs.list[3].active"
					heading="{{'ProfilePage.Tabs.Communication_Info' | translate}}">

					<userprofile-notifications
						on-update-notifications="updateNotifications(settings)"
						settings="information.NotificationSettings">
					</userprofile-notifications>

				</uib-tab>
				<uib-tab select="tabs.go(tabs.list[4].route)" id="coursesprofile"
						 active="tabs.list[4].active"
						 heading="{{'Courses' | translate}}">

					<userprofile-courseinfo
						has-no-courses="hasNoCourses"
						student-courses="studentCourses"
						teacher-courses="teacherCourses">
					</userprofile-courseinfo>

				</uib-tab>
			<!--
				<uib-tab select="tabs.go(tabs.list[5].route)"
					active="tabs.list[3].active"
					heading="{{'ProfilePage.Tabs.Teaching' | translate}}">

					<userprofile-teaching
						history="informations.TeachingHistory">
					</userprofile-teaching>

				</uib-tab>
			-->
			</uib-tabset>
		</div>
	</div>
</div>