/* profile image settings */
@import (reference) "src/_variables" ;

.fixed-table {
	width: 800px;
}
.user-settings {
	margin-top: 10px;
	margin-left: 0px;

	.img-container {
		display: inline-block;
		position: relative;
		height: 125px;
		width: 125px;
		margin-right: 20px;

		img {
			height: 125px;
			width: 125px;
			border-radius: 50%;
			object-fit: cover;
			object-position: center;
		}

		.img-edit-wrapper {
			background: rgba(0,0,0,0.6);
			border-radius: 50%;
			color: white;
			cursor: pointer;
			height: 125px;
			width: 125px;
			left: 0;
			top: 0;
			position: absolute;
			opacity: 0;

			-webkit-transition: opacity 400ms;
			-moz-transition: opacity 400ms;
			-o-transition: opacity 400ms;
			transition: opacity 400ms;
		}

		.img-request-inprogress {
			background: rgba(0,0,0,0.6);
			border-radius: 50%;
			color: white;
			cursor: pointer;
			height: 125px;
			width: 125px;
			left: 0;
			top: 0;
			position: absolute;
			overflow: hidden;
			/* opacity: 0; */

			-webkit-transition: opacity 400ms;
			-moz-transition: opacity 400ms;
			-o-transition: opacity 400ms;
			transition: opacity 400ms;

			div {
				color: white;
				background-color: green;
				transform: rotate(45deg) translate(30px, 0px);
				text-align: center;
				text-transform: uppercase;
				font-size: x-small;
				overflow: hidden;
				padding-bottom: 3px;
				padding-top: 3px;
				opacity: 0.5;
			}
		}

		.img-edit {
			color: white;
			font-size: 40px;
			margin: 42.5px 0 0 42.5px;
		}

		.img-edit-wrapper:hover {
			opacity: 1;
			-webkit-transition: opacity 400ms;
			-moz-transition: opacity 400ms;
			-o-transition: opacity 400ms;
			transition: opacity 400ms;
		}
	}

	h3 {
		margin-top: 22px;
	}

	.tabs-details {
		margin-top: 50px;
	}
}

/* end of profile image settings */




/* img cropper settings */

#myCanvas {
	margin-top: 20px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	cursor: move;
	max-width: 550px;
	max-height: 550px;
}

.cropperContainer {
	padding: 15px;
	min-height: 400px;

	.drop-box {
		min-height: 100px;
		height: 100%;
		margin-bottom: 10px;
		background-color: @gray-lighter;
		border-radius: @centris-radius;
		padding: 10px;
		text-align: center;

		&:hover {
			background-color: @drop-box;
		}
	}

	.dragover {
		background-color: @drop-box;
	}

	.scaleSlider {
		margin-top: 10px;
	}

	.cropped-img {
		margin-top: 20px;
		margin-bottom: 10px;
		width: 200px;
		height: 200px;
	}

	.save-image {
		margin-bottom: 10px;
	}

	#crop {
		margin-bottom: 10px;
	}
}

.material-switch > input[type="checkbox"] {
	display: none;   
}

.material-switch > label {
	cursor: pointer;
	height: 0px;
	position: relative; 
	width: 40px;  
}

.material-switch > label::before {
	background: rgb(0, 0, 0);
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	content: '';
	height: 16px;
	margin-top: -8px;
	position:absolute;
	opacity: 0.3;
	transition: all 0.4s ease-in-out;
	width: 40px;
}
.material-switch > label::after {
	background: rgb(255, 255, 255);
	border-radius: 16px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	content: '';
	height: 24px;
	left: -4px;
	margin-top: -8px;
	position: absolute;
	top: -4px;
	transition: all 0.3s ease-in-out;
	width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
	background: inherit;
	opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
	background: inherit;
	left: 20px;
}

#dashboard-table {
	padding-right: 100px;	// May be too much, may have to fix this to ensure right dimensions
}

/* end of img cropper settings */
