
<iframe src="http://www.youtube.com/embed/DoCuk-uv6zY"></iframe> </br>

<div ng-controller="BoardExampleController">
	<discussions-board 
		resourcetype="restype" 
		resourceid="resid" 
		threadid="tid" 
		replyid="rid" />
</div>
