<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowOnlineExamIntro"
	 ng-intro-autostart="false">
</div>
<centris-page-header page-title="studentOnlineExams.PageHeader">
</centris-page-header>

<div class="studentexams row">

	<div class="col-sm-12" ng-show="fetchingData">
		<uib-alert type="info">
			<i class="fa fa-spinner fa-spin"></i>
			<span translate="Loading" />
		</uib-alert>
	</div>

	<div class="col-sm-12" ng-show="examInstances.length == 0 && !fetchingData">
		<uib-alert type="info">
			<span translate="studentOnlineExams.NoExamsToDisplay" />
		</uib-alert>
	</div>

	<div class="col-sm-12">
		<div class="panel panel-default" ng-show="examInstances.length > 0">
			<div class="panel-heading">
				<h2 class="panel-title"
					translate="studentOnlineExams.TableHead">Exam list</h2>
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								<div class="th" id="examtablename">
									<span translate="studentOnlineExams.Name">Name</span>
									<span class="fa fa-angle-up"
										data-ng-click="reverse=false;orderExams('-Name', false)"></span>
									<span class="fa fa-angle-down"
										data-ng-click="orderExams('Name', false)"></span>
								</div>
							</th>
							<th>
								<div class="th" id="examtablestatus">
									<span translate="studentOnlineExams.Status">Status</span>
									<span class="fa fa-angle-up"
										data-ng-click=" orderExams('-Status') "
										data-ng-click=" {active: row == '-Status'}">
									</span>
									<span class="fa fa-angle-down"
										data-ng-click=" orderExams('Status') "
										data-ng-click=" {active: row == 'Status'}">
									</span>
								</div>
							</th>
							<th>
								<div class="th" id="examtableduedate">
									<span translate="studentOnlineExams.EndDate" />
									<span class="fa fa-angle-up"
										data-ng-click=" orderExams('-EndDate') "
										data-ng-click=" {active: row == '-EndDate'}">
									</span>
									<span class="fa fa-angle-down"
										data-ng-click=" orderExams('EndDate') "
										data-ng-click=" {active: row == 'EndDate'}">
									</span>
								</div>
							</th>
							<th>
								<div class="th" id="exameableweight">
									<span translate="studentOnlineExams.Weight">Weight</span>
									<span class="fa fa-angle-up"
										data-ng-click=" orderExams('-Weight') "
										data-ng-click=" {active: row == '-Weight'}">
									</span>
									<span class="fa fa-angle-down"
										data-ng-click=" orderExams('Weight') "
										data-ng-click=" {active: row == 'Weight'}">
									</span>
								</div>
							</th>
							<th>
								<div class="th" id="examtablegrade">
									<span translate="studentOnlineExams.Grade">Grade</span>
									<span class="fa fa-angle-up"
										data-ng-click=" orderExams('-Grade') "
										data-ng-click=" {active: row == '-Grade'}">
									</span>
									<span class="fa fa-angle-down"
										data-ng-click=" orderExams('Grade') "
										data-ng-click=" {active: row == 'Grade'}">
									</span>
								</div>
							</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="exam in examInstances">
							<td>
								<a ui-sref="courseinstance.onlineexams.examdetails({examid:exam.ID, courseInstanceID: courseInstanceID})">
								<span uib-tooltip="{{exam.Name}}"
									class="name">
									{{exam.Name}}
								</span>
								</a>
							</td>
							<td>
								<!-- EXAM STATUS CODES:
									1 = Not started
									2 = Ongoing
									3 = Finished
									4 = Closed -->
								<span
									ng-if="exam.Status == 1"
									class="examNotStarted"
									translate="studentOnlineExams.NotStarted">
									Not started
								</span>
								<span
									ng-if="exam.Status == 2"
									class="examOngoing"
									translate="studentOnlineExams.Started">
									Started
								</span>
								<span
									ng-if="exam.Status == 3"
									class="examFinished"
									translate="studentOnlineExams.Finished">
									Finished</span>
								<span
									ng-if="exam.Status == 4"
									class="examClosed"
									translate="studentOnlineExams.Closed">
									Closed
								</span>
							</td>
							<td>
								<span>
									{{exam.EndDate | centrisDateNoYear }}
								</span>
							</td>
							<td>
								<span>{{exam.Weight}}%</span>
							</td>
							<td>
								<span ng-if="exam.StudentGrade" class="right-exam-grade">
									{{exam.StudentGrade}}
								</span>
								<span ng-if="exam.StudentGrade === 0" class="right-exam-grade-zero">
									{{exam.StudentGrade}}</span>
							</td>
							<td>
								<span ng-if="exam.Status != 3 || exam.Status != 4"></span>
							</td>

							<td>
								<i uib-tooltip="{{'studentOnlineExams.Description' | translate}} {{ exam.description}}"
									class="fa fa-info-circle" id="examtableinfo">
								</i>
							</td>
							<td>
								<i 	ng-if="exam.Status != 3"
									id="disabled"
									class="fa fa-bar-chart">
								</i>
								<i 	ng-if="exam.Status == 3"
									uib-tooltip="{{ 'studentOnlineExams.Range' | translate }}: {{exam.range}}"
									class="fa fa-bar-chart" id="examtablerange">
								</i>
							</td>
							<td>
								<i ng-if="exam.Status == 1 || exam.Status == 2"
									uib-tooltip="{{ 'studentOnlineExams.BeginExam' | translate}}"
									class="fa fa-sign-in"
									ng-click="beginExam(exam.ID)">
								</i>
								<i ng-if="exam.Status == 3"
									id="disabled"
									class="fa fa-sign-in">
								</i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>