@import (reference) "src/_variables";

.studentexams {
	@statusGreen:  #14892C;
	@statusYellow: #FDD017;
	@statusRed:    #D04437;
	@disabled:     #CCCCCC;

	/* Order arrows */
	.fa-angle-up, .fa-angle-down {
		float: right;
		color: #999;
		font-size: 16px;

		&:hover {
			color: #000;
			cursor: pointer;
		}
	}
	.fa-angle-down {
		padding-right: 4px;
		padding-left: 4px;
	}

	.examOngoing, .examNotStarted, .examClosed, .examFinished {
		font-size: 11px;
		font-weight: bold;
		padding: 2px 5px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 3px;
		border: 1px solid #ccc;
		border-radius: @centris-radius;
	}

	.examNotStarted {
		background-color: @statusRed;
		border-color: @statusRed;
	}
	.examOngoing {
		background-color: @statusYellow;
		border-color: @statusYellow;
	}
	.examFinished {
		background-color: @statusGreen;
		border-color: @statusGreen;
	}
	.examClosed {
		background-color: @disabled;
		border-color: @disabled;
	}
	/* Displays max xx characters in exam names */
	.name {
		max-width: 200px;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
	}

	#disabled {
		color: @disabled;
	}

	.panel-default {
		margin-top:20px;
	}

	.right-exam-grade {
		text-align: right;
		padding-left: 2em;
	}

	.right-exam-grade-zero {
		text-align: right;
		padding-left: 2.8em;
	}
}
