<div ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div ng-hide="loadingData">
	<div>
		<div class="announcementHeader">
			<h2>
				{{announcementDetail.Title}}
			</h2>
		</div>
	</div>

	<div class="announcement inDiscussionBoard">
		<p>
			<a ng-if="isTeacher" href=""
				uib-tooltip="{{'announcements.UpdateAnnouncement' | translate}}"
				ng-click="editAnnouncement()">
				<i class="fa fa-pencil-square-o fa-lg"></i>
			</a>
			<a ng-if="isTeacher" href=""
				uib-tooltip="{{'announcements.DeleteAnnouncement' | translate}}"
				ng-click="deleteAnnouncement()">
				<i class="fa fa-trash-o fa-lg"></i>
			</a>
			<span class="pull-right">
				{{announcementDetail.PublishDate | centrisDate}}
			</span>
		</p>
		<div ta-bind ng-model="announcementDetail.Body"></div>
	</div>

	<comments resourcetype="'announcement'" resourceid="rid"></comments>
</div>