@import (reference) "vendor/bootstrap/less/mixins";

// Convert tracking to letter spacing
.trackingToLetterSpacing(@tracking: 0) {
	letter-spacing: (1em * @tracking / 1000);
}

.darken-on-hover(@color) {
	background-color: @color;

	&:hover {
		background-color: darken(@color, 3%);
	}
}

.noselect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}