@import "vendor/bootstrap/less/variables";

// Colors
@gray-base: #000;
@gray-darker: #222;
@gray-dark: #333;
@gray: #555;
@gray-light: #777;
@gray-lighter: #fafafa;

@centris-red: #bf2a1d;
@centris-red-light: lighten(@centris-red, 18%);
@centris-red-dark: darken(@centris-red, 9%);
@centris-red-hover: darken(@centris-red, 3%);

@centris-blue: #07468C;
@centris-blue-light: lighten(@centris-blue, 18%);
@centris-blue-dark: darken(@centris-blue, 9%);
@centris-blue-hover: darken(@centris-blue, 3%);


@centris-green: #179917;
@centris-green-light: lighten(@centris-green, 18%);
@centris-green-dark: darken(@centris-green, 9%);
@centris-green-hover: darken(@centris-green, 3%);


@brand-primary: @centris-red;
@brand-success: @centris-green;
@brand-info: @centris-blue;
@brand-warning: #cd6206;
@brand-danger: @centris-red-dark;

@drop-box: #ddddbb;

@body-bg: #eee;
/* Change the color of the active tab: */
@nav-tabs-active-link-hover-bg: #fff;

@link-hover-color: @centris-red-dark;

/* Note: these colors were defined for the dashboard.
   TODO: ensure they don't conflict with other colors!
   another TODO: ensure they use a naming convention
   in line with the coding rules! */
@colorDanger: #d6222b;
@colorNeutral: #337AB7;
@colorSuccess: #1BAB24;
@navbarHeight: 57px;
@sidebarBlue: #337AB7;
@sidebarOrange: #F98E33;
@sidebarYellow: #FFE700;
@sidebarGreen: #1BAB24;

// Fonts
@font-family-sans-serif: 'Roboto', 'helvetica';
@eventTitleText: 14px;
@eventBodyText: 12px;

// Structure
@Page-paddingLeft: 225px;
@Page-paddingTop: 64px;

// Misc
@centris-radius: 3px;
// Bootstrap 3 radius
@border-radius-base: @centris-radius;
