@import "src/vendor/bootstrap/less/bootstrap.less";
@import "src/vendor/font-awesome/less/font-awesome.less";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

@fa-font-path: "fonts";

@import (reference) "_variables";
@import "modules/home/styles/_index";

/* Required for Angular UI Bootstrap */
.pagination, .carousel a {
	cursor: pointer;
}

html,
body {
	height: 100%;
}

body {
	padding-top: @Page-paddingTop;

	@media (min-width: @screen-sm-min) {
		padding-left: @Page-paddingLeft;
	}
}

.Sidebar-right-show {
	@media (min-width: @screen-sm-max) {
		padding-right: @Page-paddingLeft;
	}
}

.cellphone-specific {
	@media (max-width: @screen-xs-max) {
		padding: 0px;
	}
}

.Main {
	background: #fff;
	box-shadow: 0 1px 4px 0 fade(#000, 14%);
	margin: @grid-gutter-width / 2 0;
	padding: @grid-gutter-width / 2;
	position: relative;
	@media (max-width: @screen-xs-max) {
		margin: 5px 0px;
	}
}

/* Make sidebar nav vertical */
@media (min-width: 768px) {
	.affix-content .container {
		width: 500px;
	}

	.affix-content .container .page-header {
		margin-top: 0;
	}

	.affix-sidebar {
		padding-right:0;
		font-size:small;
		padding-left: 0;
	}
	.affix-row, .affix-container, .affix-content {
		height: 100%;
		overflow: scroll;
		margin-left: 0;
		margin-right: 0;
	}
	.affix-content {
		background-color:white;
	}
}

@media (min-width: 769px) {
	.affix-content .container {
		width: 600px;
	}
	.affix-content .container .page-header {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	.affix-content .container {
		width: 900px;
	}
	.affix-content .container .page-header {
		margin-top: 0;
	}
}

@media (min-width: 1220px) {
	.affix-content .container {
		width: 1000px;
	}

	.affix-content .container .page-header {
		margin-top: 0;
	}
	.affix-content {
		padding-right: 30px;
		padding-left: 30px;
	}
	.affix-title {
		border-bottom: 1px solid #ecf0f1;
		padding-bottom:10px;
	}
	.courseopt a {
		margin-left:14px;
	}
	.iconMenu {
		margin-left: 89px;
		margin-top: 14px;
	}
	.collapse {
		-webkit-transition: none;
		transition: none;
	}
}

.dropdown-menu li a {
	cursor: hand;
}

.panel {
	overflow: hidden;
}
/* The default style for accordions will transform the text to uppercase.
   This should hopefully override that. */
.panel-heading {
	border-radius: @centris-radius @centris-radius 0 0;
	text-transform: none !important;
}

/* We display link icons all over the place, and declare the size of it globally: */
.link-icon {
	height: 1.2em;
}

/* This one also seems to be used in several places. Ensures that content doesn't
   wrap to the next line. */
.stay-one-line {
	white-space: nowrap;
}

/* This change is mostly to ensure that tabs have some space between the actual tabs
and the tab content. */
.nav {
	margin-bottom: 1em;
}


// Tables: wrong place? move to a better .less file location
@media only screen and (max-width: 800px) {
	.table-sm-hide {
		display: none !important;
	}

	.table-collapse-head-color {
		background-color: @centris-red;
		color: white !important;
		& a {
			color: white;
			font-weight: 600;
		}
	}

	.table-collapse-button {
		position: absolute;
		top: 1px;
		left: 118px;
	}

	/* Overwrites the default behavior of angular-responsive-tables */
	.responsive td{
		padding-left: 120px !important;
	}
}

// There is an error where the buttons dont maintain the set color correctly. fix:
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	color: #fff;
	background-color: darken(@centris-red-dark, 3%);
	border-color: darken(@centris-red-dark, 10%);
}

:focus {
	outline: none !important;
}
