<div class="container-fluid">
	<div class="row">
		<div ng-repeat="student in students">
			<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 thumb">
				<div class="studentPictures">
					<a href="#/persons/{{student.Student.SSN }}">
						<centris-person-image class="imgFix" ssn="student.Student.SSN"></centris-person-image>
					</a>
				</div>
				<div>
					<a class="studentName" href="#/persons/{{student.Student.SSN }}"> {{ student.Student.Name }} </a>
				</div>
			</div>
		</div>
	</div>
</div>
