<div ui-view>
<centris-page-header page-title="announcements.Title">
	<button ng-if="isTeacher" class="pull-right announcements-button btn btn-primary"
		ng-click="addAnnouncement()">
		<span class="fa fa-plus"></span>
		<span translate='announcements.AddAnnouncement'></span>
	</button>
</centris-page-header>

<div class="col-sm-12" ng-show="loadingData">
	<uib-alert type="info">
		<span translate="Loading" />
	</uib-alert>
</div>

<div class="announcements" ng-hide="loadingData">

	<div class="announcement"
		ng-repeat="announcement in announcements | orderBy:'-PublishDate' track by announcement.ID">
		<p>
			<a class="announcementTitle"
				href="#/courses/{{courseInstanceID}}/announcements/{{announcement.ID}}">
				{{announcement.Title}}
			</a>
			<a href="#/courses/{{courseInstanceID}}/announcements/{{announcement.ID}}"
				ng-show="announcement.HasDiscussionBoard">
				<i uib-tooltip="{{'announcements.DiscussionBoard' | translate}}"
					class="fa fa-comment-o fa-lg">
					<span class="threadCounter">
						{{announcement.ThreadCount}}
					</span>
				</i>
			</a>
			<a href=""
				ng-if="isTeacher"
				ng-click="editAnnouncement(announcement)"
				uib-tooltip="{{'announcements.UpdateAnnouncement' | translate}}">
				<i class="fa fa-pencil-square-o fa-lg">
				</i>
			</a>
			<a href="" ng-if="isTeacher"
				ng-click="deleteAnnouncement(announcement.ID)"
				uib-tooltip="{{'announcements.DeleteAnnouncement' | translate}}">
				<i class="fa fa-trash-o fa-lg"></i>
			</a>
			<span class="pull-right">
				{{announcement.PublishDate | centrisDate}}
			</span>
		</p>
		<div ta-bind ng-model="announcement.Body"></div>
	</div>

	<div class="col-sm-12" ng-show="announcements.length === 0">
		<uib-alert type="info">
			<span translate="announcements.NoAnnouncements" />
		</uib-alert>
	</div>

</div>
</div>