body.pen-active {
	cursor: url('images/pencil.png'), auto !important; 
}

body.pen-active .textLayer > div {
	cursor: url('images/pencil.png'), auto !important;
}

body.move-active {
	cursor: move !important;
}

.annotation-container {
	position: absolute;  
}

.tool.canvas-text-tool {
	font-family: Georgia; 
}

.annotation-container.enter-comment {
	width: 346px !important; 
	border: 1px solid rgb(191, 42, 29);
}

.annotation-container.enter-comment .annotation-bubble {
	width: 340px !important; 
	border-radius: 0px; 
}

.annotation-container .annotation-input {
	display: none;
}

.annotation-container.enter-comment .annotation-input {
	display: block;
}

.annotation-selection-highlight {
	background: #a8d1ff !important; 
}

.annotation-input {
	padding-top: 46px; 
	background: white; 
	padding-bottom: 37px; 
}

.annotation-input.student {
	padding-bottom: 20px; 
}

.annotation-input textarea {
	width: 324px;
	margin: 0 10px;  
}

p.annotation-text {
	color: black;
	width: 324px;
	margin: 0 10px;
	font-size: 13px;
}

.annotation-bubble {
	background: rgb(191, 42, 29); 
	color: #ffffff;
	border-radius: 3px;
	padding: 3px;
	width: 30px; 
	height: 20px; 
	position: absolute; 
}

.chat-bubble {
	position: absolute;
	left: 0px; 
	width: 30px; 
	top: 0px;
	height: 24px; 
	background: url('images/comment-white.png') 6px 4px no-repeat;
	display: inline-block;
}

.btn { 
	border-radius: 3px; 
	padding: 1px 5px; 
	border: 0; 
}

.btn.btn-save {
	margin-left: 10px; 
	margin-right: 10px; 
	background: rgb(191, 42, 29); 
	color: white; 
}

.btn-save, .btn-cancel {
	position: relative;
	top: 7px; 
	display: block;
	float: left; 
}

.textLayer {
	opacity: 1 !important; /* This might be a bad idea, overriding styles from pdf.js */ 
}

button.tool {
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.380392);
	color: white; 
	border-radius: 2px; 
	margin: 3px 0 0 5px;
	padding: 3.5px 10px; 
	font-size: 12px;
	font-weight: bold;
	transition: opacity 0.5s ease;
}

input.color-picker {
	background: transparent; 
	border: 1px solid rgba(0, 0, 0, 0.380392);
	margin-left: 5px;
	margin-top: 3px;  
	height: 21px; 
	width: 30px; 
}

button.tool.active {
	background: rgba(0, 0, 0, 0.2); 
}

button.tool:hover {
	background: rgba(0, 0, 0, 0.2);
}

body {
	background: rgb(238, 238, 238); 
}

#toolbarContainer {
	background: rgb(191, 42, 29); 
}

.annotation-container i.fa-times {
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	cursor: pointer;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
		Introduced in IE 10.
		See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

canvas.overlay {
	background: transparent;
	position: absolute;
	top: 0; 
	left: 0; 
}

.annotator-hidden {
	opacity: 0 !important;  
}

textarea.canvas-text {
	width: 324px;
	position: absolute; 
}