<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
	<table class="table-condensed form-group">
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_Address">Address</span></b>
			</td>
			<td>
				<span>{{settings.Address}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_Postcode">Postcode</span></b>
			</td>
			<td>
				<span>{{settings.Postcode}}</span>
			</td>
		</tr>

		<tr>
			<td>
				<b><span translate="ProfilePage.Table_Nationality">Nationality</span></b>
			</td>
			<td>
				<select class="form-control">
					<option>{{settings.Nationality}}</option>
				</select>
				<!-- <select class="form-control">
					<option selected>Ísland</option>
					<option>Bretland</option>
					<option>Need to add countries here</option> 
				</select>
				<span>{{personalInformations.Nationality}}</span> --><!-- This is the 'real' nationality -->
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_CurrAddr" /></b>
			</td>
			<td>
				<input type="text"
					   class="form-control"
					   ng-model="settings.CurrentAddress">
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_CurrPost" /></b>
			</td>
			<td>
				<input type="text"
					   class="form-control"
					   ng-model="settings.CurrentPostcode">
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_Mobile" /></b>
			</td>
			<td>
				<input type="tel"
					   class="form-control"
					   ng-model="settings.Mobile">
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_HomePhone" /></b>
			</td>
			<td>
				<input type="tel"
					   class="form-control"
					   ng-model="settings.HomePhone">
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_PersonalEmail" /></b>
			</td>
			<td>
				<input type="text"
					   class="form-control"
					   ng-model="settings.PersonalEmail">
			</td>
		</tr>
		<tr>
			<td>
				<b><span translate="ProfilePage.Table_DisplayPic" /></b>
			</td>
			<td>
				<select class="form-control">
					<option translate="ProfilePage.DropDown.Table_RUregistry"></option>
					<option selected translate="ProfilePage.DropDown.Table_Teachers"></option>
					<option translate="ProfilePage.DropDown.Table_TeachersAndStudents"></option>
					<option translate="ProfilePage.DropDown.Table_OuterWeb"></option>
				</select>
			</td>
		</tr>

	</table>
	<button class="pull-left btn btn-primary btn-save"
		    ng-click="updatePersonal(settings)">
			<span translate="ProfilePage.SaveChanges"></span>
	</button>
</div>