@import "src/vendor/bootstrap/less/variables.less";
@import "src/vendor/font-awesome/less/font-awesome.less";

iframe {
	margin: 0 auto;
	display: block;
	width: 420px;
	height: 315px;
}
.ng-binding.ng-isolate-scope p {
	white-space: pre-line;
}

.tooltip {
	width: auto !important;
	height: auto !important;
	background: none !important;
}


#discussionBoard {
	width: 100%;

	span, p, text, strong, h1, h2, h3 {
		cursor:default;
	}
	.editor {

		.md-editor {
			width: 49%;
			float: left;

			.btn-toolbar {
				button[title="Heading"] {
					display: none;
				}
			}
			textarea {
				padding-left: 10px;
				background: white;
			}
		}
		.md-thread-preview {
			width: 49%;
			float: right;


			h3 {
				margin-top: 6px;
				margin-bottom: 10px;
			}
			hr {
				margin:0;
				padding: 0;
			}
		}
	}

	.allThreadsTable {

		.threadTitle {
			font-weight: bold;
		}

		.threadAuthor {
			font-size: 13px;
		}
	}

	.allThreads {
		table {

			td, span, p {
				cursor:pointer;
			}

			th {
				background: white;
			}
		}
		.threadNavi {
			padding-bottom: 10px;
			padding-top: 10px;
			text-align: center;

			.next {
				float: right;
				margin-top: 3px;
				cursor:pointer;
			}
			.prev {
				float: left;
				margin-top: 3px;
				cursor:pointer;

			}
			.tooltip {
				max-width:150px;
			}
			&:hover {
				background-color: white;
			}
		}
		.selected {
			background: #EEEEEE;
			border-left: 1px solid @brand-primary;
			border-right: 4px solid @brand-primary;
			border-bottom: white;
		}
		.subBorder {
			border-right: 4px solid @brand-success;
		}
	}

	.textArea {
		height: 4em;
		resize: none;
		width: 100%;
		margin-bottom: 3px;
	}

	.textTitle {
		margin-bottom: 3px;
	}

	.newThread {
		padding-top: 10px;
		background-color: #FFFFFF;
		margin-bottom: 10px;

		.anonText {
			margin-left: 20px;
		}

		.emptyThread {
			display: block;
			margin-left: -15px;
		}
	}

	.dropdown-menu {
		width: 160px !important;
		cursor:pointer;

		input, span, li {
			cursor: pointer;
		}
	}

	.dropdownAnon.active {
		background: #EEEEEE;
		box-shadow: none;
		border-top: 1px solid @brand-primary;
		border-bottom: 1px solid @brand-primary;
	}

	.fileinputButton {
		position: relative;
		overflow: hidden;
		float: left;
		margin-right: 4px;
		width: 100%;
		height: 26px;

		input {
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			border: solid transparent;
			border-width: 0 0 100px 200px;
			opacity: 0;
			filter: alpha(opacity=0);
			-moz-transform: translate(-300px, 0) scale(4);
			direction: ltr;
		}

		span {
			padding-left: 20px;
		}

		&:hover {
			background-color: @gray-lighter;
		}
	}

		.thisThread {
		padding: 0;
		margin: 0;

		h3 {
			padding-left: 15px;
		}

		.attachments {
			padding-top:10px;
		}

		.threadTitle {
			height: 20px;
		}

		.editor {
			.md-editor {
				width: 100%;
			}

			.md-thread-preview {
				width: 100%;
			}
		}

		.options {
			 margin-right: 20px;
		}
	}
	.options {
		margin-right: 20px;
		cursor: pointer;
		margin-top: -35px;

		.dropdown-menu {
			width: 140px !important;
			min-width: 100px;
		}
	}

	.anonText {
		margin-left: 5px;
		padding-top: 8px;
		position: absolute;
	}

	.userImg {
		max-width: 110px;
		min-width: 110px;
		width: 100%;

		.img-polaroid {
			max-width: 80px;
			float: none !important;
			margin-left:0px;
		}
	}

	.userImgReplies {
		max-width: 80px;
		min-width: 80px;
		min-height: 110px;

		.img-polaroid {
			max-width: 50px;
		}
	}

	.likes {
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;

		.tooltip-inner {
				white-space:nowrap;
				max-width:none;
		}

		.likeButton {
			cursor: pointer;
		}

		a {
			padding-left: 3px;
		}

		span {
			padding-left: 27px;
		}
	}

	.replies {
		padding: 0;
		margin: 0;
		padding-bottom: 20px;

		.likes span {
			padding-left: 14px;
		}

		.editor {
			.md-editor {
				width: 100%;
			}

			.md-thread-preview {
				width: 100%;
			}
		}

		.new {
			.md-editor {
				width: 49%;
			}

			.md-thread-preview {
				width: 49%;
			}
		}

		.threadReply {
			padding-left: 45px;
		}
	}
}
