<div class="input-box-field">
	<strong>
		{{'questionGrading.Comments' | translate}}
	</strong>

	<text-angular
		ng-model="obj.Answer.TeachersComment"
		ondrop="return false;"
		maxheight="60px"
		ta-toolbar="[
			['h1', 'h2', 'h3', 'p'],
			['bold', 'italics', 'underline'],
			['ul', 'ol'],
			['justifyLeft', 'justifyCenter', 'justifyRight'],
			['insertImage', 'insertLink', 'insertVideo', 'html']
		]"
		ta-toolbar-group-class="btn-group btn-group-xs">
	</text-angular>
</div>

<div class="form-group">
	<label for="gradingnumber">{{'onlineExams.Points' | translate}}</label>

		<!-- The input-group/input-group-btn combination ensures we can put
		the save button at the end of the input -->
		<div class="input-group">
			<input type="text"
				ng-model="obj.Answer.StudentGrade"
				class="form-control" />
			<span class="input-group-btn">
				<button ng-click="onSaveGrade()"
					class="btn btn-primary" translate="Save" >
				</button>
			</span>
		</div>

	<label>
		{{'onlineExams.Of' | translate}} {{weight}} 
	</label>
</div>
