<div ng-intro-options="IntroOptions"
	 ng-intro-method="ShowCourseInstanceIntro"
	 ng-intro-autostart="false">
</div>
<div class="row"
     ng-show="isTeacher">
	<div class="col-xs-12">
		<button class="btn btn-primary btn-sm pull-right"
		        ui-sref="courseinstance.studyplan()">
			<i class="fa fa-pencil" />
			<span translate="Edit" />
		</button>
	</div>
</div>
<div class="study-plan-container">
	<study-plan-stint
		studyplan="studyPlan"
		ng-repeat="stint in studyPlan.Stints"
		ng-model="stint">
	</study-plan-stint>
	<uib-alert ng-if="studyPlan.Stints.length === 0 && !loadingData">
		{{ 'studyplan.Msg.NoStudyPlanMsg' | translate }}
	</uib-alert>

	<uib-alert type="info" ng-if="loadingData">
		<span translate="Loading" />
	</uib-alert>
</div>
