<div ng-controller="NotificationController" uib-dropdown>
	<a href="javascript:;"
		class="dropdown-toggle"
		data-toggle="dropdown"
		uib-dropdown-toggle>
		<i class="fa fa-bell nav-icon"></i>
		<span class="badge badge-warning" ng-hide="count < 1">{{count}}</span>
	</a>

	<audio id="notificationAudio">
		<source src="assets/audio/notification.mp3" type="audio/mpeg" />
		<source src="assets/audio/notification.ogg" type="audio/ogg" />
	</audio>

	<div class="uib-dropdown-menu notifications-dropdown-menu pull-right">

		<!-- Limit the number of items to 8, which seems to fit a standard desktop screen. -->
		<ul class="list-group">
			<li ng-class="{'read': n.Read, 'unread': !n.Read, 'list-group-item': true}"
				ng-repeat="n in notifications | limitTo: 8 track by $index"
				ng-click="putReadNotification(n)">
				<div class="notification-menu-item"
					ng-include="getNotificationView(n)" />
			</li>
		</ul>

		<a class="Pill Pill--emphasis notifications-pill" href="#/notifications">{{'notifications.AllNotifications' | translate}}</a>
	</div>
</div>
